In [1]:
import requests
from env import Client_ID
from bs4 import BeautifulSoup
from igdb.wrapper import IGDBWrapper
import os
import pandas as pd
import json
import time
import env
from requests.models import Request, Response
from typing import Dict, List, Optional, Union, cast

## connect to api

In [2]:
def connect_api():   
    url = env.get_db_url()
    response = requests.post(url)
    data = response.json()
    access_token = data['access_token']
    return access_token

In [3]:
access_token = connect_api()

In [4]:
def run_wrapper():
    wrapper = IGDBWrapper(f'{Client_ID}', f'{access_token}')
    return wrapper

In [5]:
def connect_to_games():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; popularity;sort popularity desc;'
    r = requests.post('https://api.igdb.com/v4/games' ,data=data ,  headers=headers)
    return r

In [6]:
# function that puts response list object into a dataframe for each page
def get_game_library(wrapper):
    game_library = pd.DataFrame()
    for i in range (0, 409):
        games = wrapper.api_request('games', 'fields *; limit 500;' f'offset {i * 500};')
        y = json.loads(games)
        results_df =pd.DataFrame(y)
        game_library = pd.concat([game_library, results_df])
    return game_library

In [7]:
wrapper = run_wrapper()

In [8]:
wrapper

In [ ]:
tf = connect_to_games()

In [ ]:
tf

In [9]:
df = get_game_library(wrapper)

In [ ]:
# df = pd.read_csv('games.csv', index_col='Unnamed: 0')

In [ ]:
# pd.set_option('display.max_columns', None)
# df.head()

In [ ]:
# pd.set_option('display.max_columns', None)
# df.head()

## Extra work

In [ ]:
frames = [df, game_modes]

In [ ]:
result = pd.concat(frames)

In [ ]:
type(frames)

In [ ]:
type(game_modes)

In [ ]:
result.tail(10)

In [ ]:
result = pd.concat([df, game_modes], axis=1)

In [ ]:
result

In [ ]:
results = pd.merge(df, game_mode, how = 'left', on="game_modes")

In [ ]:
results

### Data frame work

In [ ]:
df.info()

In [ ]:
df.game_modes.value_counts()

In [ ]:
# Here i am making this a string with no brackets

In [ ]:
df["game_modes"] = df["game_modes"].str.replace("[\]\[]",'')

In [ ]:
df.game_modes.value_counts()

In [ ]:
#this is a merge that actually works
#but does not work when there is a list of numbers sadly 
#results = pd.merge(df, game_modes, how = 'left', on="game_modes")

In [ ]:
results.tail(20)

In [ ]:
results.info()

In [ ]:
def to_1D(series):
    return pd.Series([x for _list in series for x in _list])

In [ ]:
to_1D(df["game_modes"])

In [ ]:
type(game_modes)

In [ ]:

df["game_modes"].apply(pd.Series)

In [ ]:
df['game_modes'].replace([[1],['2'], ['3'], ['4']], [['Single player'], ['Multiplayer'], ['CO-op'], ['split screen']])

In [ ]:
L = ['Single player'], ['Multiplayer'], ['CO-op'], ['split screen']
    
for x in L:
    df.loc[df['column'].str.contains(x), "column"]= x
print (df)

In [ ]:
#df["game_modes"] = df["game_modes"].str.replace("[\]\[]",'')

In [ ]:
df['game_modes'].replace(['1'], ['Single player']).value_counts()

In [ ]:
#game_mode = game_mode.rename(columns={"game_mode_id": "game_modes"})

In [ ]:
df.tail()

In [ ]:
#df['game_modes'] = df['game_modes'].replace([['1,2'],['1,2,3']], [['Single player, multiplayer'], ['single player, Multiplayer, co-op']])

In [ ]:

# df['game_modes'] = df['game_modes'].fillna('7').apply(list)
# df.head()

In [ ]:
#df['game_modes'] = df['game_modes'].fillna(7)

# Aquiring diffrent data

# game modes

In [10]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/game_modes' ,data=data ,  headers=headers)

In [11]:
game_modes = wrapper.api_request('game_modes', 'fields *;limit 500;')

In [12]:
x = json.loads(game_modes)

In [13]:
game_mode =pd.DataFrame(x)

In [14]:
game_mode

,id,created_at,name,slug,updated_at,url,checksum
0,1,1298937600,Single player,single-player,1323216000,https://www.igdb.com/game_modes/single-player,a43b1688-f968-3541-0897-9735ffde1745
1,2,1298937600,Multiplayer,multiplayer,1323216000,https://www.igdb.com/game_modes/multiplayer,288b548c-11e4-d910-f037-21d4e6a33b38
2,3,1298937600,Co-operative,co-operative,1323216000,https://www.igdb.com/game_modes/co-operative,e8329d55-33e6-f7ae-ae09-2848cb7ccc90
3,4,1298937600,Split screen,split-screen,1323216000,https://www.igdb.com/game_modes/split-screen,98247b75-6f46-7c77-521f-0945c684d842
4,5,1298937600,Massively Multiplayer Online (MMO),massively-multiplayer-online-mmo,1323216000,https://www.igdb.com/game_modes/massively-mult...,307d1126-6e3b-9215-06f1-10c8ecce05b4
5,6,1588809600,Battle Royale,battle-royale,1588809600,https://www.igdb.com/game_modes/battle-royale,bfc388ac-0502-ba05-af25-3dcc94a0acf3

> the function

In [ ]:
# def get_game_modes():
#     headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
#     data = 'fields *; limit 500;'
#     r = requests.post('https://api.igdb.com/v4/game_modes' ,data=data ,  headers=headers)
#     game_modes = wrapper.api_request('game_modes', 'fields *;limit 500;')
#     x = json.loads(game_modes)
#     game_modes =pd.DataFrame(x)
#     return game_modes

In [ ]:
######## modelist ##########

In [15]:
modelist = game_mode[['id' , 'slug']].sort_values(by='id').reset_index(drop=True)

In [16]:
modelist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      6 non-null      int64
 1   slug    6 non-null      object
dtypes: int64(1), object(1)
memory usage: 224.0+ bytes

In [17]:
modelist

   id                              slug
0   1                     single-player
1   2                       multiplayer
2   3                      co-operative
3   4                      split-screen
4   5  massively-multiplayer-online-mmo
5   6                     battle-royale

In [ ]:
###### Mode dict ############

In [18]:
mode_dict = modelist.set_index('id').to_dict()['slug']

In [19]:
mode_dict

{1: 'single-player',
 2: 'multiplayer',
 3: 'co-operative',
 4: 'split-screen',
 5: 'massively-multiplayer-online-mmo',
 6: 'battle-royale'}

In [20]:
######### test function ########

In [21]:
def test_funct(random_list):
    if type(random_list) == list:
        return [mode_dict[i] for i in random_list]
    else:  
        return "Not available"

In [22]:
##### Merging ########

In [23]:
df['game_modes'] = pd.DataFrame(df.game_modes.apply(test_funct))
#ignore the error

In [24]:
df.head(3)

,id,category,created_at,external_games,first_release_date,genres,name,platforms,release_dates,similar_games,...,aggregated_rating_count,multiplayer_modes,remasters,remakes,dlcs,ports,expansions,expanded_games,forks,standalone_expansions
0,40104,0,1498435200,"[20127, 1988884]",5.364576e+08,[5],Dogou Souken,[52],[91007],"[12364, 27270, 43367, 103281, 103292, 103298, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,85031,0,1517392813,"[216805, 1969751, 2005770]",1.404346e+09,[9],City Mysteries,[37],[138333],"[10603, 19222, 25905, 41349, 86974, 87507, 885...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,99234,0,1524843905,"[603512, 1857496, 1917109]",1.527120e+09,"[31, 32]",Sword of the Black Stone,[6],[188385],"[25646, 29783, 68271, 80916, 96217, 105269, 10...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df.game_modes.value_counts()

Not available                                                                                  107228
[single-player]                                                                                 70744
[single-player, multiplayer]                                                                    10945
[single-player, multiplayer, co-operative]                                                       5214
[multiplayer]                                                                                    1940
[single-player, multiplayer, split-screen]                                                       1277
[single-player, co-operative]                                                                    1083
[single-player, split-screen]                                                                    1026
[massively-multiplayer-online-mmo]                                                               1021
[multiplayer, co-operative]                                                                       745
[multiplayer, massively-multiplayer-online-mmo]                                                   634
[single-player, multiplayer, co-operative, split-screen]                                          581
[single-player, multiplayer, co-operative, massively-multiplayer-online-mmo]                      461
[multiplayer, co-operative, massively-multiplayer-online-mmo]                                     366
[single-player, multiplayer, massively-multiplayer-online-mmo]                                    324
[single-player, co-operative, split-screen]                                                       143
[single-player, massively-multiplayer-online-mmo]                                                 121
[co-operative]                                                                                    107
[multiplayer, battle-royale]                                                                      103
[battle-royale]                                                                                    87
[multiplayer, co-operative, battle-royale]                                                         45
[multiplayer, split-screen]                                                                        42
[single-player, multiplayer, battle-royale]                                                        32
[multiplayer, co-operative, split-screen]                                                          27
[split-screen]                                                                                     27
[single-player, multiplayer, co-operative, battle-royale]                                          26
[co-operative, massively-multiplayer-online-mmo]                                                   18
[multiplayer, massively-multiplayer-online-mmo, battle-royale]                                     16
[single-player, co-operative, massively-multiplayer-online-mmo]                                    15
[single-player, multiplayer, co-operative, massively-multiplayer-online-mmo, battle-royale]        13
[multiplayer, co-operative, massively-multiplayer-online-mmo, battle-royale]                       12
[single-player, multiplayer, co-operative, split-screen, massively-multiplayer-online-mmo]         11
[single-player, multiplayer, split-screen, massively-multiplayer-online-mmo]                        9
[single-player, multiplayer, co-operative, split-screen, battle-royale]                             9
[co-operative, split-screen]                                                                        8
[massively-multiplayer-online-mmo, battle-royale]                                                   8
[single-player, multiplayer, split-screen, battle-royale]                                           6
[single-player, battle-royale]                                                                      6
[single-player, co-operative, battle-royale]                                                        5
[single-player, multiplayer, massively-multiplayer-online-mmo, battle-royale]                       4
[multiplayer, split-screen, battle-royale]                                                          3
[single-player, split-screen, massively-multiplayer-online-mmo]                                     2
[multiplayer, co-operative, split-screen, massively-multiplayer-online-mmo]                         1
[split-screen, battle-royale]                                                                       1
[single-player, massively-multiplayer-online-mmo, battle-royale]                                    1
[single-player, split-screen, battle-royale]                                                        1
[co-operative, battle-royale]                                                                       1
[multiplayer, split-screen, massively-multiplayer-online-mmo]                                       1
Name: game_modes, dtype: int64

# game_version (do not need this one)

In [ ]:
# headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
# data = 'fields *; limit 500;'
# r = requests.post('https://api.igdb.com/v4/game_versions' ,data=data ,  headers=headers)

In [ ]:
# game_versions = wrapper.api_request('game_versions', 'fields *;limit 500;')

In [ ]:
# x = json.loads(game_versions)

In [ ]:
# game_versions =pd.DataFrame(x)

In [ ]:
# game_versions

In [ ]:
# pd.set_option('display.max_columns', None)
# df.head()

In [ ]:
# df.version_parent.value_counts()

In [ ]:
# df.version_title.value_counts()

> ## the function

In [ ]:
# def get_game_version():
#     headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
#     data = 'fields *; limit 500;'
#     r = requests.post('https://api.igdb.com/v4/game_versions' ,data=data ,  headers=headers)
#     game_versions = wrapper.api_request('game_versions', 'fields *;limit 500;')
#     x = json.loads(game_versions)
#     game_versions =pd.DataFrame(x)
#     return game_version

In [ ]:
# def test_funct(random_list):
#     if type(random_list) == list:
#         return [mode_dict[i] for i in random_list]
#     else:  
#         return "Not available"

In [ ]:
# def get_game_version(wrapper):
#     get_game_version = pd.DataFrame()
#     for i in range(0,409):
#         game_versions = wrapper.api_request('game_versions', 'fields *;limit 500;')
#         y = json.loads(game_versions)
#         results_df =pd.DataFrame(y)
#         get_game_version = pd.concat([get_game_version, results_df])
#     return get_game_version

# game_version_features

In [26]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/game_version_features' ,data=data ,  headers=headers)

In [27]:
game_version_features = wrapper.api_request('game_version_features', 'fields *;limit 500;')

In [28]:
x = json.loads(game_version_features)

In [29]:
game_versions_features =pd.DataFrame(x)

In [30]:
game_versions_features

,id,category,description,position,title,values,checksum
0,337,0.0,Sharpens your aim with rifles and pistols. Alw...,1,DLC: The Sharpshooter Detective Suit,"[1385, 1386, 1387, 1388]",a10d3ebf-ae3a-f0cc-fc68-116b1545a9ac
1,347,0.0,NaN,0,"25 cm (10"") figurine of an Alb Mage","[1419, 1420]",2a42989b-4936-75bc-6331-0ce79abb225a
2,352,0.0,NaN,5,A making of DVD,"[1429, 1430]",bb46d55f-7145-0b5c-2f69-cea9dd2570d6
3,375,0.0,Double sided print of the in-game island,2,Collectible map,"[1519, 1520, 1521, 1522, 1523]",8a9ea6d0-b5f1-ece2-cd5d-61636d639ad0
4,382,0.0,"Exclusive to TESCO in the UK, it included thre...",9,Combat Strike Pack,"[1554, 1555, 1556, 1557, 1558]",263031ce-acb2-69a2-ab66-240dbaad4f4d
...,...,...,...,...,...,...,...
440,17,NaN,NaN,0,Season Pass,NaN,c27cf85d-4af5-9fc1-6f59-52a9624f9490
441,456,0.0,created in collaboration with Dark Horse Comic...,1,Full-color print comic book,"[1773, 1774, 1775, 1776]",218da9c1-cc23-cc6d-a50a-72ba78203f66
442,459,0.0,Full-color printed map of the world of Conan E...,4,World Map,"[1785, 1786, 1787, 1788]",3f282aa8-abeb-8fb8-2dc7-5277c451c0aa
443,555,0.0,NaN,0,Limited edition figurine,"[2154, 2155]",a655f38f-4322-fb48-6d4e-8bc71f3834c0
444,556,0.0,NaN,1,In-game unlockable code,"[2156, 2157]",323f6799-6718-6ffc-08d5-5164ba5a7f1d

In [31]:
game_vf_df = game_versions_features[['id','description', 'title']]

In [32]:
game_vf_df

,id,description,title
0,337,Sharpens your aim with rifles and pistols. Alw...,DLC: The Sharpshooter Detective Suit
1,347,NaN,"25 cm (10"") figurine of an Alb Mage"
2,352,NaN,A making of DVD
3,375,Double sided print of the in-game island,Collectible map
4,382,"Exclusive to TESCO in the UK, it included thre...",Combat Strike Pack
...,...,...,...
440,17,NaN,Season Pass
441,456,created in collaboration with Dark Horse Comic...,Full-color print comic book
442,459,Full-color printed map of the world of Conan E...,World Map
443,555,NaN,Limited edition figurine
444,556,NaN,In-game unlockable code

In [33]:
game_vf_df = game_vf_df.rename(columns={'description': 'version_description', 'title': 'title_version'})

In [34]:
game_vf_df

,id,version_description,title_version
0,337,Sharpens your aim with rifles and pistols. Alw...,DLC: The Sharpshooter Detective Suit
1,347,NaN,"25 cm (10"") figurine of an Alb Mage"
2,352,NaN,A making of DVD
3,375,Double sided print of the in-game island,Collectible map
4,382,"Exclusive to TESCO in the UK, it included thre...",Combat Strike Pack
...,...,...,...
440,17,NaN,Season Pass
441,456,created in collaboration with Dark Horse Comic...,Full-color print comic book
442,459,Full-color printed map of the world of Conan E...,World Map
443,555,NaN,Limited edition figurine
444,556,NaN,In-game unlockable code

> ## the function

In [ ]:
# def get_game_v_features():
#     headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
#     data = 'fields *; limit 500;'
#     r = requests.post('https://api.igdb.com/v4/game_version_features' ,data=data ,  headers=headers)
#     game_version_features = wrapper.api_request('game_version_features', 'fields *;limit 500;')
#     x = json.loads(game_version_features)
#     game_versions_features =pd.DataFrame(x)
#     return game_versions_features

In [ ]:
# def get_game_v_features(wrapper):
#     get_game_v_features =pd.DataFrame()
#     for i in range(0,409):
#         game_version_features = wrapper.api_request('game_version_features', 'fields *;limit 500;')
#         y = json.loads(game_version_features)
#         results_df =pd.DataFrame(y)
#         game_version_features = pd.concat([game_version_features,results_df])
#     return

# game_version_feature_values

In [35]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/game_version_feature_values' ,data=data ,  headers=headers)

In [36]:
game_version_feature_values = wrapper.api_request('game_version_feature_values', 'fields *;limit 500;')

In [37]:
x = json.loads(game_version_feature_values)

In [38]:
gamevfv_df=pd.DataFrame(x)

In [39]:
gamevfv_df

,id,game,game_feature,included_feature,checksum,note
0,1581,52617,391,0.0,1db62035-9135-3d01-25a5-9c194d8fbd8f,NaN
1,1590,52617,394,0.0,e2e097d5-c88d-d6ea-48cf-1f5288f6bbe2,NaN
2,591,39045,144,0.0,6ee07864-0f1b-d41f-e2a5-e7dc2731d9a0,NaN
3,1987,83886,503,2.0,612d4e1b-a3b2-60e4-680a-064c0837f71e,NaN
4,1600,19333,399,0.0,ba6dcc29-45c7-6412-ebce-da6731910fb9,NaN
...,...,...,...,...,...,...
495,1186,41637,298,0.0,6a2e38c1-1d55-4035-dd6e-1171c078f330,NaN
496,1188,28210,298,0.0,8d9fd115-84aa-2cc7-da8e-ed3de3bfa315,NaN
497,1194,9536,292,0.0,59cbc7b7-1ea2-2a93-1aed-5b1973175147,NaN
498,1192,9536,290,1.0,7eb1188a-13c2-b35e-d69e-1909438af148,NaN
499,1201,42941,299,0.0,f05efb80-16d7-4540-acdc-56b8669464c5,NaN

> ## the function

In [ ]:
# def get_version_features_values():
#     headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
#     data = 'fields *; limit 500;'
#     r = requests.post('https://api.igdb.com/v4/game_version_feature_values' ,data=data ,  headers=headers)
#     game_version_feature_values = wrapper.api_request('game_version_feature_values', 'fields *;limit 500;')
#     x = json.loads(game_version_feature_values)
#     game_versions_feature_values =pd.DataFrame(x)
#     return game_versions_feature_values

In [ ]:
# def get_value_feature_values(wrapper):
#     get_value_feature_values= pd.DataFrame()
#     for i in range (0, 409):
#         gvf_values = wrapper.api_request('game_feature', 'fields *; limit 500;' f'offset {i * 500};')
#         y = json.loads(gvf_values)
#         results_df =pd.DataFrame(y)
#         get_value_feature_values = pd.concat([vf_values, results_df])
#     return get_vf_values

In [ ]:
########### This needs a wrapper ##########

In [43]:
def vf_values(wrapper):
    vf_values= pd.DataFrame()
    for i in range (0, 409):
        gvf_values = wrapper.api_request('game_version_feature_values', 'fields *; limit 500;' f'offset {i * 500};')
        y = json.loads(gvf_values)
        results_df =pd.DataFrame(y)
        vf_values = pd.concat([vf_values, results_df])
    return vf_values

In [44]:
gamevfv_df = vf_values(wrapper)

In [45]:
gamevfv_df

,id,game,game_feature,included_feature,checksum,note
0,1581,52617,391,0.0,1db62035-9135-3d01-25a5-9c194d8fbd8f,NaN
1,1590,52617,394,0.0,e2e097d5-c88d-d6ea-48cf-1f5288f6bbe2,NaN
2,591,39045,144,0.0,6ee07864-0f1b-d41f-e2a5-e7dc2731d9a0,NaN
3,1987,83886,503,2.0,612d4e1b-a3b2-60e4-680a-064c0837f71e,NaN
4,1600,19333,399,0.0,ba6dcc29-45c7-6412-ebce-da6731910fb9,NaN
...,...,...,...,...,...,...
17,1983,53012,503,2.0,74eacd56-d0fa-62ab-a961-df386c4cd140,NaN
18,2155,193391,555,1.0,2eb547da-7c57-147e-1bdd-9d9b8dcc3eac,NaN
19,2154,5116,555,0.0,d257f647-5899-a6e0-fca6-516809965ba1,NaN
20,2156,5116,556,0.0,bc29ab0a-9945-f712-2de9-752bb23c3524,NaN
21,2157,193391,556,1.0,507e55ed-c9ac-19c6-da91-5000ce3e51cb,NaN

In [46]:
gamevfv_df = gamevfv_df[['game','game_feature']]

In [47]:
gamevfv_df

      game  game_feature
0    52617           391
1    52617           394
2    39045           144
3    83886           503
4    19333           399
..     ...           ...
17   53012           503
18  193391           555
19    5116           555
20    5116           556
21  193391           556

[1522 rows x 2 columns]

In [48]:
gamevfv_df = gamevfv_df.rename(columns={"game_feature": "id"})

In [49]:
gamevfv_df = gamevfv_df.set_index('id')

In [50]:
gamevfv_df

       game
id
391   52617
394   52617
144   39045
503   83886
399   19333
..      ...
503   53012
555  193391
555    5116
556    5116
556  193391

[1522 rows x 1 columns]

## Merging `game_verion_feature` & `game_version_feature_value` to the main dataframe

In [51]:
gamevfv_df

       game
id
391   52617
394   52617
144   39045
503   83886
399   19333
..      ...
503   53012
555  193391
555    5116
556    5116
556  193391

[1522 rows x 1 columns]

In [52]:
#merging the game_verion_feature & game_version_feature_value
results_df = pd.merge(gamevfv_df,  game_vf_df , how = 'left', on="id")

In [57]:
results_df

,id,game,version_description,title_version
0,391,52617,"Delve into the mystery of the Shining Lady, Ca...",Field Report with Removable Coin
1,394,52617,Show the world you've joined the siege with th...,Siege of Dragonspear Amulet
2,144,39045,NaN,Bayek’s Eagle Skull Amulet
3,503,83886,Doomsday Prepper Pack includes the prepper out...,Doomsday Prepper Pack
4,399,19333,Prospect Mask with a display base,Prospect Mask
...,...,...,...,...
1517,503,53012,Doomsday Prepper Pack includes the prepper out...,Doomsday Prepper Pack
1518,555,193391,NaN,Limited edition figurine
1519,555,5116,NaN,Limited edition figurine
1520,556,5116,NaN,In-game unlockable code
1521,556,193391,NaN,In-game unlockable code

In [59]:
results_df

,id,game,version_description,title_version
0,391,52617,"Delve into the mystery of the Shining Lady, Ca...",Field Report with Removable Coin
1,394,52617,Show the world you've joined the siege with th...,Siege of Dragonspear Amulet
2,144,39045,NaN,Bayek’s Eagle Skull Amulet
3,503,83886,Doomsday Prepper Pack includes the prepper out...,Doomsday Prepper Pack
4,399,19333,Prospect Mask with a display base,Prospect Mask
...,...,...,...,...
1517,503,53012,Doomsday Prepper Pack includes the prepper out...,Doomsday Prepper Pack
1518,555,193391,NaN,Limited edition figurine
1519,555,5116,NaN,Limited edition figurine
1520,556,5116,NaN,In-game unlockable code
1521,556,193391,NaN,In-game unlockable code

In [61]:
results_df = results_df.rename(columns={'id': 'second','game': 'id', })

In [62]:
results_df

,second,id,version_description,title_version
0,391,52617,"Delve into the mystery of the Shining Lady, Ca...",Field Report with Removable Coin
1,394,52617,Show the world you've joined the siege with th...,Siege of Dragonspear Amulet
2,144,39045,NaN,Bayek’s Eagle Skull Amulet
3,503,83886,Doomsday Prepper Pack includes the prepper out...,Doomsday Prepper Pack
4,399,19333,Prospect Mask with a display base,Prospect Mask
...,...,...,...,...
1517,503,53012,Doomsday Prepper Pack includes the prepper out...,Doomsday Prepper Pack
1518,555,193391,NaN,Limited edition figurine
1519,555,5116,NaN,Limited edition figurine
1520,556,5116,NaN,In-game unlockable code
1521,556,193391,NaN,In-game unlockable code

In [63]:
results_df = results_df.set_index('id')

In [64]:
results_df

,second,version_description,title_version
id,,,
52617,391,"Delve into the mystery of the Shining Lady, Ca...",Field Report with Removable Coin
52617,394,Show the world you've joined the siege with th...,Siege of Dragonspear Amulet
39045,144,NaN,Bayek’s Eagle Skull Amulet
83886,503,Doomsday Prepper Pack includes the prepper out...,Doomsday Prepper Pack
19333,399,Prospect Mask with a display base,Prospect Mask
...,...,...,...
53012,503,Doomsday Prepper Pack includes the prepper out...,Doomsday Prepper Pack
193391,555,NaN,Limited edition figurine
5116,555,NaN,Limited edition figurine
5116,556,NaN,In-game unlockable code
193391,556,NaN,In-game unlockable code

In [65]:
#merging the to the main dataframe
merge_df = pd.merge(df, results_df, how = 'left', on="id")

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204500 entries, 0 to 499
Data columns (total 55 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       204500 non-null  int64
 1   category                 204500 non-null  int64
 2   created_at               204500 non-null  int64
 3   external_games           194593 non-null  object
 4   first_release_date       117728 non-null  float64
 5   genres                   158876 non-null  object
 6   name                     204500 non-null  object
 7   platforms                122873 non-null  object
 8   release_dates            122501 non-null  object
 9   similar_games            165256 non-null  object
 10  slug                     204500 non-null  object
 11  summary                  169636 non-null  object
 12  tags                     165280 non-null  object
 13  updated_at               204500 non-null  int64
 14  url                      204500 non-null  object
 15  checksum                 204500 non-null  object
 16  age_ratings              44240 non-null   object
 17  cover                    145494 non-null  float64
 18  involved_companies       84565 non-null   object
 19  screenshots              138178 non-null  object
 20  game_modes               204500 non-null  object
 21  player_perspectives      61305 non-null   object
 22  themes                   104453 non-null  object
 23  websites                 130441 non-null  object
 24  alternative_names        39541 non-null   object
 25  artworks                 67728 non-null   object
 26  game_engines             16315 non-null   object
 27  keywords                 79976 non-null   object
 28  status                   12441 non-null   float64
 29  videos                   42329 non-null   object
 30  rating                   28108 non-null   float64
 31  rating_count             28108 non-null   float64
 32  storyline                16496 non-null   object
 33  total_rating             32932 non-null   float64
 34  total_rating_count       32932 non-null   float64
 35  version_parent           5089 non-null    float64
 36  version_title            4905 non-null    object
 37  hypes                    8492 non-null    float64
 38  collection               32762 non-null   float64
 39  franchises               16205 non-null   object
 40  follows                  21061 non-null   float64
 41  bundles                  6027 non-null    object
 42  parent_game              20056 non-null   float64
 43  franchise                1514 non-null    float64
 44  aggregated_rating        13885 non-null   float64
 45  aggregated_rating_count  13885 non-null   float64
 46  multiplayer_modes        8974 non-null    object
 47  remasters                570 non-null     object
 48  remakes                  562 non-null     object
 49  dlcs                     2100 non-null    object
 50  ports                    2132 non-null    object
 51  expansions               553 non-null     object
 52  expanded_games           822 non-null     object
 53  forks                    34 non-null      object
 54  standalone_expansions    199 non-null     object
dtypes: float64(15), int64(4), object(36)
memory usage: 87.4+ MB

# compayn

In [ ]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/companies' ,data=data ,  headers=headers)

In [ ]:
companies = wrapper.api_request('companies', 'fields *;limit 500;')

In [ ]:
x = json.loads(companies)

In [ ]:
companies =pd.DataFrame(x)

In [ ]:
companies

> the function

In [ ]:
def get_company():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; limit 500;'
    r = requests.post('https://api.igdb.com/v4/companies' ,data=data ,  headers=headers)
    companies = wrapper.api_request('companies', 'fields *;limit 500;')
    x = json.loads(companies)
    companies =pd.DataFrame(x)
    return companies

> the wrapper function

In [ ]:
def get_companies(wrapper):
    get_companies= pd.DataFrame()
    for i in range (0, 409):
        company = wrapper.api_request('companies', 'fields *; limit 500;' f'offset {i * 500};')
        y = json.loads(company)
        results_df =pd.DataFrame(y)
        get_companies = pd.concat([get_companies, results_df])
    return get_companies

In [ ]:
get_companies(wrapper)

# involved_companies

In [ ]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/involved_companies' ,data=data ,  headers=headers)

In [ ]:
involved_companies = wrapper.api_request('involved_companies', 'fields *;limit 500;')

In [ ]:
x = json.loads(involved_companies)

In [ ]:
involved_companies

> the function

In [ ]:
def get_inv_companies():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; limit 500;'
    r = requests.post('https://api.igdb.com/v4/involved_companies' ,data=data ,  headers=headers)
    involved_companies = wrapper.api_request('involved_companies', 'fields *;limit 500;')
    x = json.loads(involved_companies)
    return involved_companies

> the wrapper function

In [ ]:
def inv_companies(wrapper):
    inv_companies= pd.DataFrame()
    for i in range (0, 409):
        i_company = wrapper.api_request('companies', 'fields *; limit 500;' f'offset {i * 500};')
        y = json.loads(i_company)
        results_df =pd.DataFrame(y)
        inv_companies = pd.concat([get_companies, results_df])
    return get_companies

# multi_player_mode

In [ ]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/multiplayer_modes' ,data=data ,  headers=headers)

In [ ]:
multiplayer_modes = wrapper.api_request('multiplayer_modes', 'fields *;limit 500;')

In [ ]:
x = json.loads(multiplayer_modes)

In [ ]:
multiplayer_modes =pd.DataFrame(x)

In [ ]:
multiplayer_modes

> the function

In [ ]:
def multi_player_mode():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; limit 500;'
    r = requests.post('https://api.igdb.com/v4/multiplayer_modes' ,data=data ,  headers=headers)
    multiplayer_modes = wrapper.api_request('multiplayer_modes', 'fields *;limit 500;')
    x = json.loads(multiplayer_modes)
    multiplayer_modes =pd.DataFrame(x)
    return multiplayer_modes

In [ ]:
# def vf_values(wrapper):
#     vf_values= pd.DataFrame()
#     for i in range (0, 409):
#         gvf_values = wrapper.api_request('companies', 'fields *; limit 500;' f'offset {i * 500};')
#         y = json.loads(gvf_values)
#         results_df =pd.DataFrame(y)
#         vf_values = pd.concat([vf_values, gamevfv_df])
#     return vf_values

In [ ]:
def multi_play(wrapper):
    multi_play= pd.DataFrame()
    for i in range (0, 409):
        multi_values = wrapper.api_request('companies', 'fields *; limit 500;' f'offset {i * 500};')
        y = json.loads(multi_values)
        results_df =pd.DataFrame(y)
        multi_play = pd.concat([multi_play, multiplayer_modes])
    return multi_play

In [ ]:
multi_df = multi_play(wrapper)

In [ ]:
multi_df

In [ ]:
multi_df = multi_df.rename(columns={'game': 'id', 'id': 'second_id'})

In [ ]:
multi_df

In [ ]:
multi_df = multi_df.set_index('id')

In [ ]:
multi_df

In [ ]:
#marging this together with the main df
multi_play_df = pd.merge(df, multi_df, how = 'left', on="id")

In [ ]:
multi_play_df.head()

In [ ]:
multi_play_df.splitscreen.value_counts()

In [ ]:
df.head()

#  Random Prepare

In [ ]:
#this is reading the csv
df = pd.read_csv('games.csv', index_col='Unnamed: 0')

In [ ]:
#callign out one game by the name
df[df.name == 'ESPN NFL 2K5']

In [ ]:
#dropping some collumns
df = df.drop(columns=['artworks', 'cover','screenshots', 'videos', 'checksum', 'alternative_names', 'rating_count', 'total_rating_count', 'version_parent', 'hypes', 'franchises', 'follows', 'aggregated_rating_count'])
df.shape

In [ ]:
#renaming some collumns 
df.rename(columns={'slug': 'lower_case_name', 'aggregated_rating': 'critic_rating'}, inplace=True)

### Random to datetime code i needed but prob dont need

In [ ]:
from datetime import datetime

In [ ]:
df['created_at'] = pd.to_datetime(df['created_at'],unit='s')

In [ ]:
#df['release_dates'] = pd.to_datetime(df['release_dates'],unit='s')