In [3]:
import requests
from env import Client_ID
from bs4 import BeautifulSoup
from igdb.wrapper import IGDBWrapper
import os
import pandas as pd
import json
import time
import env
from requests.models import Request, Response
from typing import Dict, List, Optional, Union, cast

## connect to api

In [4]:
def connect_api():   
    url = env.get_db_url()
    response = requests.post(url)
    data = response.json()
    access_token = data['access_token']
    return access_token

In [5]:
connect_api()

'971p8hx3ik3fvxbvb4uclsgf9kty7z'

In [6]:
access_token = connect_api()

In [7]:
def run_wrapper():
    wrapper = IGDBWrapper(f'{Client_ID}', f'{access_token}')
    return wrapper

In [8]:
def connect_to_games():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; popularity;sort popularity desc;'
    r = requests.post('https://api.igdb.com/v4/games' ,data=data ,  headers=headers)
    return r

In [9]:
# function that puts response list object into a dataframe for each page
def get_game_library(wrapper):
    game_library = pd.DataFrame()
    for i in range (0, 409):
        games = wrapper.api_request('games', 'fields *; limit 500;' f'offset {i * 500};')
        y = json.loads(games)
        results_df =pd.DataFrame(y)
        game_library = pd.concat([game_library, results_df])
    return game_library

In [10]:
wrapper = run_wrapper()

In [ ]:
wrapper

In [ ]:
tf = connect_to_games()

In [ ]:
tf

In [ ]:
#tf = get_game_library(wrapper)

In [25]:
df = pd.read_csv('games.csv', index_col='Unnamed: 0')

/var/folders/f1/8blv52r50y1cffy2qpp05b5c0000gn/T/ipykernel_26247/1000456058.py:1: DtypeWarning: Columns (54) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('games.csv', index_col='Unnamed: 0')

In [26]:
pd.set_option('display.max_columns', None)
df.head()

,id,artworks,category,cover,created_at,external_games,genres,name,parent_game,screenshots,similar_games,slug,summary,tags,themes,updated_at,url,videos,websites,checksum,first_release_date,platforms,release_dates,age_ratings,involved_companies,game_modes,player_perspectives,alternative_names,game_engines,keywords,status,rating,rating_count,storyline,total_rating,total_rating_count,version_parent,version_title,hypes,collection,franchises,follows,bundles,franchise,aggregated_rating,aggregated_rating_count,multiplayer_modes,dlcs,ports,expansions,remakes,expanded_games,remasters,forks,standalone_expansions
0,202489,[77476],1,224545.0,1653310572,"[2442147, 2443444]","[15, 16]",Panzer Corps 2: Axis Operations - 1943,27716.0,"[798986, 798987, 798988, 798989, 798990, 79899...","[13196, 18623, 28244, 32510, 36258, 55036, 791...",panzer-corps-2-axis-operations-1943,The critical hour where the fate of Germany on...,"[22, 268435471, 268435472]",[22],1654096076,https://www.igdb.com/games/panzer-corps-2-axis...,[68880],"[285491, 286755]",2992a43b-4d59-7ab8-e500-71a352404759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,40104,NaN,0,NaN,1498435200,"[20127, 1988884]",[5],Dogou Souken,NaN,NaN,"[12364, 27270, 43367, 103281, 103292, 103298, ...",dogou-souken,An overhead-view shoot'em up game.,[268435461],NaN,1604620800,https://www.igdb.com/games/dogou-souken,NaN,NaN,5e7446ff-58d9-e744-f0d3-5e10241304c1,5.364576e+08,[52],[91007],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,85031,NaN,0,61466.0,1517392813,"[216805, 1969751, 2005770]",[9],City Mysteries,NaN,"[155025, 155026, 155027]","[10603, 19222, 25905, 41349, 86974, 87507, 885...",city-mysteries,"Search buildings, streets, landmarks as you se...",[268435465],NaN,1641425677,https://www.igdb.com/games/city-mysteries,NaN,NaN,87b342e7-b912-ca8d-4ffb-f91f9e4f1870,1.404346e+09,[37],[138333],[37944],"[130531, 130532]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,99234,NaN,0,91582.0,1524843905,"[603512, 1857496, 1917109]","[31, 32]",Sword of the Black Stone,NaN,"[231528, 231529, 231530, 231531, 231532]","[25646, 29783, 68271, 80916, 96217, 105269, 10...",sword-of-the-black-stone,If your looking for action and adventure then ...,"[1, 268435487, 268435488]",[1],1643857546,https://www.igdb.com/games/sword-of-the-black-...,NaN,[84617],0b575316-96dc-b056-86e0-c958c1c95efb,1.527120e+09,[6],[188385],NaN,"[155850, 155852]",[1],[2],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,148930,[33736],0,169077.0,1621959514,"[2052375, 2057300]","[13, 15, 31, 32]",Bok-Bok: A Chicken Dating Sim,NaN,"[463145, 463148, 463149, 463151, 463152]","[25311, 26145, 28277, 33603, 51577, 65827, 791...",bok-bok-a-chicken-dating-sim,Have you ever pondered what the romantic life ...,"[268435469, 268435471, 268435487, 268435488]",NaN,1643850601,https://www.igdb.com/games/bok-bok-a-chicken-d...,NaN,[192858],9585e273-2606-970f-3088-60261ea77068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[63465],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Extra work

In [ ]:
frames = [df, game_modes]

In [ ]:
result = pd.concat(frames)

In [ ]:
type(frames)

In [ ]:
type(game_modes)

In [ ]:
result.tail(10)

In [ ]:
result = pd.concat([df, game_modes], axis=1)

In [ ]:
result

In [ ]:
results = pd.merge(df, game_mode, how = 'left', on="game_modes")

In [ ]:
results

### Data frame work

In [ ]:
df.info()

In [ ]:
df.game_modes.value_counts()

In [ ]:
# Here i am making this a string with no brackets

In [ ]:
df["game_modes"] = df["game_modes"].str.replace("[\]\[]",'')

In [ ]:
df.game_modes.value_counts()

In [ ]:
#this is a merge that actually works
#but does not work when there is a list of numbers sadly 
#results = pd.merge(df, game_modes, how = 'left', on="game_modes")

In [ ]:
results.tail(20)

In [ ]:
results.info()

In [ ]:
def to_1D(series):
    return pd.Series([x for _list in series for x in _list])

In [ ]:
to_1D(df["game_modes"])

In [ ]:
type(game_modes)

In [ ]:

df["game_modes"].apply(pd.Series)

In [88]:
df['game_modes'].replace([[1],['2'], ['3'], ['4']], [['Single player'], ['Multiplayer'], ['CO-op'], ['split screen']])

0      NaN
1      NaN
2      NaN
3      [1]
4      NaN
      ...
495    [1]
496    [1]
497    NaN
498    NaN
499    [1]
Name: game_modes, Length: 204500, dtype: object

In [ ]:
L = ['Single player'], ['Multiplayer'], ['CO-op'], ['split screen']
    
for x in L:
    df.loc[df['column'].str.contains(x), "column"]= x
print (df)

In [ ]:
df['game_modes'].replace(['1'], ['Single player']).value_counts()

In [ ]:
df.tail()

# Aquiring diffrent data

In [ ]:
access_token = connect_api()

# game modes

In [11]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/game_modes' ,data=data ,  headers=headers)

In [12]:
game_modes = wrapper.api_request('game_modes', 'fields *;limit 500;')

In [13]:
x = json.loads(game_modes)

In [14]:
game_mode =pd.DataFrame(x)

In [15]:
game_mode

,id,created_at,name,slug,updated_at,url,checksum
0,1,1298937600,Single player,single-player,1323216000,https://www.igdb.com/game_modes/single-player,a43b1688-f968-3541-0897-9735ffde1745
1,2,1298937600,Multiplayer,multiplayer,1323216000,https://www.igdb.com/game_modes/multiplayer,288b548c-11e4-d910-f037-21d4e6a33b38
2,3,1298937600,Co-operative,co-operative,1323216000,https://www.igdb.com/game_modes/co-operative,e8329d55-33e6-f7ae-ae09-2848cb7ccc90
3,4,1298937600,Split screen,split-screen,1323216000,https://www.igdb.com/game_modes/split-screen,98247b75-6f46-7c77-521f-0945c684d842
4,5,1298937600,Massively Multiplayer Online (MMO),massively-multiplayer-online-mmo,1323216000,https://www.igdb.com/game_modes/massively-mult...,307d1126-6e3b-9215-06f1-10c8ecce05b4
5,6,1588809600,Battle Royale,battle-royale,1588809600,https://www.igdb.com/game_modes/battle-royale,bfc388ac-0502-ba05-af25-3dcc94a0acf3

> the function

In [ ]:
def get_game_modes():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; limit 500;'
    r = requests.post('https://api.igdb.com/v4/game_modes' ,data=data ,  headers=headers)
    game_modes = wrapper.api_request('game_modes', 'fields *;limit 500;')
    x = json.loads(game_modes)
    game_modes =pd.DataFrame(x)
    return game_modes

In [61]:
game_mode = game_mode.rename(columns={"game_mode_id": "game_modes"})

In [62]:
game_mode

,game_modes,created_at,name,slug,updated_at,url,checksum
0,1,1298937600,Single player,single-player,1323216000,https://www.igdb.com/game_modes/single-player,a43b1688-f968-3541-0897-9735ffde1745
1,2,1298937600,Multiplayer,multiplayer,1323216000,https://www.igdb.com/game_modes/multiplayer,288b548c-11e4-d910-f037-21d4e6a33b38
2,3,1298937600,Co-operative,co-operative,1323216000,https://www.igdb.com/game_modes/co-operative,e8329d55-33e6-f7ae-ae09-2848cb7ccc90
3,4,1298937600,Split screen,split-screen,1323216000,https://www.igdb.com/game_modes/split-screen,98247b75-6f46-7c77-521f-0945c684d842
4,5,1298937600,Massively Multiplayer Online (MMO),massively-multiplayer-online-mmo,1323216000,https://www.igdb.com/game_modes/massively-mult...,307d1126-6e3b-9215-06f1-10c8ecce05b4
5,6,1588809600,Battle Royale,battle-royale,1588809600,https://www.igdb.com/game_modes/battle-royale,bfc388ac-0502-ba05-af25-3dcc94a0acf3

In [42]:
game_mode.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   game_mode_id  6 non-null      int64
 1   created_at    6 non-null      int64
 2   name          6 non-null      object
 3   slug          6 non-null      object
 4   updated_at    6 non-null      int64
 5   url           6 non-null      object
 6   checksum      6 non-null      object
dtypes: int64(3), object(4)
memory usage: 464.0+ bytes

In [ ]:
# game_mode.game_mode_id = game_mode.game_mode_id.astype(str)

In [ ]:
# game_mode.info()

In [79]:
test_library = df[['game_modes' , 'name']].head(10)
test_library

  game_modes                                    name
0        NaN  Panzer Corps 2: Axis Operations - 1943
1        NaN                            Dogou Souken
2        NaN                          City Mysteries
3        [1]                Sword of the Black Stone
4        NaN           Bok-Bok: A Chicken Dating Sim
5        [1]                             sun machine
6        NaN            Transformers Prime: The Game
7        [1]                         One way to exit
8        [1]                    Bubble Whirl Shooter
9        NaN      Space station - build your own ISS

In [64]:
test_library.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   game_modes  5 non-null      int64
 1   name        5 non-null      object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

In [ ]:
#this is to se the index which helped in the earlier merge but that didnt work 
#game_modes = game_mode.set_index('game_modes')

In [65]:
modelist = game_mode[['game_modes' , 'slug']].sort_values(by='game_modes').reset_index(drop=True)

In [66]:
modelist

   game_modes                              slug
0           1                     single-player
1           2                       multiplayer
2           3                      co-operative
3           4                      split-screen
4           5  massively-multiplayer-online-mmo
5           6                     battle-royale

In [70]:
modelist.game_modes= modelist.game_modes.astype(str)

In [71]:
modelist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   game_modes  6 non-null      object
 1   slug        6 non-null      object
dtypes: object(2)
memory usage: 224.0+ bytes

In [72]:
mode_dict = modelist.set_index('game_modes').to_dict()['slug']

In [80]:
mode_dict

{'1': 'single-player',
 '2': 'multiplayer',
 '3': 'co-operative',
 '4': 'split-screen',
 '5': 'massively-multiplayer-online-mmo',
 '6': 'battle-royale'}

In [74]:
#results = pd.merge(df, modelist, how = 'left', on="game_modes")

In [76]:
results.tail()

,id,artworks,category,cover,created_at,external_games,genres,name,parent_game,screenshots,similar_games,slug_x,summary,tags,themes,updated_at,url,videos,websites,checksum,first_release_date,platforms,release_dates,age_ratings,involved_companies,game_modes,player_perspectives,alternative_names,game_engines,keywords,status,rating,rating_count,storyline,total_rating,total_rating_count,version_parent,version_title,hypes,collection,franchises,follows,bundles,franchise,aggregated_rating,aggregated_rating_count,multiplayer_modes,dlcs,ports,expansions,remakes,expanded_games,remasters,forks,standalone_expansions,slug_y
204495,37016,"[1213, 5039, 6007, 6376, 6377, 6378, 6379, 638...",0,71083.0,1497216279,"[50659, 80860, 102139, 1593410, 1706657, 17082...","[5, 31]",Metro Exodus,NaN,"[44199, 44200, 44201, 44202, 44203, 214208, 21...","[17379, 19561, 19564, 26192, 28168, 54842, 550...",metro-exodus,"Metro Exodus is an epic, story-driven first pe...","[1, 18, 19, 21, 268435461, 268435487, 53687098...","[1, 18, 19, 21]",1662910768,https://www.igdb.com/games/metro-exodus,"[14571, 17131, 20506, 20729, 21738, 24053, 243...","[39566, 39567, 39568, 39569, 66162, 66163, 811...",c142b442-9bbe-0cea-d317-821abc82581a,1.550189e+09,"[6, 48, 49, 167, 169, 170]","[191003, 191004, 191005, 191006, 297637, 297638]","[25552, 45824, 67305]","[170144, 170145]",[1],[1],"[49968, 49969]",[18],"[69, 208, 453, 1706, 4224, 4337, 4357, 4895, 4...",NaN,83.091874,331.0,The year is 2036. A quarter-century after nucl...,83.170937,346.0,NaN,NaN,110.0,82.0,[1344],236.0,"[95059, 109587, 136166, 147016, 154180]",NaN,83.25,15.0,NaN,"[121753, 121756]",NaN,NaN,NaN,NaN,[143292],NaN,NaN,NaN
204496,119381,[16649],9,88836.0,1560262516,"[1725257, 1857231, 1917363, 1941716, 1942121, ...","[11, 15, 24]",Commandos 2: HD Remaster,653.0,"[307816, 307817, 307818, 307819, 307820, 30782...","[6985, 10243, 16497, 28794, 31480, 55029, 7855...",commandos-2-hd-remaster,Relive the real-time tactics masterpiece that ...,"[22, 39, 268435467, 268435471, 268435480, 5368...","[22, 39]",1662723241,https://www.igdb.com/games/commandos-2-hd-rema...,[28138],"[108625, 111136, 131138]",6554c1c2-1a53-a55f-4463-a7895aeb231d,1.579824e+09,"[3, 6, 14, 48, 49, 130]","[179812, 217069, 217070, 217071, 238155, 23815...","[31344, 56318, 68867]","[79883, 80040, 130646, 130648]",[1],NaN,"[56067, 100223, 100383]",NaN,[19],NaN,50.000000,2.0,NaN,50.000000,2.0,NaN,NaN,1.0,140.0,NaN,1.0,"[139932, 212870]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204497,155172,[40886],1,157971.0,1626095041,"[2015336, 2069785, 2081774]","[13, 15]",Tropico 6: Spitter,36649.0,"[516793, 516796, 516801, 516804, 516808, 51681...","[17613, 33603, 36258, 36962, 51577, 65827, 763...",tropico-6-spitter,It's all about the fame and prestige. Nobody k...,"[268435469, 268435471]",NaN,1659286811,https://www.igdb.com/games/tropico-6-spitter,NaN,[197422],a4372b1d-9d02-314e-3664-340672dee8ae,1.587600e+09,"[6, 49]","[303654, 346504, 346533]",[85872],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204498,124884,[39360],1,155994.0,1571376579,"[2023544, 2069800, 2222052]","[13, 15, 32]",The Escapists 2: Glorious Regime Prison,25653.0,"[504452, 504459, 504464]","[31515, 33603, 37419, 51577, 55689, 55888, 658...",the-escapists-2-glorious-regime-prison,Experience the thrill of escaping the hidden c...,"[33, 268435469, 268435471, 268435488]",[33],1659342836,https://www.igdb.com/games/the-escapists-2-glo...,NaN,"[120722, 225275]",f2dd576c-605e-44d7-ece9-98c603414fc5,1.503360e+09,[49],[340382],[86074],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Despite the towering walls, electric fences an...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204499,165276,[49374],0,170495.0,1629717964,"[2084059, 2088508, 2115840]","[8, 31, 32, 33]",Onde,NaN,"[595189, 595190, 595191, 595192, 595193]","[20342, 28070, 29032, 51485, 77529, 96217, 106...",onde,Catch a wave in this smooth sound-surfing plat...,"[17, 268435464, 268435487, 268435488, 26843548...",[17],1659077442,https://www.igdb.com/games/onde,"[53712, 64526]","[214862, 215101, 215102, 215103, 215329]",89ade22c-6ef1-2edb-86e3-fc4b7fcac37a,1.647475e+09,"[6, 39, 130]","[344793, 364880, 364881]",[84445],"[174966, 174967]",[1],NaN,NaN,NaN,"[101, 168, 288, 1429, 1495, 3138]",NaN,NaN,NaN,Dive into a world filled with sounds. Let ethe...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
df.head()

,id,artworks,category,cover,created_at,external_games,genres,name,parent_game,screenshots,similar_games,slug,summary,tags,themes,updated_at,url,videos,websites,checksum,first_release_date,platforms,release_dates,age_ratings,involved_companies,game_modes,player_perspectives,alternative_names,game_engines,keywords,status,rating,rating_count,storyline,total_rating,total_rating_count,version_parent,version_title,hypes,collection,franchises,follows,bundles,franchise,aggregated_rating,aggregated_rating_count,multiplayer_modes,dlcs,ports,expansions,remakes,expanded_games,remasters,forks,standalone_expansions
0,202489,[77476],1,224545.0,1653310572,"[2442147, 2443444]","[15, 16]",Panzer Corps 2: Axis Operations - 1943,27716.0,"[798986, 798987, 798988, 798989, 798990, 79899...","[13196, 18623, 28244, 32510, 36258, 55036, 791...",panzer-corps-2-axis-operations-1943,The critical hour where the fate of Germany on...,"[22, 268435471, 268435472]",[22],1654096076,https://www.igdb.com/games/panzer-corps-2-axis...,[68880],"[285491, 286755]",2992a43b-4d59-7ab8-e500-71a352404759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,40104,NaN,0,NaN,1498435200,"[20127, 1988884]",[5],Dogou Souken,NaN,NaN,"[12364, 27270, 43367, 103281, 103292, 103298, ...",dogou-souken,An overhead-view shoot'em up game.,[268435461],NaN,1604620800,https://www.igdb.com/games/dogou-souken,NaN,NaN,5e7446ff-58d9-e744-f0d3-5e10241304c1,5.364576e+08,[52],[91007],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,85031,NaN,0,61466.0,1517392813,"[216805, 1969751, 2005770]",[9],City Mysteries,NaN,"[155025, 155026, 155027]","[10603, 19222, 25905, 41349, 86974, 87507, 885...",city-mysteries,"Search buildings, streets, landmarks as you se...",[268435465],NaN,1641425677,https://www.igdb.com/games/city-mysteries,NaN,NaN,87b342e7-b912-ca8d-4ffb-f91f9e4f1870,1.404346e+09,[37],[138333],[37944],"[130531, 130532]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,99234,NaN,0,91582.0,1524843905,"[603512, 1857496, 1917109]","[31, 32]",Sword of the Black Stone,NaN,"[231528, 231529, 231530, 231531, 231532]","[25646, 29783, 68271, 80916, 96217, 105269, 10...",sword-of-the-black-stone,If your looking for action and adventure then ...,"[1, 268435487, 268435488]",[1],1643857546,https://www.igdb.com/games/sword-of-the-black-...,NaN,[84617],0b575316-96dc-b056-86e0-c958c1c95efb,1.527120e+09,[6],[188385],NaN,"[155850, 155852]",[1],[2],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,148930,[33736],0,169077.0,1621959514,"[2052375, 2057300]","[13, 15, 31, 32]",Bok-Bok: A Chicken Dating Sim,NaN,"[463145, 463148, 463149, 463151, 463152]","[25311, 26145, 28277, 33603, 51577, 65827, 791...",bok-bok-a-chicken-dating-sim,Have you ever pondered what the romantic life ...,"[268435469, 268435471, 268435487, 268435488]",NaN,1643850601,https://www.igdb.com/games/bok-bok-a-chicken-d...,NaN,[192858],9585e273-2606-970f-3088-60261ea77068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[63465],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
mode_dict

{'1': 'single-player',
 '2': 'multiplayer',
 '3': 'co-operative',
 '4': 'split-screen',
 '5': 'massively-multiplayer-online-mmo',
 '6': 'battle-royale'}

In [83]:
def test_funct (random_list):
    new_list = [mode_dict[i] for i in random_list]
    return new_list

In [85]:
df['game_modes'] = pd.merge(df.game_modes.apply(test_funct))

TypeError: 'float' object is not iterable

# game_version

In [ ]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/game_versions' ,data=data ,  headers=headers)

In [ ]:
game_versions = wrapper.api_request('game_versions', 'fields *;limit 500;')

In [ ]:
x = json.loads(game_versions)

In [ ]:
game_versions =pd.DataFrame(x)

In [ ]:
game_versions

> ## the function

In [ ]:
def get_game_version():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; limit 500;'
    r = requests.post('https://api.igdb.com/v4/game_versions' ,data=data ,  headers=headers)
    game_versions = wrapper.api_request('game_versions', 'fields *;limit 500;')
    x = json.loads(game_versions)
    game_versions =pd.DataFrame(x)
    return game_version

# game_version_features

In [ ]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/game_version_features' ,data=data ,  headers=headers)

In [ ]:
game_version_features = wrapper.api_request('game_version_features', 'fields *;limit 500;')

In [ ]:
x = json.loads(game_version_features)

In [ ]:
game_versions_features =pd.DataFrame(x)

In [ ]:
game_versions_features

> ## the function

In [ ]:
def get_game_v_features():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; limit 500;'
    r = requests.post('https://api.igdb.com/v4/game_version_features' ,data=data ,  headers=headers)
    game_version_features = wrapper.api_request('game_version_features', 'fields *;limit 500;')
    x = json.loads(game_version_features)
    game_versions_features =pd.DataFrame(x)
    return game_versions_features

# game_version_feature_values

In [ ]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/game_version_feature_values' ,data=data ,  headers=headers)

In [ ]:
game_version_feature_values = wrapper.api_request('game_version_feature_values', 'fields *;limit 500;')

In [ ]:
x = json.loads(game_version_feature_values)

In [ ]:
game_versions_feature_values =pd.DataFrame(x)

In [ ]:
game_versions_feature_values

> ## the function

In [ ]:
def get_version_features_values():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; limit 500;'
    r = requests.post('https://api.igdb.com/v4/game_version_feature_values' ,data=data ,  headers=headers)
    game_version_feature_values = wrapper.api_request('game_version_feature_values', 'fields *;limit 500;')
    x = json.loads(game_version_feature_values)
    game_versions_feature_values =pd.DataFrame(x)
    return game_versions_feature_values

# compayn

In [ ]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/companies' ,data=data ,  headers=headers)

In [ ]:
companies = wrapper.api_request('companies', 'fields *;limit 500;')

In [ ]:
x = json.loads(companies)

In [ ]:
companies =pd.DataFrame(x)

In [ ]:
companies

> the function

In [ ]:
def get_company():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; limit 500;'
    r = requests.post('https://api.igdb.com/v4/companies' ,data=data ,  headers=headers)
    companies = wrapper.api_request('companies', 'fields *;limit 500;')
    x = json.loads(companies)
    companies =pd.DataFrame(x)
    return companies

> the wrapper function

In [ ]:
def get_companies(wrapper):
    get_companies= pd.DataFrame()
    for i in range (0, 409):
        company = wrapper.api_request('companies', 'fields *; limit 500;' f'offset {i * 500};')
        y = json.loads(company)
        results_df =pd.DataFrame(y)
        get_companies = pd.concat([get_companies, results_df])
    return get_companies

In [ ]:
get_companies(wrapper)

# involved_companies

In [ ]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/involved_companies' ,data=data ,  headers=headers)

In [ ]:
involved_companies = wrapper.api_request('involved_companies', 'fields *;limit 500;')

In [ ]:
x = json.loads(involved_companies)

In [ ]:
involved_companies

> the function

In [ ]:
def get_inv_companies():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; limit 500;'
    r = requests.post('https://api.igdb.com/v4/involved_companies' ,data=data ,  headers=headers)
    involved_companies = wrapper.api_request('involved_companies', 'fields *;limit 500;')
    x = json.loads(involved_companies)
    return involved_companies

> the wrapper function

In [ ]:
def inv_companies(wrapper):
    inv_companies= pd.DataFrame()
    for i in range (0, 409):
        i_company = wrapper.api_request('companies', 'fields *; limit 500;' f'offset {i * 500};')
        y = json.loads(i_company)
        results_df =pd.DataFrame(y)
        inv_companies = pd.concat([get_companies, results_df])
    return get_companies

# multi_player_mode

In [ ]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/multiplayer_modes' ,data=data ,  headers=headers)

In [ ]:
multiplayer_modes = wrapper.api_request('multiplayer_modes', 'fields *;limit 500;')

In [ ]:
x = json.loads(multiplayer_modes)

In [ ]:
multiplayer_modes =pd.DataFrame(x)

In [ ]:
multiplayer_modes

> the function

In [ ]:
def multi_player_mode():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; limit 500;'
    r = requests.post('https://api.igdb.com/v4/multiplayer_modes' ,data=data ,  headers=headers)
    multiplayer_modes = wrapper.api_request('multiplayer_modes', 'fields *;limit 500;')
    x = json.loads(multiplayer_modes)
    multiplayer_modes =pd.DataFrame(x)
    return multiplayer_modes

# this is random code from aquire

In [ ]:
#connect_api()

In [ ]:
#access_token, r = get_api()

In [ ]:
# def get_games(access_token, Client_ID):
    
#     testgames = []
    
#     headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
#     data = 'fields *; limit 500;'
#     r = requests.post('https://api.igdb.com/v4/games', data=data, headers=headers)
#     wrapper = IGDBWrapper(f'{Client_ID}', f'Bearer {access_token}')
    
    
#     for i in range(0, 409):
#         games = wrapper.api_request('games', 'fields *; limit 500;' f'offset {i * 409};')
#         testgames.append(games)
    
#     return testgames

In [ ]:
testgames = get_games(access_token, Client_ID)

In [ ]:
testgames

In [ ]:
#access_token

In [ ]:
wrapper = IGDBWrapper(f'{Client_ID}', f'Bearer {access_token}')

In [ ]:
testgames = []
for i in range(0, 409):
    games = wrapper.api_request('games', 'fields *; limit 500;' f'offset {i * 409};')
    testgames.append(games)

In [ ]:
url = env.get_db_url()
response = requests.post(url)
data = response.json()
access_token = data['access_token']

In [ ]:
#access_token

In [ ]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/games/', data=data, headers=headers)
wrapper = IGDBWrapper(env.Client_ID, "***")

In [ ]:
testgames = []
for i in range(0, 409):
    games = wrapper.api_request('games', 'fields *; limit 500;' f'offset {i * 409};')
    testgames.append(games)

In [ ]:
wrapper = IGDBWrapper(env.Client_ID, "**")

In [ ]:
url = 'https://api.igdb.com/v4/age_ratings'
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'category,checksum,content_descriptions,rating,rating_cover_url,synopsis;'
response = requests.post(url, headers=headers, data = data)

In [ ]:
data = response.json()
print(type(data))
data

In [ ]:

#print(response.text[17:48])

In [ ]:
access_token = data['access_token']

In [ ]:
#access_token

In [ ]:
print(r.text[:5000])

In [ ]:
r.text

In [ ]:
# Make a soup variable holding the response content
soup = BeautifulSoup(r.content, 'html.parser')

In [ ]:
games2 = r.json()

In [ ]:
games2

In [ ]:
games = pd.DataFrame(r.json())

In [ ]:
games.head()

In [ ]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {}'}
data = 'fields *; limit 500; offset 500;'
r2 = requests.post('https://api.igdb.com/v4/games/',data = data ,  headers=headers)

In [ ]:
r2.text

In [ ]:
games2 = pd.DataFrame(r2.json())

In [ ]:
games2.head()

In [ ]:
for i in range(0, 800):
    wrapper.api_request('games','fields *; limit 500;' f'offset {i * 500};')

In [ ]:
testgames = []
for i in range(0, 500):
    games = wrapper.api_request('games', 'fields *; limit 500;' f'offset {i * 500};')
    testgames.append(games)

In [ ]:
testgames[2]

In [ ]:
pd.DataFrame(testgames)

In [ ]:
for offset in range(0, 500):
    url = 'https://api.igdb.com/v4/games/' +str(offset)
    data = 'fields *; limit 500; offset 500;' 
    response = requests.get(url=url, headers=headers, data = data)        
    all_items.append(response)       
    offset = offset * 500
    
    print(offset)

In [ ]:
# pip install igdb-api-v4

In [ ]:
wrapper = IGDBWrapper(env.Client_ID, "")

In [ ]:
'''With a wrapper instance already created'''
# JSON API request
byte_array = wrapper.api_request(
            'games',
            'fields *; limit 500;'
          )
# parse into JSON however you like...

# Protobuf API request
from igdb.igdbapi_pb2 import GameResult
byte_array = wrapper.api_request(
            'games.pb', # Note the '.pb' suffix at the endpoint
            'fields *; limit 500;'
          )
games_message = GameResult()
games_message.ParseFromString(byte_array)# Fills the protobuf message object with the response

In [ ]:
games_message

In [ ]:
#y = json.loads(games_message)

In [ ]:
byte_array = wrapper.api_request(
            'games',
            'fields *; limit 500;'
          )

In [ ]:
import json
y = json.loads(byte_array)

In [ ]:
pd.DataFrame(y)

In [ ]:
# lists the column names
pd.DataFrame(y).columns

# Prepare

In [ ]:
df = pd.read_csv('games.csv', index_col='Unnamed: 0')

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.id.value_counts()

In [ ]:
df.rating.value_counts()

In [ ]:
df.aggregated_rating.notnull()

In [ ]:
df.forks.value_counts()

In [ ]:
df[df.name == 'ESPN NFL 2K5']

In [ ]:
df.genres.value_counts()

In [ ]:
df.platforms.value_counts()

In [ ]:
df = df.drop(columns=['artworks', 'cover','screenshots', 'videos', 'checksum', 'alternative_names', 'rating_count', 'total_rating_count', 'version_parent', 'hypes', 'franchises', 'follows', 'aggregated_rating_count'])
df.shape

In [ ]:
df.info()

In [ ]:
#df.head(30)

In [ ]:
from datetime import datetime

In [ ]:
#df.created_at = df.created_at.apply(lambda d: datetime.datetime.fromtimestamp(int(d)).strftime('%Y-%m-%d'))

In [ ]:
# df.columns = ["created_at"]
# #convert dates 
# df.date = df.date.apply(lambda d: datetime.strptime(d, "%Y-%m-%d"))
# df.index = df.date

In [ ]:
# df.created_at = pd.to_datetime(df.created_at)

In [ ]:
df.head(30)

In [ ]:
df.created_at.value_counts()

In [ ]:
df.rename(columns={'slug': 'lower_case_name', 'aggregated_rating': 'critic_rating'}, inplace=True)

In [ ]:
df.head(3)

In [ ]:
df['created_at'] = pd.to_datetime(df['created_at'],unit='s')

In [ ]:
df.head()

In [ ]:
df['updated_at'] = pd.to_datetime(df['updated_at'],unit='s')

In [ ]:
df.head()

In [ ]:
df['first_release_date'] = pd.to_datetime(df['first_release_date'],unit='s')

In [ ]:
df.head(20)

In [ ]:
#df['release_dates'] = pd.to_datetime(df['release_dates'],unit='s')

In [ ]:
df['first_release_date'] = pd.to_datetime(df['first_release_date'],unit='s')

In [ ]:
df.category.value_counts()

In [ ]:
url = 'https://api.igdb.com/v4/age_ratings'
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'category,checksum,content_descriptions,rating,rating_cover_url,synopsis;'
response = requests.post(url, headers=headers, data = data)

In [ ]:
print(response.text)

In [ ]:
url = 'https://api.igdb.com/v4/age_rating_content_descriptions'
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *;'
response = get(url, headers=headers, data = data)

In [ ]:
print(response.text)