In [1]:
import requests
from env import Client_ID
from bs4 import BeautifulSoup
from igdb.wrapper import IGDBWrapper
import os
import pandas as pd
import json
import time
import env
from requests.models import Request, Response
from typing import Dict, List, Optional, Union, cast

## connect to api

In [2]:
def connect_api():   
    url = env.get_db_url()
    response = requests.post(url)
    data = response.json()
    access_token = data['access_token']
    return access_token

In [3]:
access_token = connect_api()

In [4]:
def run_wrapper():
    wrapper = IGDBWrapper(f'{Client_ID}', f'{access_token}')
    return wrapper

In [5]:
def connect_to_games():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; popularity;sort popularity desc;'
    r = requests.post('https://api.igdb.com/v4/games' ,data=data ,  headers=headers)
    return r

In [6]:
# function that puts response list object into a dataframe for each page
def get_game_library(wrapper):
    game_library = pd.DataFrame()
    for i in range (0, 409):
        games = wrapper.api_request('games', 'fields *; limit 500;' f'offset {i * 500};')
        y = json.loads(games)
        results_df =pd.DataFrame(y)
        game_library = pd.concat([game_library, results_df])
    return game_library

In [7]:
wrapper = run_wrapper()

In [8]:
wrapper

In [ ]:
tf = connect_to_games()

In [ ]:
tf

In [9]:
df = get_game_library(wrapper)

In [ ]:
# df = pd.read_csv('games.csv', index_col='Unnamed: 0')

In [ ]:
# pd.set_option('display.max_columns', None)
# df.head()

In [ ]:
pd.set_option('display.max_columns', None)
df.head()

## Extra work

In [ ]:
frames = [df, game_modes]

In [ ]:
result = pd.concat(frames)

In [ ]:
type(frames)

In [ ]:
type(game_modes)

In [ ]:
result.tail(10)

In [ ]:
result = pd.concat([df, game_modes], axis=1)

In [ ]:
result

In [ ]:
results = pd.merge(df, game_mode, how = 'left', on="game_modes")

In [ ]:
results

### Data frame work

In [ ]:
df.info()

In [ ]:
df.game_modes.value_counts()

In [ ]:
# Here i am making this a string with no brackets

In [ ]:
df["game_modes"] = df["game_modes"].str.replace("[\]\[]",'')

In [ ]:
df.game_modes.value_counts()

In [ ]:
#this is a merge that actually works
#but does not work when there is a list of numbers sadly 
#results = pd.merge(df, game_modes, how = 'left', on="game_modes")

In [ ]:
results.tail(20)

In [ ]:
results.info()

In [ ]:
def to_1D(series):
    return pd.Series([x for _list in series for x in _list])

In [ ]:
to_1D(df["game_modes"])

In [ ]:
type(game_modes)

In [ ]:

df["game_modes"].apply(pd.Series)

In [ ]:
df['game_modes'].replace([[1],['2'], ['3'], ['4']], [['Single player'], ['Multiplayer'], ['CO-op'], ['split screen']])

In [ ]:
L = ['Single player'], ['Multiplayer'], ['CO-op'], ['split screen']
    
for x in L:
    df.loc[df['column'].str.contains(x), "column"]= x
print (df)

In [ ]:
df['game_modes'].replace(['1'], ['Single player']).value_counts()

In [ ]:
df.tail()

# Aquiring diffrent data

In [ ]:
#access_token = connect_api()

# game modes

In [ ]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/game_modes' ,data=data ,  headers=headers)

In [ ]:
game_modes = wrapper.api_request('game_modes', 'fields *;limit 500;')

In [ ]:
x = json.loads(game_modes)

In [ ]:
game_mode =pd.DataFrame(x)

In [ ]:
game_mode

> the function

In [ ]:
def get_game_modes():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; limit 500;'
    r = requests.post('https://api.igdb.com/v4/game_modes' ,data=data ,  headers=headers)
    game_modes = wrapper.api_request('game_modes', 'fields *;limit 500;')
    x = json.loads(game_modes)
    game_modes =pd.DataFrame(x)
    return game_modes

In [ ]:
#game_mode = game_mode.rename(columns={"game_mode_id": "game_modes"})

In [ ]:
#game_mode

In [ ]:
#game_mode.info()

In [ ]:
# game_mode.game_mode_id = game_mode.game_mode_id.astype(str)

In [ ]:
# game_mode.info()

In [ ]:
test_library = df[['id' , 'name', 'game_modes']].head(10)
test_library

In [ ]:
test_library.info()

In [ ]:
#this is to se the index which helped in the earlier merge but that didnt work 
#game_modes = game_mode.set_index('game_modes')

In [ ]:
modelist = game_mode[['id' , 'slug']].sort_values(by='id').reset_index(drop=True)

In [ ]:
modelist.info()

In [ ]:
modelist

In [ ]:
#modelist.loc[len(df.index)] = [7,'no_mode']

In [ ]:
#modelist.loc[len(df.index)] = [0,'zero']

In [ ]:
modelist.info()

In [ ]:
#modelist.id = modelist.id.map(str)

In [ ]:
modelist

In [ ]:
#modelist.set_index('id')

In [ ]:
mode_dict = modelist.set_index('id').to_dict()['slug']

In [ ]:
mode_dict

In [ ]:
#ignore this 
#results = pd.merge(df, modelist, how = 'left', on="game_modes")

In [ ]:
df.head(2)

In [ ]:
# def test_funct(random_list):
#     new_list = [mode_dict[i] for i in random_list]
#     return new_list

In [ ]:
if type(random_list) == list:
        return [mode_dict[i] for i in random_list]
    else:  
        return "Not available"

In [ ]:
def test_funct(random_list):
    if type(random_list) == list:
        return [mode_dict[i] for i in random_list]
    else:  
        return "Not available"

In [ ]:
test_funct([3,4])

In [ ]:
#df["game_modes"] = df["game_modes"].str.replace("[\]\[]",'')

In [ ]:
#df['game_modes'] = df['game_modes'].fillna(7)

In [ ]:

# df['game_modes'] = df['game_modes'].fillna('7').apply(list)
# df.head()

In [ ]:
#df['game_modes'] = df['game_modes'].replace([['1'],['2'], ['3'], ['4']], [['Single player'], ['Multiplayer'], ['CO-op'], ['split screen']])

In [ ]:
df.tail(30)

In [ ]:
df.game_modes.value_counts()

In [ ]:
#df['game_modes'] = df['game_modes'].replace([['1,2'],['1,2,3']], [['Single player, multiplayer'], ['single player, Multiplayer, co-op']])

In [ ]:
df.head(25)

In [ ]:
df.game_modes.value_counts()

In [ ]:
df.game_modes.isnull().sum()

In [ ]:
df['game_modes'] = pd.DataFrame(df.game_modes.apply(test_funct))
df

In [ ]:
df.game_modes.value_counts()

# game_version

In [10]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/game_versions' ,data=data ,  headers=headers)

In [11]:
game_versions = wrapper.api_request('game_versions', 'fields *;limit 500;')

In [12]:
x = json.loads(game_versions)

In [13]:
game_versions =pd.DataFrame(x)

In [14]:
game_versions

,id,created_at,game,updated_at,url,checksum,features,games
0,241,1596585600,26192,1596585600,https://www.igdb.com/game_versions/the-last-of...,e71699ef-97ce-af28-c6b1-a5272393fcfa,NaN,NaN
1,8,1505174400,31311,1505174400,https://www.igdb.com/game_versions/monsti/,4db869ec-e1a3-3f1d-8d88-04d5609d21db,NaN,NaN
2,7,1505174400,20668,1505174400,https://www.igdb.com/game_versions/zombie-driver/,f2b2058d-7c6a-a793-5a88-bfc63871005b,NaN,NaN
3,13,1505174400,52983,1505174400,https://www.igdb.com/game_versions/eternal-jou...,9f694e8f-b4f7-2e97-479a-5190b328bd0d,NaN,NaN
4,10,1505174400,32721,1505174400,https://www.igdb.com/game_versions/zion/,55f1ff2a-7605-4bfc-da2b-ac7781971b5f,NaN,NaN
...,...,...,...,...,...,...,...,...
186,206,1573171200,13664,1573171200,https://www.igdb.com/game_versions/distraint/,6a1f626a-879d-d1bd-2390-3b6e4b2f9f0b,NaN,NaN
187,44,1505952000,7349,1505952000,https://www.igdb.com/game_versions/mass-effect...,d749f321-1e08-5674-438a-13df9e354ada,"[99, 100, 101, 102, 103]","[7349, 27766, 27767]"
188,45,1506038400,27421,1535500800,https://www.igdb.com/game_versions/middle-eart...,eca61d61-f746-ad65-915f-5e0fe7637738,"[253, 254, 255, 256, 257, 258, 259, 260, 261, ...","[27421, 36986, 53358, 53359, 106764]"
189,1,1505174400,28540,1507420800,https://www.igdb.com/game_versions/assassins-c...,4ff85042-d876-4aff-5589-25167ce699a7,"[50, 51, 52, 98, 135, 136, 137, 138, 139, 140,...","[28540, 39034, 39044, 39045, 39046, 39047]"
190,274,1646642358,5116,1646642479,https://www.igdb.com/game_versions/raving-rabb...,e5a5fa57-e997-5e5b-9ec5-c2b88e33d27e,"[555, 556]","[5116, 193391]"

In [63]:
pd.set_option('display.max_columns', None)
df.head()

,id,category,created_at,external_games,first_release_date,genres,name,platforms,release_dates,similar_games,slug,summary,tags,updated_at,url,checksum,age_ratings,cover,involved_companies,screenshots,game_modes,player_perspectives,themes,websites,alternative_names,artworks,game_engines,keywords,status,videos,rating,rating_count,storyline,total_rating,total_rating_count,version_parent,version_title,hypes,collection,franchises,follows,bundles,parent_game,franchise,aggregated_rating,aggregated_rating_count,multiplayer_modes,dlcs,ports,expansions,expanded_games,remakes,remasters,forks,standalone_expansions
0,40104,0,1498435200,"[20127, 1988884]",5.364576e+08,[5],Dogou Souken,[52],[91007],"[12364, 27270, 43367, 103281, 103292, 103298, ...",dogou-souken,An overhead-view shoot'em up game.,[268435461],1604620800,https://www.igdb.com/games/dogou-souken,5e7446ff-58d9-e744-f0d3-5e10241304c1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,85031,0,1517392813,"[216805, 1969751, 2005770]",1.404346e+09,[9],City Mysteries,[37],[138333],"[10603, 19222, 25905, 41349, 86974, 87507, 885...",city-mysteries,"Search buildings, streets, landmarks as you se...",[268435465],1641425677,https://www.igdb.com/games/city-mysteries,87b342e7-b912-ca8d-4ffb-f91f9e4f1870,[37944],61466.0,"[130531, 130532]","[155025, 155026, 155027]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,99234,0,1524843905,"[603512, 1857496, 1917109]",1.527120e+09,"[31, 32]",Sword of the Black Stone,[6],[188385],"[25646, 29783, 68271, 80916, 96217, 105269, 10...",sword-of-the-black-stone,If your looking for action and adventure then ...,"[1, 268435487, 268435488]",1643857546,https://www.igdb.com/games/sword-of-the-black-...,0b575316-96dc-b056-86e0-c958c1c95efb,NaN,91582.0,"[155850, 155852]","[231528, 231529, 231530, 231531, 231532]",[1],[2],[1],[84617],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,148930,0,1621959514,"[2052375, 2057300]",NaN,"[13, 15, 31, 32]",Bok-Bok: A Chicken Dating Sim,NaN,NaN,"[25311, 26145, 28277, 33603, 51577, 65827, 791...",bok-bok-a-chicken-dating-sim,Have you ever pondered what the romantic life ...,"[268435469, 268435471, 268435487, 268435488]",1643850601,https://www.igdb.com/games/bok-bok-a-chicken-d...,9585e273-2606-970f-3088-60261ea77068,NaN,169077.0,NaN,"[463145, 463148, 463149, 463151, 463152]",NaN,NaN,NaN,[192858],[63465],[33736],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,139538,0,1602368467,[1966278],1.525910e+09,[32],sun machine,[82],[213594],"[11666, 13200, 13660, 17130, 25311, 28070, 348...",sun-machine,"a story of dark days, chronic fatigue, optimis...","[18, 268435488, 536896982]",1639609570,https://www.igdb.com/games/sun-machine,9986cb06-667c-bb20-d9cf-cb239d7020df,NaN,117024.0,[117090],"[403247, 403248]",[1],[3],[18],[156114],NaN,NaN,[837],[26070],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df.version_parent.value_counts()

7360.0      9
18866.0     9
114795.0    8
28552.0     8
9509.0      8
           ..
103335.0    1
28246.0     1
116809.0    1
186014.0    1
7344.0      1
Name: version_parent, Length: 3606, dtype: int64

In [17]:
df.version_title.value_counts()

Collector's Edition                             818
Deluxe Edition                                  525
Limited Edition                                 381
Gold Edition                                    182
Special Edition                                 164
                                               ...
King's Edition                                    1
Winter Edition                                    1
Uncle Prime Edition                               1
Perfect Edition                                   1
Ori and the Blind Forest: Definitive Edition      1
Name: version_title, Length: 1525, dtype: int64

> ## the function

In [ ]:
def get_game_version():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; limit 500;'
    r = requests.post('https://api.igdb.com/v4/game_versions' ,data=data ,  headers=headers)
    game_versions = wrapper.api_request('game_versions', 'fields *;limit 500;')
    x = json.loads(game_versions)
    game_versions =pd.DataFrame(x)
    return game_version

In [ ]:
def test_funct(random_list):
    if type(random_list) == list:
        return [mode_dict[i] for i in random_list]
    else:  
        return "Not available"

# game_version_features

In [18]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/game_version_features' ,data=data ,  headers=headers)

In [19]:
game_version_features = wrapper.api_request('game_version_features', 'fields *;limit 500;')

In [20]:
x = json.loads(game_version_features)

In [21]:
game_versions_features =pd.DataFrame(x)

In [22]:
game_versions_features

,id,category,description,position,title,values,checksum
0,337,0.0,Sharpens your aim with rifles and pistols. Alw...,1,DLC: The Sharpshooter Detective Suit,"[1385, 1386, 1387, 1388]",a10d3ebf-ae3a-f0cc-fc68-116b1545a9ac
1,347,0.0,NaN,0,"25 cm (10"") figurine of an Alb Mage","[1419, 1420]",2a42989b-4936-75bc-6331-0ce79abb225a
2,352,0.0,NaN,5,A making of DVD,"[1429, 1430]",bb46d55f-7145-0b5c-2f69-cea9dd2570d6
3,375,0.0,Double sided print of the in-game island,2,Collectible map,"[1519, 1520, 1521, 1522, 1523]",8a9ea6d0-b5f1-ece2-cd5d-61636d639ad0
4,382,0.0,"Exclusive to TESCO in the UK, it included thre...",9,Combat Strike Pack,"[1554, 1555, 1556, 1557, 1558]",263031ce-acb2-69a2-ab66-240dbaad4f4d
...,...,...,...,...,...,...,...
440,17,NaN,NaN,0,Season Pass,NaN,c27cf85d-4af5-9fc1-6f59-52a9624f9490
441,456,0.0,created in collaboration with Dark Horse Comic...,1,Full-color print comic book,"[1773, 1774, 1775, 1776]",218da9c1-cc23-cc6d-a50a-72ba78203f66
442,459,0.0,Full-color printed map of the world of Conan E...,4,World Map,"[1785, 1786, 1787, 1788]",3f282aa8-abeb-8fb8-2dc7-5277c451c0aa
443,555,0.0,NaN,0,Limited edition figurine,"[2154, 2155]",a655f38f-4322-fb48-6d4e-8bc71f3834c0
444,556,0.0,NaN,1,In-game unlockable code,"[2156, 2157]",323f6799-6718-6ffc-08d5-5164ba5a7f1d

In [23]:
game_vf_df = game_versions_features[['id','description', 'title']]

In [24]:
game_vf_df

,id,description,title
0,337,Sharpens your aim with rifles and pistols. Alw...,DLC: The Sharpshooter Detective Suit
1,347,NaN,"25 cm (10"") figurine of an Alb Mage"
2,352,NaN,A making of DVD
3,375,Double sided print of the in-game island,Collectible map
4,382,"Exclusive to TESCO in the UK, it included thre...",Combat Strike Pack
...,...,...,...
440,17,NaN,Season Pass
441,456,created in collaboration with Dark Horse Comic...,Full-color print comic book
442,459,Full-color printed map of the world of Conan E...,World Map
443,555,NaN,Limited edition figurine
444,556,NaN,In-game unlockable code

In [56]:
game_vf_df = game_vf_df.rename(columns={'description': 'version_desc', 'title': 'title_vers'})

In [57]:
game_vf_df

,id,version_desc,title_vers
0,337,Sharpens your aim with rifles and pistols. Alw...,DLC: The Sharpshooter Detective Suit
1,347,NaN,"25 cm (10"") figurine of an Alb Mage"
2,352,NaN,A making of DVD
3,375,Double sided print of the in-game island,Collectible map
4,382,"Exclusive to TESCO in the UK, it included thre...",Combat Strike Pack
...,...,...,...
440,17,NaN,Season Pass
441,456,created in collaboration with Dark Horse Comic...,Full-color print comic book
442,459,Full-color printed map of the world of Conan E...,World Map
443,555,NaN,Limited edition figurine
444,556,NaN,In-game unlockable code

In [61]:
merge_df = pd.merge(df, game_vf_df, how = 'left', on="id")

In [67]:
pd.set_option('display.max_columns', None)

merge_df.head(25)

,id,category,created_at,external_games,first_release_date,genres,name,platforms,release_dates,similar_games,slug,summary,tags,updated_at,url,checksum,age_ratings,cover,involved_companies,screenshots,game_modes,player_perspectives,themes,websites,alternative_names,artworks,game_engines,keywords,status,videos,rating,rating_count,storyline,total_rating,total_rating_count,version_parent,version_title,hypes,collection,franchises,follows,bundles,parent_game,franchise,aggregated_rating,aggregated_rating_count,multiplayer_modes,dlcs,ports,expansions,expanded_games,remakes,remasters,forks,standalone_expansions,version_desc,title_vers
0,40104,0,1498435200,"[20127, 1988884]",5.364576e+08,[5],Dogou Souken,[52],[91007],"[12364, 27270, 43367, 103281, 103292, 103298, ...",dogou-souken,An overhead-view shoot'em up game.,[268435461],1604620800,https://www.igdb.com/games/dogou-souken,5e7446ff-58d9-e744-f0d3-5e10241304c1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,85031,0,1517392813,"[216805, 1969751, 2005770]",1.404346e+09,[9],City Mysteries,[37],[138333],"[10603, 19222, 25905, 41349, 86974, 87507, 885...",city-mysteries,"Search buildings, streets, landmarks as you se...",[268435465],1641425677,https://www.igdb.com/games/city-mysteries,87b342e7-b912-ca8d-4ffb-f91f9e4f1870,[37944],61466.0,"[130531, 130532]","[155025, 155026, 155027]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,99234,0,1524843905,"[603512, 1857496, 1917109]",1.527120e+09,"[31, 32]",Sword of the Black Stone,[6],[188385],"[25646, 29783, 68271, 80916, 96217, 105269, 10...",sword-of-the-black-stone,If your looking for action and adventure then ...,"[1, 268435487, 268435488]",1643857546,https://www.igdb.com/games/sword-of-the-black-...,0b575316-96dc-b056-86e0-c958c1c95efb,NaN,91582.0,"[155850, 155852]","[231528, 231529, 231530, 231531, 231532]",[1],[2],[1],[84617],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,148930,0,1621959514,"[2052375, 2057300]",NaN,"[13, 15, 31, 32]",Bok-Bok: A Chicken Dating Sim,NaN,NaN,"[25311, 26145, 28277, 33603, 51577, 65827, 791...",bok-bok-a-chicken-dating-sim,Have you ever pondered what the romantic life ...,"[268435469, 268435471, 268435487, 268435488]",1643850601,https://www.igdb.com/games/bok-bok-a-chicken-d...,9585e273-2606-970f-3088-60261ea77068,NaN,169077.0,NaN,"[463145, 463148, 463149, 463151, 463152]",NaN,NaN,NaN,[192858],[63465],[33736],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,139538,0,1602368467,[1966278],1.525910e+09,[32],sun machine,[82],[213594],"[11666, 13200, 13660, 17130, 25311, 28070, 348...",sun-machine,"a story of dark days, chronic fatigue, optimis...","[18, 268435488, 536896982]",1639609570,https://www.igdb.com/games/sun-machine,9986cb06-667c-bb20-d9cf-cb239d7020df,NaN,117024.0,[117090],"[403247, 403248]",[1],[3],[18],[156114],NaN,NaN,[837],[26070],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,85450,0,1517405808,"[221231, 1748471, 1991656]",NaN,NaN,Transformers Prime: The Game,NaN,NaN,NaN,transformers-prime-the-game,NaN,NaN,1651604097,https://www.igdb.com/games/transformers-prime-...,50b54ee2-8d2c-1231-750e-161a1ff246cc,[67799],NaN,[85230],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,33284,0,1495670400,"[5560, 1947044]",1.457741e+09,[32],One way to exit,[6],[77755],"[32902, 37419, 40524, 43367, 105233, 111130, 1...",one-way-to-exit,"Move forward or backward in search of an exit,...","[1, 268435488]",1604620800,https://www.igdb.com/games/one-way-to-exit,334d534d-8f5b-3cf8-90b4-240e6daa97fc,NaN,NaN,NaN,"[58492, 58493, 58494, 58495, 58496]",[1],NaN,[1],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,89616,0,1519986874,"[269608, 1949905]",NaN,"[9, 33]",Bubble Whirl Shooter,NaN,NaN,NaN,bubble-whirl-shooter,Shoot bubbles and match colors to pop your way...,NaN,1635254871,https://www.igdb.com/games/bubble-whirl-shooter,a46d66e1-7b4e-c024-4ac8-f5253f805df2,NaN,192106.0,[154613],NaN,[1],NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,104748,0,1530489600,"[1155919, 1972586]",NaN,NaN,Space station - build your own ISS,NaN,NaN,NaN,space-station-build-your-own-iss,NaN,NaN,1604620800,https://www.igdb.com/games/space-station-build...,d49fe10f-a810-bb6a-3946-3c0b83f7fe44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,146815,0,1620325446,[2010807],1.230682e+09,[9],Parking Lot Maze,[6],[242971],"[10603, 19222, 41349, 86974, 87507, 88511, 891...",parking-lot-maze,Parking Lot Maze is a puzzle game where as a p...,[268435465],1620399729,https://www.igdb.com/games/parking-lot-maze,e1ec46f7-1553-ab37-2cb7-c171595248ff,NaN,139338.0,"[128071, 128072]","[441859, 441860, 441861]",[1],[3],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,135938,0,1595440348,[1951380],1.586390e+09,"[13, 32]",a sunny day in lockdown,[82],[204829],"[27744, 28277, 37419, 38967, 44242, 51577, 658...",a-sunny-day-in-lockdown,a sketch of a spring day in self-isolation,"[32, 268435469, 268435488, 536872342]",1636625338,https://www.igdb.com/games/a-sunny-day-in-lock...,749fb6ea-42e3-5fbf-6cd3-8d567bbc71da,NaN,111232.0,[117091],[683769],[1],[4],[32],[166334],NaN,NaN,[837],[1430],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,91579,0,1521072000,"[128240, 1189096]",NaN,NaN,Racing Live,NaN,NaN,NaN,racing-live,NaN,NaN,1521072000,https://www.igdb.com/games/racing-live,d23271a3-84f6-eb01-620d-29499cc4728f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,126355,0,1574865269,"[1836058, 1949135, 2043288]",NaN,[32],Drone Wars,NaN,NaN,"[32902, 40524, 76263, 96217, 105233, 106987, 1...",drone-wars,"Drone Wars is a sciFi multiplayer shooter, whe...","[1, 268435488]",1643855822,https://www.igdb.com/games/drone-wars,3b20e208-b16b-5a30-e32e-8f80888b6984,NaN,125973.0,NaN,"[368846, 368847, 368848, 368849, 368850, 36885...",[2],NaN,[1],[135092],NaN,[29509],NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,126622,0,1575281660,"[1837140, 1972608]",NaN,"[31, 32]",Long Count,NaN,NaN,"[27266, 28277, 55282, 75240, 75948, 87975, 962...",long-count,Sierra-style Point & Click Adventure,"[268435487, 268435488]",1643454420,https://www.igdb.com/games/long-count,4addc9fb-e162-2799-7c19-5e368f58457f,NaN,193622.0,NaN,"[359712, 359713, 359714, 359715, 359716]",[1],NaN,NaN,"[133018, 133019]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,118536,0,1558013499,"[1994256, 2171916]",1.528330e+09,NaN,Football Nation VR Tournament 2018,[165],[348756],NaN,football-nation-vr-tournament-2018,NaN,NaN,1659197626,https://www.igdb.com/games/football-nation-vr-...,4b1c2f3c-4c40-0ce9-643c-0d127f783963,[85029],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[63428],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,58674,0,1504728190,"[107879, 1904687, 2220979]",1.459987e+09,"[14, 33]",PKTBALL,"[34, 39]","[178827, 178828]",NaN,pktball,A hyper-charged arcade smash sport designed to...,NaN,1642796678,https://www.igdb.com/games/pktball,ad0bb25c-9c37-d72d-8975-2124dc499274,NaN,83799.0,[86588],"[713937, 713941, 713946, 713952, 713958, 71396...",NaN,NaN,NaN,"[122359, 122360, 122361]",[26658],[64231],NaN,NaN,NaN,[30914],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,18248,0,1457458737,"[30063, 130024, 1743759, 1921917]",1.271722e+09,[7],Beat City,[20],"[47952, 47953]","[11711, 18981, 54774, 63933, 67774, 77720, 789...",beat-city,A rhythm-based mini-game collection for the DS...,"[1, 268435463, 536871080, 536871186, 536875049...",1652301864,https://www.igdb.com/games/beat-city,62fa1b35-b89c-e933-f820-ff2d3e21a2c9,"[8122, 8123]",201029.0,"[164713, 164714]","[740229, 740230]",[1],[4],[1],NaN,NaN,NaN,NaN,"[168, 274, 4137, 4328]",NaN,NaN,60.00000,0.0,"Can you feel the beat? Life, color, and happin...",60.00000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,174288,0,1633375995,"[2125623, 2128644]",1.632442e+09,NaN,Apollo LM,[39],[316013],NaN,apollo-lm,3D fly and land the Apollo Lunar Module on the...,NaN,1641588311,https://www.igdb.com/games/apollo-lm,ac97a1dd-d1c1-0b72-6397-f448e18b12c1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[231075, 231076]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,174291,0,1633376121,"[2121088, 2128641]",1.629850e+09,NaN,Minar,[39],[316017],NaN,minar,Take mine-sweeping to the next dimension with ...,NaN,1641588311,https://www.igdb.com/games/minar,31558887-ad78-3d01-4774-2477062ab16a,NaN,NaN,NaN,"[653144, 653147, 653150, 653154, 653156, 65315...",NaN,NaN,NaN,"[231087, 231088]",[75412],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,138142,0,1598923019,[1959223],1.414714e+09,NaN,Lime Ergot,"[3, 6, 14, 82]","[208843, 208844, 208845, 208846]","[58867, 60191, 78096, 93104, 110737, 138140, 1...",lime-ergot,The last two officers of a tropical colonial o...,"[536871130, 536875172]",1654590569,https://www.igdb.com/games/lime-ergot,346b9931-3a5d-19b2-beed-ed10300090ee,NaN,113663.0,"[107078, 107079]",[804602],[1],[5],NaN,"[151358, 151359]",NaN,NaN,[558],"[218, 4260]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,48468,0,1499965750,"[31291, 1996060]",6.514560e+08,[14],Home Run Nighter '90: The Pennant League,[99],[315673],"[109606, 111048, 115869, 116343, 116349, 11635...",home-run-nighter-90-the-pennant-league,Home Run Night '90: The Pennant League is a Sp...,[268435470],1633358884,https://www.igdb.com/games/home-run-nighter-90...,e6f1ef37-9c6a-a439-d155-50fc7af216a7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,71300,0,1506604565,"[154772, 1867165]",NaN,NaN,PixelShips,NaN,NaN,"[17130, 24620, 25311, 44359, 55038, 68286, 682...",pixelships,PixelShips is a side-scrolling 2D shooter cons...,"[1, 18, 536871882, 536871971, 536876282, 53687...",1635217542,https://www.igdb.com/games/pixelships,dd037221-7a76-ad10-e721-40551532be4b,NaN,54330.0,NaN,"[671829, 671830, 671831, 671832, 671833, 67183...",NaN,NaN,"[1, 18]",NaN,NaN,NaN,NaN,"[970, 1059, 5370, 5479]",NaN,NaN,NaN,NaN,"In the year 2049, a new toy was invented to br...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,130740,0,1582329600,"[1617427, 1911867]",NaN,NaN,Deathmatch Club,NaN,NaN,NaN,deathmatch-club,NaN,NaN,1598400000,https://www.igdb.com/games/deathmatch-club,5feb0d25-b863-6e42-7dd0-8fe7da5d0141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,100789,0,1525651200,"[679587, 679684, 1991025]",NaN,"[14, 33]",Flying Arrow!.,NaN,NaN,"[14733, 87053, 90965, 109606, 116349, 116350, ...",flying-arrow--1,Flying Arrow is a game control throw your arro...,"[268435470, 268435489]",1604620800,https://www.igdb.com/games/flying-arrow--1,ecaba399-d6af-1a0a-5a4a-f1a08995382c,[21881],NaN,NaN,NaN,NaN,NaN,NaN,[78501],NaN,NaN,NaN,NaN,NaN,NaN,34.16185,0.0,NaN,34.16185,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,154564,0,1625265917,"[2028231, 2071818]",NaN,"[31, 32]",Cascadia Quest,NaN,NaN,"[27266, 28277, 55282, 75240, 75948, 87975, 962...",cascadia-quest,Relive 1980s nostalgia in this classic adventu...,"[268435487, 268435488]",1643891311,https://www.igdb.com/games/cascadia-quest,3198eaec-2e40-3a6c-1b9f-0339f0dce409,NaN,169661.0,NaN,"[512179, 512180, 512181, 512182, 512183, 512184]",NaN,NaN,NaN,[196026],NaN,[40484],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204500 entries, 0 to 204499
Data columns (total 57 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       204500 non-null  int64
 1   category                 204500 non-null  int64
 2   created_at               204500 non-null  int64
 3   external_games           194622 non-null  object
 4   first_release_date       117719 non-null  float64
 5   genres                   158922 non-null  object
 6   name                     204500 non-null  object
 7   platforms                122839 non-null  object
 8   release_dates            122466 non-null  object
 9   similar_games            165305 non-null  object
 10  slug                     204500 non-null  object
 11  summary                  169678 non-null  object
 12  tags                     165329 non-null  object
 13  updated_at               204500 non-null  int64
 14  url                      204500 non-null  object
 15  checksum                 204500 non-null  object
 16  age_ratings              44300 non-null   object
 17  cover                    145491 non-null  float64
 18  involved_companies       84562 non-null   object
 19  screenshots              138214 non-null  object
 20  game_modes               97319 non-null   object
 21  player_perspectives      61353 non-null   object
 22  themes                   104501 non-null  object
 23  websites                 130497 non-null  object
 24  alternative_names        39578 non-null   object
 25  artworks                 67789 non-null   object
 26  game_engines             16334 non-null   object
 27  keywords                 80012 non-null   object
 28  status                   12437 non-null   float64
 29  videos                   42367 non-null   object
 30  rating                   28154 non-null   float64
 31  rating_count             28154 non-null   float64
 32  storyline                16520 non-null   object
 33  total_rating             32985 non-null   float64
 34  total_rating_count       32985 non-null   float64
 35  version_parent           5091 non-null    float64
 36  version_title            4906 non-null    object
 37  hypes                    8509 non-null    float64
 38  collection               32801 non-null   float64
 39  franchises               16204 non-null   object
 40  follows                  21103 non-null   float64
 41  bundles                  6040 non-null    object
 42  parent_game              20050 non-null   float64
 43  franchise                1518 non-null    float64
 44  aggregated_rating        13927 non-null   float64
 45  aggregated_rating_count  13927 non-null   float64
 46  multiplayer_modes        9000 non-null    object
 47  dlcs                     2125 non-null    object
 48  ports                    2128 non-null    object
 49  expansions               558 non-null     object
 50  expanded_games           829 non-null     object
 51  remakes                  564 non-null     object
 52  remasters                572 non-null     object
 53  forks                    34 non-null      object
 54  standalone_expansions    205 non-null     object
 55  version_desc             184 non-null     object
 56  title_vers               441 non-null     object
dtypes: float64(15), int64(4), object(38)
memory usage: 90.5+ MB

In [68]:
merge_df.version_desc.value_counts()

Physical copies only.                                                                                                                                                                                                                                                                                      8
Song of the Caverns is the eleventh mission in Thief Gold and the third and final mission exclusive to that game. Garrett enters a secret cavern in search of the Talisman of Water, but soon learns that it has been discovered and removed by the owner of a local Opera House.                          6
Thieves' Guild is the sixth mission in Thief Gold and the first mission that does not appear in Thief: The Dark Project. Garrett must infiltrate the secret underground hideout of the Downwind Thieves' Guild and steal Lord Randall's sapphire vase, which they stole before Garrett had the chance.     6
The Mage Towers is the ninth mission in Thief Gold and the second mission exclusive to the Gold version of the game. Garrett must infiltrate the compound of the Hand Brotherhood and steal the Talisman of Earth.                                                                                         5
Amount of pedestrians increased.                                                                                                                                                                                                                                                                           2
                                                                                                                                                                                                                                                                                                          ..
 8" Play Arts Kai Lara Croft figurine in a metal box                                                                                                                                                                                                                                                       1
created in collaboration with Dark Horse Comics. The comic book tells the story of Conan on one of his adventures in the Exiled Lands.                                                                                                                                                                     1
Transported to the Big MT research crater, you are enlisted by the Think Tank to save them from their own science experiments that have gone horribly out of control.                                                                                                                                      1
20 cm statue of Pagan Min.                                                                                                                                                                                                                                                                                 1
A faithful sidekick to keep you company on board the Normandy.                                                                                                                                                                                                                                             1
Name: version_desc, Length: 155, dtype: int64

In [43]:
gamevfv_df

      game
id
391  52617
394  52617
144  39045
503  83886
399  19333
..     ...
298  41637
298  28210
292   9536
290   9536
299  42941

[204500 rows x 1 columns]

In [52]:
results_df = pd.merge(gamevfv_df,  game_vf_df , how = 'left', on="id")

In [53]:
results_df

,id,game,description,title
0,391,52617,"Delve into the mystery of the Shining Lady, Ca...",Field Report with Removable Coin
1,394,52617,Show the world you've joined the siege with th...,Siege of Dragonspear Amulet
2,144,39045,NaN,Bayekâ€™s Eagle Skull Amulet
3,503,83886,Doomsday Prepper Pack includes the prepper out...,Doomsday Prepper Pack
4,399,19333,Prospect Mask with a display base,Prospect Mask
...,...,...,...,...
204495,298,41637,NaN,Season Pass
204496,298,28210,NaN,Season Pass
204497,292,9536,NaN,Cloth Game Map
204498,290,9536,NaN,Official Soundtrack
204499,299,42941,NaN,Exclusive O-Sleeve packaging

In [54]:
results_df = results_df.set_index('game')

In [55]:
results_df

,id,description,title
game,,,
52617,391,"Delve into the mystery of the Shining Lady, Ca...",Field Report with Removable Coin
52617,394,Show the world you've joined the siege with th...,Siege of Dragonspear Amulet
39045,144,NaN,Bayekâ€™s Eagle Skull Amulet
83886,503,Doomsday Prepper Pack includes the prepper out...,Doomsday Prepper Pack
19333,399,Prospect Mask with a display base,Prospect Mask
...,...,...,...
41637,298,NaN,Season Pass
28210,298,NaN,Season Pass
9536,292,NaN,Cloth Game Map
9536,290,NaN,Official Soundtrack
42941,299,NaN,Exclusive O-Sleeve packaging

In [60]:
df.head()

,id,category,created_at,external_games,first_release_date,genres,name,platforms,release_dates,similar_games,...,aggregated_rating_count,multiplayer_modes,dlcs,ports,expansions,expanded_games,remakes,remasters,forks,standalone_expansions
0,40104,0,1498435200,"[20127, 1988884]",5.364576e+08,[5],Dogou Souken,[52],[91007],"[12364, 27270, 43367, 103281, 103292, 103298, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,85031,0,1517392813,"[216805, 1969751, 2005770]",1.404346e+09,[9],City Mysteries,[37],[138333],"[10603, 19222, 25905, 41349, 86974, 87507, 885...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,99234,0,1524843905,"[603512, 1857496, 1917109]",1.527120e+09,"[31, 32]",Sword of the Black Stone,[6],[188385],"[25646, 29783, 68271, 80916, 96217, 105269, 10...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,148930,0,1621959514,"[2052375, 2057300]",NaN,"[13, 15, 31, 32]",Bok-Bok: A Chicken Dating Sim,NaN,NaN,"[25311, 26145, 28277, 33603, 51577, 65827, 791...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,139538,0,1602368467,[1966278],1.525910e+09,[32],sun machine,[82],[213594],"[11666, 13200, 13660, 17130, 25311, 28070, 348...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
merge_df = pd.merge(df, results_df, how = 'left', on="game")

KeyError: 'game'

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204500 entries, 0 to 499
Data columns (total 55 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       204500 non-null  int64
 1   category                 204500 non-null  int64
 2   created_at               204500 non-null  int64
 3   external_games           194622 non-null  object
 4   first_release_date       117719 non-null  float64
 5   genres                   158922 non-null  object
 6   name                     204500 non-null  object
 7   platforms                122839 non-null  object
 8   release_dates            122466 non-null  object
 9   similar_games            165305 non-null  object
 10  slug                     204500 non-null  object
 11  summary                  169678 non-null  object
 12  tags                     165329 non-null  object
 13  updated_at               204500 non-null  int64
 14  url                      204500 non-null  object
 15  checksum                 204500 non-null  object
 16  age_ratings              44300 non-null   object
 17  cover                    145491 non-null  float64
 18  involved_companies       84562 non-null   object
 19  screenshots              138214 non-null  object
 20  game_modes               97319 non-null   object
 21  player_perspectives      61353 non-null   object
 22  themes                   104501 non-null  object
 23  websites                 130497 non-null  object
 24  alternative_names        39578 non-null   object
 25  artworks                 67789 non-null   object
 26  game_engines             16334 non-null   object
 27  keywords                 80012 non-null   object
 28  status                   12437 non-null   float64
 29  videos                   42367 non-null   object
 30  rating                   28154 non-null   float64
 31  rating_count             28154 non-null   float64
 32  storyline                16520 non-null   object
 33  total_rating             32985 non-null   float64
 34  total_rating_count       32985 non-null   float64
 35  version_parent           5091 non-null    float64
 36  version_title            4906 non-null    object
 37  hypes                    8509 non-null    float64
 38  collection               32801 non-null   float64
 39  franchises               16204 non-null   object
 40  follows                  21103 non-null   float64
 41  bundles                  6040 non-null    object
 42  parent_game              20050 non-null   float64
 43  franchise                1518 non-null    float64
 44  aggregated_rating        13927 non-null   float64
 45  aggregated_rating_count  13927 non-null   float64
 46  multiplayer_modes        9000 non-null    object
 47  dlcs                     2125 non-null    object
 48  ports                    2128 non-null    object
 49  expansions               558 non-null     object
 50  expanded_games           829 non-null     object
 51  remakes                  564 non-null     object
 52  remasters                572 non-null     object
 53  forks                    34 non-null      object
 54  standalone_expansions    205 non-null     object
dtypes: float64(15), int64(4), object(36)
memory usage: 87.4+ MB

In [ ]:
df.t

> ## the function

In [ ]:
def get_game_v_features():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; limit 500;'
    r = requests.post('https://api.igdb.com/v4/game_version_features' ,data=data ,  headers=headers)
    game_version_features = wrapper.api_request('game_version_features', 'fields *;limit 500;')
    x = json.loads(game_version_features)
    game_versions_features =pd.DataFrame(x)
    return game_versions_features

# game_version_feature_values

In [25]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/game_version_feature_values' ,data=data ,  headers=headers)

In [26]:
game_version_feature_values = wrapper.api_request('game_version_feature_values', 'fields *;limit 500;')

In [27]:
x = json.loads(game_version_feature_values)

In [28]:
gamevfv_df=pd.DataFrame(x)

In [29]:
gamevfv_df

,id,game,game_feature,included_feature,checksum,note
0,1581,52617,391,0.0,1db62035-9135-3d01-25a5-9c194d8fbd8f,NaN
1,1590,52617,394,0.0,e2e097d5-c88d-d6ea-48cf-1f5288f6bbe2,NaN
2,591,39045,144,0.0,6ee07864-0f1b-d41f-e2a5-e7dc2731d9a0,NaN
3,1987,83886,503,2.0,612d4e1b-a3b2-60e4-680a-064c0837f71e,NaN
4,1600,19333,399,0.0,ba6dcc29-45c7-6412-ebce-da6731910fb9,NaN
...,...,...,...,...,...,...
495,1186,41637,298,0.0,6a2e38c1-1d55-4035-dd6e-1171c078f330,NaN
496,1188,28210,298,0.0,8d9fd115-84aa-2cc7-da8e-ed3de3bfa315,NaN
497,1194,9536,292,0.0,59cbc7b7-1ea2-2a93-1aed-5b1973175147,NaN
498,1192,9536,290,1.0,7eb1188a-13c2-b35e-d69e-1909438af148,NaN
499,1201,42941,299,0.0,f05efb80-16d7-4540-acdc-56b8669464c5,NaN

In [30]:
gamevfv_df = gamevfv_df.set_index('id')

In [31]:
gamevfv_df

,game,game_feature,included_feature,checksum,note
id,,,,,
1581,52617,391,0.0,1db62035-9135-3d01-25a5-9c194d8fbd8f,NaN
1590,52617,394,0.0,e2e097d5-c88d-d6ea-48cf-1f5288f6bbe2,NaN
591,39045,144,0.0,6ee07864-0f1b-d41f-e2a5-e7dc2731d9a0,NaN
1987,83886,503,2.0,612d4e1b-a3b2-60e4-680a-064c0837f71e,NaN
1600,19333,399,0.0,ba6dcc29-45c7-6412-ebce-da6731910fb9,NaN
...,...,...,...,...,...
1186,41637,298,0.0,6a2e38c1-1d55-4035-dd6e-1171c078f330,NaN
1188,28210,298,0.0,8d9fd115-84aa-2cc7-da8e-ed3de3bfa315,NaN
1194,9536,292,0.0,59cbc7b7-1ea2-2a93-1aed-5b1973175147,NaN
1192,9536,290,1.0,7eb1188a-13c2-b35e-d69e-1909438af148,NaN
1201,42941,299,0.0,f05efb80-16d7-4540-acdc-56b8669464c5,NaN

> ## the function

In [ ]:
def get_version_features_values():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; limit 500;'
    r = requests.post('https://api.igdb.com/v4/game_version_feature_values' ,data=data ,  headers=headers)
    game_version_feature_values = wrapper.api_request('game_version_feature_values', 'fields *;limit 500;')
    x = json.loads(game_version_feature_values)
    game_versions_feature_values =pd.DataFrame(x)
    return game_versions_feature_values

In [32]:
df.version_parent.value_counts()

7360.0      9
18866.0     9
114795.0    8
28552.0     8
9509.0      8
           ..
103335.0    1
28246.0     1
116809.0    1
186014.0    1
7344.0      1
Name: version_parent, Length: 3606, dtype: int64

In [33]:
def vf_values(wrapper):
    vf_values= pd.DataFrame()
    for i in range (0, 409):
        gvf_values = wrapper.api_request('companies', 'fields *; limit 500;' f'offset {i * 500};')
        y = json.loads(gvf_values)
        results_df =pd.DataFrame(y)
        vf_values = pd.concat([vf_values, gamevfv_df])
    return vf_values

In [34]:
gamevfv_df = vf_values(wrapper)

In [35]:
gamevfv_df

,game,game_feature,included_feature,checksum,note
id,,,,,
1581,52617,391,0.0,1db62035-9135-3d01-25a5-9c194d8fbd8f,NaN
1590,52617,394,0.0,e2e097d5-c88d-d6ea-48cf-1f5288f6bbe2,NaN
591,39045,144,0.0,6ee07864-0f1b-d41f-e2a5-e7dc2731d9a0,NaN
1987,83886,503,2.0,612d4e1b-a3b2-60e4-680a-064c0837f71e,NaN
1600,19333,399,0.0,ba6dcc29-45c7-6412-ebce-da6731910fb9,NaN
...,...,...,...,...,...
1186,41637,298,0.0,6a2e38c1-1d55-4035-dd6e-1171c078f330,NaN
1188,28210,298,0.0,8d9fd115-84aa-2cc7-da8e-ed3de3bfa315,NaN
1194,9536,292,0.0,59cbc7b7-1ea2-2a93-1aed-5b1973175147,NaN
1192,9536,290,1.0,7eb1188a-13c2-b35e-d69e-1909438af148,NaN
1201,42941,299,0.0,f05efb80-16d7-4540-acdc-56b8669464c5,NaN

In [36]:
gamevfv_df.game_feature.value_counts()

504    2863
261    2045
502    2045
247    2045
228    2045
       ...
471     409
227     409
474     409
483     409
292     409
Name: game_feature, Length: 279, dtype: int64

In [37]:
gamevfv_df = gamevfv_df[['game','game_feature']]

In [38]:
gamevfv_df

       game  game_feature
id
1581  52617           391
1590  52617           394
591   39045           144
1987  83886           503
1600  19333           399
...     ...           ...
1186  41637           298
1188  28210           298
1194   9536           292
1192   9536           290
1201  42941           299

[204500 rows x 2 columns]

In [39]:
gamevfv_df = gamevfv_df.rename(columns={"game_feature": "id"})

In [40]:
gamevfv_df

       game   id
id
1581  52617  391
1590  52617  394
591   39045  144
1987  83886  503
1600  19333  399
...     ...  ...
1186  41637  298
1188  28210  298
1194   9536  292
1192   9536  290
1201  42941  299

[204500 rows x 2 columns]

In [41]:
gamevfv_df = gamevfv_df.set_index('id')

In [51]:
gamevfv_df.isnull().sum()

game    0
dtype: int64

# compayn

In [ ]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/companies' ,data=data ,  headers=headers)

In [ ]:
companies = wrapper.api_request('companies', 'fields *;limit 500;')

In [ ]:
x = json.loads(companies)

In [ ]:
companies =pd.DataFrame(x)

In [ ]:
companies

> the function

In [ ]:
def get_company():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; limit 500;'
    r = requests.post('https://api.igdb.com/v4/companies' ,data=data ,  headers=headers)
    companies = wrapper.api_request('companies', 'fields *;limit 500;')
    x = json.loads(companies)
    companies =pd.DataFrame(x)
    return companies

> the wrapper function

In [ ]:
def get_companies(wrapper):
    get_companies= pd.DataFrame()
    for i in range (0, 409):
        company = wrapper.api_request('companies', 'fields *; limit 500;' f'offset {i * 500};')
        y = json.loads(company)
        results_df =pd.DataFrame(y)
        get_companies = pd.concat([get_companies, results_df])
    return get_companies

In [ ]:
get_companies(wrapper)

# involved_companies

In [ ]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/involved_companies' ,data=data ,  headers=headers)

In [ ]:
involved_companies = wrapper.api_request('involved_companies', 'fields *;limit 500;')

In [ ]:
x = json.loads(involved_companies)

In [ ]:
involved_companies

> the function

In [ ]:
def get_inv_companies():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; limit 500;'
    r = requests.post('https://api.igdb.com/v4/involved_companies' ,data=data ,  headers=headers)
    involved_companies = wrapper.api_request('involved_companies', 'fields *;limit 500;')
    x = json.loads(involved_companies)
    return involved_companies

> the wrapper function

In [ ]:
def inv_companies(wrapper):
    inv_companies= pd.DataFrame()
    for i in range (0, 409):
        i_company = wrapper.api_request('companies', 'fields *; limit 500;' f'offset {i * 500};')
        y = json.loads(i_company)
        results_df =pd.DataFrame(y)
        inv_companies = pd.concat([get_companies, results_df])
    return get_companies

# multi_player_mode

In [69]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/multiplayer_modes' ,data=data ,  headers=headers)

In [70]:
multiplayer_modes = wrapper.api_request('multiplayer_modes', 'fields *;limit 500;')

In [71]:
x = json.loads(multiplayer_modes)

In [72]:
multiplayer_modes =pd.DataFrame(x)

In [73]:
multiplayer_modes

,id,campaigncoop,dropin,game,lancoop,offlinecoop,offlinemax,onlinecoop,platform,splitscreen,checksum,offlinecoopmax,onlinecoopmax,onlinemax
0,9953,False,False,92273,False,False,2.0,False,22.0,False,1b94d937-dc0c-c62d-10af-e58d42860bd8,NaN,NaN,NaN
1,1832,True,True,7153,False,True,0.0,False,12.0,False,2b09f64f-b8b9-6948-ad98-9ab9bede8e3b,2.0,0.0,0.0
2,7987,False,False,57887,False,True,2.0,False,49.0,False,56c9ee4c-aae3-ba3c-ead0-9e899e1c5267,0.0,0.0,0.0
3,7,False,False,46076,False,False,30.0,False,6.0,False,a41bcf9c-976d-8690-629f-4c2737f65bf1,NaN,NaN,NaN
4,10207,False,False,31256,False,False,NaN,False,82.0,False,788009fd-9e08-5826-577b-9844575ba2d9,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,697,True,True,1585,False,True,0.0,False,12.0,False,044aa93c-5263-10c0-b583-8ab738379395,2.0,0.0,0.0
496,1585,True,False,1475,False,True,0.0,True,12.0,True,f51a407b-5956-9ae2-ccfc-26cd97943b2c,2.0,2.0,0.0
497,10585,False,False,4271,False,False,2.0,False,62.0,False,22f0a81c-c743-7bda-c32f-acdac9aa3edb,NaN,NaN,NaN
498,1586,True,True,4438,False,True,0.0,True,12.0,False,ff74b32b-6a52-af35-c6b7-e9f182d3ae61,2.0,2.0,0.0
499,10587,False,False,45883,False,False,2.0,False,30.0,False,8a524b0c-f084-10a8-6422-265f53d96f06,NaN,NaN,NaN

> the function

In [ ]:
def multi_player_mode():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; limit 500;'
    r = requests.post('https://api.igdb.com/v4/multiplayer_modes' ,data=data ,  headers=headers)
    multiplayer_modes = wrapper.api_request('multiplayer_modes', 'fields *;limit 500;')
    x = json.loads(multiplayer_modes)
    multiplayer_modes =pd.DataFrame(x)
    return multiplayer_modes

# this is random code from aquire

In [ ]:
#connect_api()

In [ ]:
#access_token, r = get_api()

In [ ]:
# def get_games(access_token, Client_ID):
    
#     testgames = []
    
#     headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
#     data = 'fields *; limit 500;'
#     r = requests.post('https://api.igdb.com/v4/games', data=data, headers=headers)
#     wrapper = IGDBWrapper(f'{Client_ID}', f'Bearer {access_token}')
    
    
#     for i in range(0, 409):
#         games = wrapper.api_request('games', 'fields *; limit 500;' f'offset {i * 409};')
#         testgames.append(games)
    
#     return testgames

In [ ]:
testgames = get_games(access_token, Client_ID)

In [ ]:
testgames

In [ ]:
#access_token

In [ ]:
wrapper = IGDBWrapper(f'{Client_ID}', f'Bearer {access_token}')

In [ ]:
testgames = []
for i in range(0, 409):
    games = wrapper.api_request('games', 'fields *; limit 500;' f'offset {i * 409};')
    testgames.append(games)

In [ ]:
url = env.get_db_url()
response = requests.post(url)
data = response.json()
access_token = data['access_token']

In [ ]:
#access_token

In [ ]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/games/', data=data, headers=headers)
wrapper = IGDBWrapper(env.Client_ID, "***")

In [ ]:
testgames = []
for i in range(0, 409):
    games = wrapper.api_request('games', 'fields *; limit 500;' f'offset {i * 409};')
    testgames.append(games)

In [ ]:
wrapper = IGDBWrapper(env.Client_ID, "**")

In [ ]:
url = 'https://api.igdb.com/v4/age_ratings'
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'category,checksum,content_descriptions,rating,rating_cover_url,synopsis;'
response = requests.post(url, headers=headers, data = data)

In [ ]:
data = response.json()
print(type(data))
data

In [ ]:

#print(response.text[17:48])

In [ ]:
access_token = data['access_token']

In [ ]:
#access_token

In [ ]:
print(r.text[:5000])

In [ ]:
r.text

In [ ]:
# Make a soup variable holding the response content
soup = BeautifulSoup(r.content, 'html.parser')

In [ ]:
games2 = r.json()

In [ ]:
games2

In [ ]:
games = pd.DataFrame(r.json())

In [ ]:
games.head()

In [ ]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {}'}
data = 'fields *; limit 500; offset 500;'
r2 = requests.post('https://api.igdb.com/v4/games/',data = data ,  headers=headers)

In [ ]:
r2.text

In [ ]:
games2 = pd.DataFrame(r2.json())

In [ ]:
games2.head()

In [ ]:
for i in range(0, 800):
    wrapper.api_request('games','fields *; limit 500;' f'offset {i * 500};')

In [ ]:
testgames = []
for i in range(0, 500):
    games = wrapper.api_request('games', 'fields *; limit 500;' f'offset {i * 500};')
    testgames.append(games)

In [ ]:
testgames[2]

In [ ]:
pd.DataFrame(testgames)

In [ ]:
for offset in range(0, 500):
    url = 'https://api.igdb.com/v4/games/' +str(offset)
    data = 'fields *; limit 500; offset 500;' 
    response = requests.get(url=url, headers=headers, data = data)        
    all_items.append(response)       
    offset = offset * 500
    
    print(offset)

In [ ]:
# pip install igdb-api-v4

In [ ]:
wrapper = IGDBWrapper(env.Client_ID, "")

In [ ]:
'''With a wrapper instance already created'''
# JSON API request
byte_array = wrapper.api_request(
            'games',
            'fields *; limit 500;'
          )
# parse into JSON however you like...

# Protobuf API request
from igdb.igdbapi_pb2 import GameResult
byte_array = wrapper.api_request(
            'games.pb', # Note the '.pb' suffix at the endpoint
            'fields *; limit 500;'
          )
games_message = GameResult()
games_message.ParseFromString(byte_array)# Fills the protobuf message object with the response

In [ ]:
games_message

In [ ]:
#y = json.loads(games_message)

In [ ]:
byte_array = wrapper.api_request(
            'games',
            'fields *; limit 500;'
          )

In [ ]:
import json
y = json.loads(byte_array)

In [ ]:
pd.DataFrame(y)

In [ ]:
# lists the column names
pd.DataFrame(y).columns

# Prepare

In [ ]:
df = pd.read_csv('games.csv', index_col='Unnamed: 0')

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.id.value_counts()

In [ ]:
df.rating.value_counts()

In [ ]:
df.aggregated_rating.notnull()

In [ ]:
df.forks.value_counts()

In [ ]:
df[df.name == 'ESPN NFL 2K5']

In [ ]:
df.genres.value_counts()

In [ ]:
df.platforms.value_counts()

In [ ]:
df = df.drop(columns=['artworks', 'cover','screenshots', 'videos', 'checksum', 'alternative_names', 'rating_count', 'total_rating_count', 'version_parent', 'hypes', 'franchises', 'follows', 'aggregated_rating_count'])
df.shape

In [ ]:
df.info()

In [ ]:
#df.head(30)

In [ ]:
from datetime import datetime

In [ ]:
#df.created_at = df.created_at.apply(lambda d: datetime.datetime.fromtimestamp(int(d)).strftime('%Y-%m-%d'))

In [ ]:
# df.columns = ["created_at"]
# #convert dates 
# df.date = df.date.apply(lambda d: datetime.strptime(d, "%Y-%m-%d"))
# df.index = df.date

In [ ]:
# df.created_at = pd.to_datetime(df.created_at)

In [ ]:
df.head(30)

In [ ]:
df.created_at.value_counts()

In [ ]:
df.rename(columns={'slug': 'lower_case_name', 'aggregated_rating': 'critic_rating'}, inplace=True)

In [ ]:
df.head(3)

In [ ]:
df['created_at'] = pd.to_datetime(df['created_at'],unit='s')

In [ ]:
df.head()

In [ ]:
df['updated_at'] = pd.to_datetime(df['updated_at'],unit='s')

In [ ]:
df.head()

In [ ]:
df['first_release_date'] = pd.to_datetime(df['first_release_date'],unit='s')

In [ ]:
df.head(20)

In [ ]:
#df['release_dates'] = pd.to_datetime(df['release_dates'],unit='s')

In [ ]:
df['first_release_date'] = pd.to_datetime(df['first_release_date'],unit='s')

In [ ]:
df.category.value_counts()

In [ ]:
url = 'https://api.igdb.com/v4/age_ratings'
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'category,checksum,content_descriptions,rating,rating_cover_url,synopsis;'
response = requests.post(url, headers=headers, data = data)

In [ ]:
print(response.text)

In [ ]:
url = 'https://api.igdb.com/v4/age_rating_content_descriptions'
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *;'
response = get(url, headers=headers, data = data)

In [ ]:
print(response.text)