In [1]:
import requests
from env import Client_ID
from bs4 import BeautifulSoup
from igdb.wrapper import IGDBWrapper
import os
import pandas as pd
import json
import time
import env
from requests.models import Request, Response
from typing import Dict, List, Optional, Union, cast

## connect to api

In [2]:
def connect_api():   
    url = env.get_db_url()
    response = requests.post(url)
    data = response.json()
    access_token = data['access_token']
    return access_token

In [3]:
access_token = connect_api()

In [4]:
def run_wrapper():
    wrapper = IGDBWrapper(f'{Client_ID}', f'{access_token}')
    return wrapper

In [5]:
def connect_to_games():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; popularity;sort popularity desc;'
    r = requests.post('https://api.igdb.com/v4/games' ,data=data ,  headers=headers)
    return r

In [6]:
# function that puts response list object into a dataframe for each page
def get_game_library(wrapper):
    game_library = pd.DataFrame()
    for i in range (0, 409):
        games = wrapper.api_request('games', 'fields *; limit 500;' f'offset {i * 500};')
        y = json.loads(games)
        results_df =pd.DataFrame(y)
        game_library = pd.concat([game_library, results_df])
    return game_library

In [7]:
wrapper = run_wrapper()

In [8]:
wrapper

In [ ]:
tf = connect_to_games()

In [ ]:
tf

In [9]:
df = get_game_library(wrapper)

In [ ]:
# df = pd.read_csv('games.csv', index_col='Unnamed: 0')

In [ ]:
# pd.set_option('display.max_columns', None)
# df.head()

In [10]:
pd.set_option('display.max_columns', None)
df.head()

,id,category,created_at,external_games,first_release_date,genres,name,platforms,release_dates,similar_games,slug,summary,tags,updated_at,url,checksum,age_ratings,cover,involved_companies,screenshots,game_modes,player_perspectives,themes,websites,alternative_names,artworks,game_engines,keywords,status,videos,rating,rating_count,storyline,total_rating,total_rating_count,version_parent,version_title,hypes,collection,franchises,follows,bundles,parent_game,franchise,aggregated_rating,aggregated_rating_count,multiplayer_modes,dlcs,ports,expansions,expanded_games,remakes,remasters,forks,standalone_expansions
0,40104,0,1498435200,"[20127, 1988884]",5.364576e+08,[5],Dogou Souken,[52],[91007],"[12364, 27270, 43367, 103281, 103292, 103298, ...",dogou-souken,An overhead-view shoot'em up game.,[268435461],1604620800,https://www.igdb.com/games/dogou-souken,5e7446ff-58d9-e744-f0d3-5e10241304c1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,85031,0,1517392813,"[216805, 1969751, 2005770]",1.404346e+09,[9],City Mysteries,[37],[138333],"[10603, 19222, 25905, 41349, 86974, 87507, 885...",city-mysteries,"Search buildings, streets, landmarks as you se...",[268435465],1641425677,https://www.igdb.com/games/city-mysteries,87b342e7-b912-ca8d-4ffb-f91f9e4f1870,[37944],61466.0,"[130531, 130532]","[155025, 155026, 155027]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,99234,0,1524843905,"[603512, 1857496, 1917109]",1.527120e+09,"[31, 32]",Sword of the Black Stone,[6],[188385],"[25646, 29783, 68271, 80916, 96217, 105269, 10...",sword-of-the-black-stone,If your looking for action and adventure then ...,"[1, 268435487, 268435488]",1643857546,https://www.igdb.com/games/sword-of-the-black-...,0b575316-96dc-b056-86e0-c958c1c95efb,NaN,91582.0,"[155850, 155852]","[231528, 231529, 231530, 231531, 231532]",[1],[2],[1],[84617],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,148930,0,1621959514,"[2052375, 2057300]",NaN,"[13, 15, 31, 32]",Bok-Bok: A Chicken Dating Sim,NaN,NaN,"[25311, 26145, 28277, 33603, 51577, 65827, 791...",bok-bok-a-chicken-dating-sim,Have you ever pondered what the romantic life ...,"[268435469, 268435471, 268435487, 268435488]",1643850601,https://www.igdb.com/games/bok-bok-a-chicken-d...,9585e273-2606-970f-3088-60261ea77068,NaN,169077.0,NaN,"[463145, 463148, 463149, 463151, 463152]",NaN,NaN,NaN,[192858],[63465],[33736],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,139538,0,1602368467,[1966278],1.525910e+09,[32],sun machine,[82],[213594],"[11666, 13200, 13660, 17130, 25311, 28070, 348...",sun-machine,"a story of dark days, chronic fatigue, optimis...","[18, 268435488, 536896982]",1639609570,https://www.igdb.com/games/sun-machine,9986cb06-667c-bb20-d9cf-cb239d7020df,NaN,117024.0,[117090],"[403247, 403248]",[1],[3],[18],[156114],NaN,NaN,[837],[26070],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Extra work

In [ ]:
frames = [df, game_modes]

In [ ]:
result = pd.concat(frames)

In [ ]:
type(frames)

In [ ]:
type(game_modes)

In [ ]:
result.tail(10)

In [ ]:
result = pd.concat([df, game_modes], axis=1)

In [ ]:
result

In [ ]:
results = pd.merge(df, game_mode, how = 'left', on="game_modes")

In [ ]:
results

### Data frame work

In [ ]:
df.info()

In [ ]:
df.game_modes.value_counts()

In [ ]:
# Here i am making this a string with no brackets

In [ ]:
df["game_modes"] = df["game_modes"].str.replace("[\]\[]",'')

In [ ]:
df.game_modes.value_counts()

In [ ]:
#this is a merge that actually works
#but does not work when there is a list of numbers sadly 
#results = pd.merge(df, game_modes, how = 'left', on="game_modes")

In [ ]:
results.tail(20)

In [ ]:
results.info()

In [ ]:
def to_1D(series):
    return pd.Series([x for _list in series for x in _list])

In [ ]:
to_1D(df["game_modes"])

In [ ]:
type(game_modes)

In [ ]:

df["game_modes"].apply(pd.Series)

In [ ]:
df['game_modes'].replace([[1],['2'], ['3'], ['4']], [['Single player'], ['Multiplayer'], ['CO-op'], ['split screen']])

In [ ]:
L = ['Single player'], ['Multiplayer'], ['CO-op'], ['split screen']
    
for x in L:
    df.loc[df['column'].str.contains(x), "column"]= x
print (df)

In [ ]:
#df["game_modes"] = df["game_modes"].str.replace("[\]\[]",'')

In [ ]:
df['game_modes'].replace(['1'], ['Single player']).value_counts()

In [ ]:
#game_mode = game_mode.rename(columns={"game_mode_id": "game_modes"})

In [ ]:
df.tail()

In [ ]:
#df['game_modes'] = df['game_modes'].replace([['1,2'],['1,2,3']], [['Single player, multiplayer'], ['single player, Multiplayer, co-op']])

In [ ]:

# df['game_modes'] = df['game_modes'].fillna('7').apply(list)
# df.head()

In [ ]:
#df['game_modes'] = df['game_modes'].fillna(7)

# Aquiring diffrent data

# game modes

In [33]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/game_modes' ,data=data ,  headers=headers)

In [34]:
game_modes = wrapper.api_request('game_modes', 'fields *;limit 500;')

In [35]:
x = json.loads(game_modes)

In [36]:
game_mode =pd.DataFrame(x)

In [37]:
game_mode

,id,created_at,name,slug,updated_at,url,checksum
0,1,1298937600,Single player,single-player,1323216000,https://www.igdb.com/game_modes/single-player,a43b1688-f968-3541-0897-9735ffde1745
1,2,1298937600,Multiplayer,multiplayer,1323216000,https://www.igdb.com/game_modes/multiplayer,288b548c-11e4-d910-f037-21d4e6a33b38
2,3,1298937600,Co-operative,co-operative,1323216000,https://www.igdb.com/game_modes/co-operative,e8329d55-33e6-f7ae-ae09-2848cb7ccc90
3,4,1298937600,Split screen,split-screen,1323216000,https://www.igdb.com/game_modes/split-screen,98247b75-6f46-7c77-521f-0945c684d842
4,5,1298937600,Massively Multiplayer Online (MMO),massively-multiplayer-online-mmo,1323216000,https://www.igdb.com/game_modes/massively-mult...,307d1126-6e3b-9215-06f1-10c8ecce05b4
5,6,1588809600,Battle Royale,battle-royale,1588809600,https://www.igdb.com/game_modes/battle-royale,bfc388ac-0502-ba05-af25-3dcc94a0acf3

> the function

In [ ]:
# def get_game_modes():
#     headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
#     data = 'fields *; limit 500;'
#     r = requests.post('https://api.igdb.com/v4/game_modes' ,data=data ,  headers=headers)
#     game_modes = wrapper.api_request('game_modes', 'fields *;limit 500;')
#     x = json.loads(game_modes)
#     game_modes =pd.DataFrame(x)
#     return game_modes

In [ ]:
######## modelist ##########

In [38]:
modelist = game_mode[['id' , 'slug']].sort_values(by='id').reset_index(drop=True)

In [39]:
modelist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      6 non-null      int64
 1   slug    6 non-null      object
dtypes: int64(1), object(1)
memory usage: 224.0+ bytes

In [40]:
modelist

   id                              slug
0   1                     single-player
1   2                       multiplayer
2   3                      co-operative
3   4                      split-screen
4   5  massively-multiplayer-online-mmo
5   6                     battle-royale

In [ ]:
###### Mode dict ############

In [41]:
mode_dict = modelist.set_index('id').to_dict()['slug']

In [42]:
mode_dict

{1: 'single-player',
 2: 'multiplayer',
 3: 'co-operative',
 4: 'split-screen',
 5: 'massively-multiplayer-online-mmo',
 6: 'battle-royale'}

In [ ]:
######### test function ########

In [43]:
def test_funct(random_list):
    if type(random_list) == list:
        return [mode_dict[i] for i in random_list]
    else:  
        return "Not available"

In [ ]:
##### Merging ########

In [47]:
df['game_modes'] = pd.DataFrame(df.game_modes.apply(test_funct))
#ignore the error

KeyError: 'single-player'

In [48]:
df.head(3)

,id,category,created_at,external_games,first_release_date,genres,name,platforms,release_dates,similar_games,slug,summary,tags,updated_at,url,checksum,age_ratings,cover,involved_companies,screenshots,game_modes,player_perspectives,themes,websites,alternative_names,artworks,game_engines,keywords,status,videos,rating,rating_count,storyline,total_rating,total_rating_count,version_parent,version_title,hypes,collection,franchises,follows,bundles,parent_game,franchise,aggregated_rating,aggregated_rating_count,multiplayer_modes,dlcs,ports,expansions,expanded_games,remakes,remasters,forks,standalone_expansions
0,40104,0,1498435200,"[20127, 1988884]",5.364576e+08,[5],Dogou Souken,[52],[91007],"[12364, 27270, 43367, 103281, 103292, 103298, ...",dogou-souken,An overhead-view shoot'em up game.,[268435461],1604620800,https://www.igdb.com/games/dogou-souken,5e7446ff-58d9-e744-f0d3-5e10241304c1,NaN,NaN,NaN,NaN,Not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,85031,0,1517392813,"[216805, 1969751, 2005770]",1.404346e+09,[9],City Mysteries,[37],[138333],"[10603, 19222, 25905, 41349, 86974, 87507, 885...",city-mysteries,"Search buildings, streets, landmarks as you se...",[268435465],1641425677,https://www.igdb.com/games/city-mysteries,87b342e7-b912-ca8d-4ffb-f91f9e4f1870,[37944],61466.0,"[130531, 130532]","[155025, 155026, 155027]",Not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,99234,0,1524843905,"[603512, 1857496, 1917109]",1.527120e+09,"[31, 32]",Sword of the Black Stone,[6],[188385],"[25646, 29783, 68271, 80916, 96217, 105269, 10...",sword-of-the-black-stone,If your looking for action and adventure then ...,"[1, 268435487, 268435488]",1643857546,https://www.igdb.com/games/sword-of-the-black-...,0b575316-96dc-b056-86e0-c958c1c95efb,NaN,91582.0,"[155850, 155852]","[231528, 231529, 231530, 231531, 231532]",[single-player],[2],[1],[84617],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
df.game_modes.value_counts()

Not available                                                                                  107195
[single-player]                                                                                 70762
[single-player, multiplayer]                                                                    10954
[single-player, multiplayer, co-operative]                                                       5217
[multiplayer]                                                                                    1939
[single-player, multiplayer, split-screen]                                                       1278
[single-player, co-operative]                                                                    1084
[single-player, split-screen]                                                                    1026
[massively-multiplayer-online-mmo]                                                               1021
[multiplayer, co-operative]                                                                       746
[multiplayer, massively-multiplayer-online-mmo]                                                   634
[single-player, multiplayer, co-operative, split-screen]                                          581
[single-player, multiplayer, co-operative, massively-multiplayer-online-mmo]                      461
[multiplayer, co-operative, massively-multiplayer-online-mmo]                                     365
[single-player, multiplayer, massively-multiplayer-online-mmo]                                    324
[single-player, co-operative, split-screen]                                                       145
[single-player, massively-multiplayer-online-mmo]                                                 121
[co-operative]                                                                                    107
[multiplayer, battle-royale]                                                                      103
[battle-royale]                                                                                    87
[multiplayer, co-operative, battle-royale]                                                         45
[multiplayer, split-screen]                                                                        42
[single-player, multiplayer, battle-royale]                                                        32
[multiplayer, co-operative, split-screen]                                                          27
[split-screen]                                                                                     27
[single-player, multiplayer, co-operative, battle-royale]                                          26
[co-operative, massively-multiplayer-online-mmo]                                                   18
[multiplayer, massively-multiplayer-online-mmo, battle-royale]                                     16
[single-player, co-operative, massively-multiplayer-online-mmo]                                    15
[single-player, multiplayer, co-operative, massively-multiplayer-online-mmo, battle-royale]        13
[multiplayer, co-operative, massively-multiplayer-online-mmo, battle-royale]                       12
[single-player, multiplayer, co-operative, split-screen, massively-multiplayer-online-mmo]         11
[single-player, multiplayer, split-screen, massively-multiplayer-online-mmo]                        9
[single-player, multiplayer, co-operative, split-screen, battle-royale]                             9
[co-operative, split-screen]                                                                        8
[massively-multiplayer-online-mmo, battle-royale]                                                   8
[single-player, multiplayer, split-screen, battle-royale]                                           6
[single-player, battle-royale]                                                                      6
[single-player, co-operative, battle-royale]                                                        5
[single-player, multiplayer, massively-multiplayer-online-mmo, battle-royale]                       4
[multiplayer, split-screen, battle-royale]                                                          3
[single-player, split-screen, massively-multiplayer-online-mmo]                                     2
[multiplayer, co-operative, split-screen, massively-multiplayer-online-mmo]                         1
[split-screen, battle-royale]                                                                       1
[single-player, massively-multiplayer-online-mmo, battle-royale]                                    1
[single-player, split-screen, battle-royale]                                                        1
[co-operative, battle-royale]                                                                       1
[multiplayer, split-screen, massively-multiplayer-online-mmo]                                       1
Name: game_modes, dtype: int64

# game_version (do not need this one)

In [ ]:
# headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
# data = 'fields *; limit 500;'
# r = requests.post('https://api.igdb.com/v4/game_versions' ,data=data ,  headers=headers)

In [ ]:
# game_versions = wrapper.api_request('game_versions', 'fields *;limit 500;')

In [ ]:
# x = json.loads(game_versions)

In [ ]:
# game_versions =pd.DataFrame(x)

In [ ]:
# game_versions

In [ ]:
# pd.set_option('display.max_columns', None)
# df.head()

In [ ]:
# df.version_parent.value_counts()

In [ ]:
# df.version_title.value_counts()

> ## the function

In [ ]:
# def get_game_version():
#     headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
#     data = 'fields *; limit 500;'
#     r = requests.post('https://api.igdb.com/v4/game_versions' ,data=data ,  headers=headers)
#     game_versions = wrapper.api_request('game_versions', 'fields *;limit 500;')
#     x = json.loads(game_versions)
#     game_versions =pd.DataFrame(x)
#     return game_version

In [ ]:
# def test_funct(random_list):
#     if type(random_list) == list:
#         return [mode_dict[i] for i in random_list]
#     else:  
#         return "Not available"

In [ ]:
# def get_game_version(wrapper):
#     get_game_version = pd.DataFrame()
#     for i in range(0,409):
#         game_versions = wrapper.api_request('game_versions', 'fields *;limit 500;')
#         y = json.loads(game_versions)
#         results_df =pd.DataFrame(y)
#         get_game_version = pd.concat([get_game_version, results_df])
#     return get_game_version

# game_version_features

In [50]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/game_version_features' ,data=data ,  headers=headers)

In [51]:
game_version_features = wrapper.api_request('game_version_features', 'fields *;limit 500;')

In [52]:
x = json.loads(game_version_features)

In [53]:
game_versions_features =pd.DataFrame(x)

In [54]:
game_versions_features

,id,category,description,position,title,values,checksum
0,337,0.0,Sharpens your aim with rifles and pistols. Alw...,1,DLC: The Sharpshooter Detective Suit,"[1385, 1386, 1387, 1388]",a10d3ebf-ae3a-f0cc-fc68-116b1545a9ac
1,347,0.0,NaN,0,"25 cm (10"") figurine of an Alb Mage","[1419, 1420]",2a42989b-4936-75bc-6331-0ce79abb225a
2,352,0.0,NaN,5,A making of DVD,"[1429, 1430]",bb46d55f-7145-0b5c-2f69-cea9dd2570d6
3,375,0.0,Double sided print of the in-game island,2,Collectible map,"[1519, 1520, 1521, 1522, 1523]",8a9ea6d0-b5f1-ece2-cd5d-61636d639ad0
4,382,0.0,"Exclusive to TESCO in the UK, it included thre...",9,Combat Strike Pack,"[1554, 1555, 1556, 1557, 1558]",263031ce-acb2-69a2-ab66-240dbaad4f4d
...,...,...,...,...,...,...,...
440,17,NaN,NaN,0,Season Pass,NaN,c27cf85d-4af5-9fc1-6f59-52a9624f9490
441,456,0.0,created in collaboration with Dark Horse Comic...,1,Full-color print comic book,"[1773, 1774, 1775, 1776]",218da9c1-cc23-cc6d-a50a-72ba78203f66
442,459,0.0,Full-color printed map of the world of Conan E...,4,World Map,"[1785, 1786, 1787, 1788]",3f282aa8-abeb-8fb8-2dc7-5277c451c0aa
443,555,0.0,NaN,0,Limited edition figurine,"[2154, 2155]",a655f38f-4322-fb48-6d4e-8bc71f3834c0
444,556,0.0,NaN,1,In-game unlockable code,"[2156, 2157]",323f6799-6718-6ffc-08d5-5164ba5a7f1d

In [55]:
game_vf_df = game_versions_features[['id','description', 'title']]

In [56]:
game_vf_df

,id,description,title
0,337,Sharpens your aim with rifles and pistols. Alw...,DLC: The Sharpshooter Detective Suit
1,347,NaN,"25 cm (10"") figurine of an Alb Mage"
2,352,NaN,A making of DVD
3,375,Double sided print of the in-game island,Collectible map
4,382,"Exclusive to TESCO in the UK, it included thre...",Combat Strike Pack
...,...,...,...
440,17,NaN,Season Pass
441,456,created in collaboration with Dark Horse Comic...,Full-color print comic book
442,459,Full-color printed map of the world of Conan E...,World Map
443,555,NaN,Limited edition figurine
444,556,NaN,In-game unlockable code

In [57]:
game_vf_df = game_vf_df.rename(columns={'description': 'version_description', 'title': 'title_version'})

In [58]:
game_vf_df

,id,version_desc,title_vers
0,337,Sharpens your aim with rifles and pistols. Alw...,DLC: The Sharpshooter Detective Suit
1,347,NaN,"25 cm (10"") figurine of an Alb Mage"
2,352,NaN,A making of DVD
3,375,Double sided print of the in-game island,Collectible map
4,382,"Exclusive to TESCO in the UK, it included thre...",Combat Strike Pack
...,...,...,...
440,17,NaN,Season Pass
441,456,created in collaboration with Dark Horse Comic...,Full-color print comic book
442,459,Full-color printed map of the world of Conan E...,World Map
443,555,NaN,Limited edition figurine
444,556,NaN,In-game unlockable code

> ## the function

In [ ]:
# def get_game_v_features():
#     headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
#     data = 'fields *; limit 500;'
#     r = requests.post('https://api.igdb.com/v4/game_version_features' ,data=data ,  headers=headers)
#     game_version_features = wrapper.api_request('game_version_features', 'fields *;limit 500;')
#     x = json.loads(game_version_features)
#     game_versions_features =pd.DataFrame(x)
#     return game_versions_features

In [ ]:
# def get_game_v_features(wrapper):
#     get_game_v_features =pd.DataFrame()
#     for i in range(0,409):
#         game_version_features = wrapper.api_request('game_version_features', 'fields *;limit 500;')
#         y = json.loads(game_version_features)
#         results_df =pd.DataFrame(y)
#         game_version_features = pd.concat([game_version_features,results_df])
#     return

# game_version_feature_values

In [59]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/game_version_feature_values' ,data=data ,  headers=headers)

In [60]:
game_version_feature_values = wrapper.api_request('game_version_feature_values', 'fields *;limit 500;')

In [61]:
x = json.loads(game_version_feature_values)

In [62]:
gamevfv_df=pd.DataFrame(x)

In [63]:
gamevfv_df

,id,game,game_feature,included_feature,checksum,note
0,1581,52617,391,0.0,1db62035-9135-3d01-25a5-9c194d8fbd8f,NaN
1,1590,52617,394,0.0,e2e097d5-c88d-d6ea-48cf-1f5288f6bbe2,NaN
2,591,39045,144,0.0,6ee07864-0f1b-d41f-e2a5-e7dc2731d9a0,NaN
3,1987,83886,503,2.0,612d4e1b-a3b2-60e4-680a-064c0837f71e,NaN
4,1600,19333,399,0.0,ba6dcc29-45c7-6412-ebce-da6731910fb9,NaN
...,...,...,...,...,...,...
495,1186,41637,298,0.0,6a2e38c1-1d55-4035-dd6e-1171c078f330,NaN
496,1188,28210,298,0.0,8d9fd115-84aa-2cc7-da8e-ed3de3bfa315,NaN
497,1194,9536,292,0.0,59cbc7b7-1ea2-2a93-1aed-5b1973175147,NaN
498,1192,9536,290,1.0,7eb1188a-13c2-b35e-d69e-1909438af148,NaN
499,1201,42941,299,0.0,f05efb80-16d7-4540-acdc-56b8669464c5,NaN

> ## the function

In [ ]:
# def get_version_features_values():
#     headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
#     data = 'fields *; limit 500;'
#     r = requests.post('https://api.igdb.com/v4/game_version_feature_values' ,data=data ,  headers=headers)
#     game_version_feature_values = wrapper.api_request('game_version_feature_values', 'fields *;limit 500;')
#     x = json.loads(game_version_feature_values)
#     game_versions_feature_values =pd.DataFrame(x)
#     return game_versions_feature_values

In [64]:
# def get_value_feature_values(wrapper):
#     get_value_feature_values= pd.DataFrame()
#     for i in range (0, 409):
#         gvf_values = wrapper.api_request('game_feature', 'fields *; limit 500;' f'offset {i * 500};')
#         y = json.loads(gvf_values)
#         results_df =pd.DataFrame(y)
#         get_value_feature_values = pd.concat([vf_values, results_df])
#     return get_vf_values

In [ ]:
########### This needs a wrapper ##########

In [68]:
def vf_values(wrapper):
    vf_values= pd.DataFrame()
    for i in range (0, 409):
        gvf_values = wrapper.api_request('companies', 'fields *; limit 500;' f'offset {i * 500};')
        y = json.loads(gvf_values)
        results_df =pd.DataFrame(y)
        vf_values = pd.concat([vf_values, gamevfv_df])
    return vf_values

In [69]:
gamevfv_df = vf_values(wrapper)

In [70]:
gamevfv_df

,id,game,game_feature,included_feature,checksum,note
0,1581,52617,391,0.0,1db62035-9135-3d01-25a5-9c194d8fbd8f,NaN
1,1590,52617,394,0.0,e2e097d5-c88d-d6ea-48cf-1f5288f6bbe2,NaN
2,591,39045,144,0.0,6ee07864-0f1b-d41f-e2a5-e7dc2731d9a0,NaN
3,1987,83886,503,2.0,612d4e1b-a3b2-60e4-680a-064c0837f71e,NaN
4,1600,19333,399,0.0,ba6dcc29-45c7-6412-ebce-da6731910fb9,NaN
...,...,...,...,...,...,...
495,1186,41637,298,0.0,6a2e38c1-1d55-4035-dd6e-1171c078f330,NaN
496,1188,28210,298,0.0,8d9fd115-84aa-2cc7-da8e-ed3de3bfa315,NaN
497,1194,9536,292,0.0,59cbc7b7-1ea2-2a93-1aed-5b1973175147,NaN
498,1192,9536,290,1.0,7eb1188a-13c2-b35e-d69e-1909438af148,NaN
499,1201,42941,299,0.0,f05efb80-16d7-4540-acdc-56b8669464c5,NaN

In [73]:
gamevfv_df = gamevfv_df[['game','game_feature']]

In [74]:
gamevfv_df

       game  game_feature
id
1581  52617           391
1590  52617           394
591   39045           144
1987  83886           503
1600  19333           399
...     ...           ...
1186  41637           298
1188  28210           298
1194   9536           292
1192   9536           290
1201  42941           299

[204500 rows x 2 columns]

In [75]:
gamevfv_df = gamevfv_df.rename(columns={"game_feature": "id"})

In [77]:
gamevfv_df = gamevfv_df.set_index('id')

In [78]:
gamevfv_df

      game
id
391  52617
394  52617
144  39045
503  83886
399  19333
..     ...
298  41637
298  28210
292   9536
290   9536
299  42941

[204500 rows x 1 columns]

## Merging game_verion_feature & game_version_feature_value to the main dataframe

In [79]:
gamevfv_df

      game
id
391  52617
394  52617
144  39045
503  83886
399  19333
..     ...
298  41637
298  28210
292   9536
290   9536
299  42941

[204500 rows x 1 columns]

In [80]:
results_df = pd.merge(gamevfv_df,  game_vf_df , how = 'left', on="id")

In [ ]:
results_df= results_df.drop['id']

In [ ]:
results_df = results_df.rename(columns={'game': 'id'})

In [81]:
results_df = results_df.set_index('id')

In [85]:
results_df

,id,version_desc,title_vers
game,,,
52617,391,"Delve into the mystery of the Shining Lady, Ca...",Field Report with Removable Coin
52617,394,Show the world you've joined the siege with th...,Siege of Dragonspear Amulet
39045,144,NaN,Bayek’s Eagle Skull Amulet
83886,503,Doomsday Prepper Pack includes the prepper out...,Doomsday Prepper Pack
19333,399,Prospect Mask with a display base,Prospect Mask
...,...,...,...
41637,298,NaN,Season Pass
28210,298,NaN,Season Pass
9536,292,NaN,Cloth Game Map
9536,290,NaN,Official Soundtrack
42941,299,NaN,Exclusive O-Sleeve packaging

In [87]:
results_df

,id,version_desc,title_vers
game,,,
52617,391,"Delve into the mystery of the Shining Lady, Ca...",Field Report with Removable Coin
52617,394,Show the world you've joined the siege with th...,Siege of Dragonspear Amulet
39045,144,NaN,Bayek’s Eagle Skull Amulet
83886,503,Doomsday Prepper Pack includes the prepper out...,Doomsday Prepper Pack
19333,399,Prospect Mask with a display base,Prospect Mask
...,...,...,...
41637,298,NaN,Season Pass
28210,298,NaN,Season Pass
9536,292,NaN,Cloth Game Map
9536,290,NaN,Official Soundtrack
42941,299,NaN,Exclusive O-Sleeve packaging

In [83]:
merge_df = pd.merge(df, results_df, how = 'left', on="id")

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204500 entries, 0 to 499
Data columns (total 55 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       204500 non-null  int64
 1   category                 204500 non-null  int64
 2   created_at               204500 non-null  int64
 3   external_games           194617 non-null  object
 4   first_release_date       117710 non-null  float64
 5   genres                   158910 non-null  object
 6   name                     204500 non-null  object
 7   platforms                122837 non-null  object
 8   release_dates            122464 non-null  object
 9   similar_games            165292 non-null  object
 10  slug                     204500 non-null  object
 11  summary                  169669 non-null  object
 12  tags                     165316 non-null  object
 13  updated_at               204500 non-null  int64
 14  url                      204500 non-null  object
 15  checksum                 204500 non-null  object
 16  age_ratings              44289 non-null   object
 17  cover                    145490 non-null  float64
 18  involved_companies       84559 non-null   object
 19  screenshots              138210 non-null  object
 20  game_modes               204500 non-null  object
 21  player_perspectives      61333 non-null   object
 22  themes                   104489 non-null  object
 23  websites                 130482 non-null  object
 24  alternative_names        39548 non-null   object
 25  artworks                 67777 non-null   object
 26  game_engines             16312 non-null   object
 27  keywords                 79995 non-null   object
 28  status                   12439 non-null   float64
 29  videos                   42365 non-null   object
 30  rating                   28135 non-null   float64
 31  rating_count             28135 non-null   float64
 32  storyline                16513 non-null   object
 33  total_rating             32970 non-null   float64
 34  total_rating_count       32970 non-null   float64
 35  version_parent           5089 non-null    float64
 36  version_title            4905 non-null    object
 37  hypes                    8497 non-null    float64
 38  collection               32773 non-null   float64
 39  franchises               16188 non-null   object
 40  follows                  21089 non-null   float64
 41  bundles                  6031 non-null    object
 42  parent_game              20039 non-null   float64
 43  franchise                1515 non-null    float64
 44  aggregated_rating        13916 non-null   float64
 45  aggregated_rating_count  13916 non-null   float64
 46  multiplayer_modes        8981 non-null    object
 47  dlcs                     2102 non-null    object
 48  ports                    2122 non-null    object
 49  expansions               550 non-null     object
 50  expanded_games           825 non-null     object
 51  remakes                  562 non-null     object
 52  remasters                571 non-null     object
 53  forks                    34 non-null      object
 54  standalone_expansions    200 non-null     object
dtypes: float64(15), int64(4), object(36)
memory usage: 87.4+ MB

# compayn

In [ ]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/companies' ,data=data ,  headers=headers)

In [ ]:
companies = wrapper.api_request('companies', 'fields *;limit 500;')

In [ ]:
x = json.loads(companies)

In [ ]:
companies =pd.DataFrame(x)

In [ ]:
companies

> the function

In [ ]:
def get_company():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; limit 500;'
    r = requests.post('https://api.igdb.com/v4/companies' ,data=data ,  headers=headers)
    companies = wrapper.api_request('companies', 'fields *;limit 500;')
    x = json.loads(companies)
    companies =pd.DataFrame(x)
    return companies

> the wrapper function

In [ ]:
def get_companies(wrapper):
    get_companies= pd.DataFrame()
    for i in range (0, 409):
        company = wrapper.api_request('companies', 'fields *; limit 500;' f'offset {i * 500};')
        y = json.loads(company)
        results_df =pd.DataFrame(y)
        get_companies = pd.concat([get_companies, results_df])
    return get_companies

In [ ]:
get_companies(wrapper)

# involved_companies

In [ ]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/involved_companies' ,data=data ,  headers=headers)

In [ ]:
involved_companies = wrapper.api_request('involved_companies', 'fields *;limit 500;')

In [ ]:
x = json.loads(involved_companies)

In [ ]:
involved_companies

> the function

In [ ]:
def get_inv_companies():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; limit 500;'
    r = requests.post('https://api.igdb.com/v4/involved_companies' ,data=data ,  headers=headers)
    involved_companies = wrapper.api_request('involved_companies', 'fields *;limit 500;')
    x = json.loads(involved_companies)
    return involved_companies

> the wrapper function

In [ ]:
def inv_companies(wrapper):
    inv_companies= pd.DataFrame()
    for i in range (0, 409):
        i_company = wrapper.api_request('companies', 'fields *; limit 500;' f'offset {i * 500};')
        y = json.loads(i_company)
        results_df =pd.DataFrame(y)
        inv_companies = pd.concat([get_companies, results_df])
    return get_companies

# multi_player_mode

In [11]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/multiplayer_modes' ,data=data ,  headers=headers)

In [12]:
multiplayer_modes = wrapper.api_request('multiplayer_modes', 'fields *;limit 500;')

In [13]:
x = json.loads(multiplayer_modes)

In [14]:
multiplayer_modes =pd.DataFrame(x)

In [15]:
multiplayer_modes

,id,campaigncoop,dropin,game,lancoop,offlinecoop,offlinemax,onlinecoop,platform,splitscreen,checksum,offlinecoopmax,onlinecoopmax,onlinemax
0,9953,False,False,92273,False,False,2.0,False,22.0,False,1b94d937-dc0c-c62d-10af-e58d42860bd8,NaN,NaN,NaN
1,1832,True,True,7153,False,True,0.0,False,12.0,False,2b09f64f-b8b9-6948-ad98-9ab9bede8e3b,2.0,0.0,0.0
2,7987,False,False,57887,False,True,2.0,False,49.0,False,56c9ee4c-aae3-ba3c-ead0-9e899e1c5267,0.0,0.0,0.0
3,7,False,False,46076,False,False,30.0,False,6.0,False,a41bcf9c-976d-8690-629f-4c2737f65bf1,NaN,NaN,NaN
4,10207,False,False,31256,False,False,NaN,False,82.0,False,788009fd-9e08-5826-577b-9844575ba2d9,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,697,True,True,1585,False,True,0.0,False,12.0,False,044aa93c-5263-10c0-b583-8ab738379395,2.0,0.0,0.0
496,1585,True,False,1475,False,True,0.0,True,12.0,True,f51a407b-5956-9ae2-ccfc-26cd97943b2c,2.0,2.0,0.0
497,10585,False,False,4271,False,False,2.0,False,62.0,False,22f0a81c-c743-7bda-c32f-acdac9aa3edb,NaN,NaN,NaN
498,1586,True,True,4438,False,True,0.0,True,12.0,False,ff74b32b-6a52-af35-c6b7-e9f182d3ae61,2.0,2.0,0.0
499,10587,False,False,45883,False,False,2.0,False,30.0,False,8a524b0c-f084-10a8-6422-265f53d96f06,NaN,NaN,NaN

> the function

In [ ]:
def multi_player_mode():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; limit 500;'
    r = requests.post('https://api.igdb.com/v4/multiplayer_modes' ,data=data ,  headers=headers)
    multiplayer_modes = wrapper.api_request('multiplayer_modes', 'fields *;limit 500;')
    x = json.loads(multiplayer_modes)
    multiplayer_modes =pd.DataFrame(x)
    return multiplayer_modes

In [ ]:
# def vf_values(wrapper):
#     vf_values= pd.DataFrame()
#     for i in range (0, 409):
#         gvf_values = wrapper.api_request('companies', 'fields *; limit 500;' f'offset {i * 500};')
#         y = json.loads(gvf_values)
#         results_df =pd.DataFrame(y)
#         vf_values = pd.concat([vf_values, gamevfv_df])
#     return vf_values

In [16]:
def multi_play(wrapper):
    multi_play= pd.DataFrame()
    for i in range (0, 409):
        multi_values = wrapper.api_request('companies', 'fields *; limit 500;' f'offset {i * 500};')
        y = json.loads(multi_values)
        results_df =pd.DataFrame(y)
        multi_play = pd.concat([multi_play, multiplayer_modes])
    return multi_play

In [17]:
multi_df = multi_play(wrapper)

In [18]:
multi_df

,id,campaigncoop,dropin,game,lancoop,offlinecoop,offlinemax,onlinecoop,platform,splitscreen,checksum,offlinecoopmax,onlinecoopmax,onlinemax
0,9953,False,False,92273,False,False,2.0,False,22.0,False,1b94d937-dc0c-c62d-10af-e58d42860bd8,NaN,NaN,NaN
1,1832,True,True,7153,False,True,0.0,False,12.0,False,2b09f64f-b8b9-6948-ad98-9ab9bede8e3b,2.0,0.0,0.0
2,7987,False,False,57887,False,True,2.0,False,49.0,False,56c9ee4c-aae3-ba3c-ead0-9e899e1c5267,0.0,0.0,0.0
3,7,False,False,46076,False,False,30.0,False,6.0,False,a41bcf9c-976d-8690-629f-4c2737f65bf1,NaN,NaN,NaN
4,10207,False,False,31256,False,False,NaN,False,82.0,False,788009fd-9e08-5826-577b-9844575ba2d9,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,697,True,True,1585,False,True,0.0,False,12.0,False,044aa93c-5263-10c0-b583-8ab738379395,2.0,0.0,0.0
496,1585,True,False,1475,False,True,0.0,True,12.0,True,f51a407b-5956-9ae2-ccfc-26cd97943b2c,2.0,2.0,0.0
497,10585,False,False,4271,False,False,2.0,False,62.0,False,22f0a81c-c743-7bda-c32f-acdac9aa3edb,NaN,NaN,NaN
498,1586,True,True,4438,False,True,0.0,True,12.0,False,ff74b32b-6a52-af35-c6b7-e9f182d3ae61,2.0,2.0,0.0
499,10587,False,False,45883,False,False,2.0,False,30.0,False,8a524b0c-f084-10a8-6422-265f53d96f06,NaN,NaN,NaN

In [19]:
multi_df = multi_df.rename(columns={'game': 'id', 'id': 'second_id'})

In [20]:
multi_df

,second_id,campaigncoop,dropin,id,lancoop,offlinecoop,offlinemax,onlinecoop,platform,splitscreen,checksum,offlinecoopmax,onlinecoopmax,onlinemax
0,9953,False,False,92273,False,False,2.0,False,22.0,False,1b94d937-dc0c-c62d-10af-e58d42860bd8,NaN,NaN,NaN
1,1832,True,True,7153,False,True,0.0,False,12.0,False,2b09f64f-b8b9-6948-ad98-9ab9bede8e3b,2.0,0.0,0.0
2,7987,False,False,57887,False,True,2.0,False,49.0,False,56c9ee4c-aae3-ba3c-ead0-9e899e1c5267,0.0,0.0,0.0
3,7,False,False,46076,False,False,30.0,False,6.0,False,a41bcf9c-976d-8690-629f-4c2737f65bf1,NaN,NaN,NaN
4,10207,False,False,31256,False,False,NaN,False,82.0,False,788009fd-9e08-5826-577b-9844575ba2d9,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,697,True,True,1585,False,True,0.0,False,12.0,False,044aa93c-5263-10c0-b583-8ab738379395,2.0,0.0,0.0
496,1585,True,False,1475,False,True,0.0,True,12.0,True,f51a407b-5956-9ae2-ccfc-26cd97943b2c,2.0,2.0,0.0
497,10585,False,False,4271,False,False,2.0,False,62.0,False,22f0a81c-c743-7bda-c32f-acdac9aa3edb,NaN,NaN,NaN
498,1586,True,True,4438,False,True,0.0,True,12.0,False,ff74b32b-6a52-af35-c6b7-e9f182d3ae61,2.0,2.0,0.0
499,10587,False,False,45883,False,False,2.0,False,30.0,False,8a524b0c-f084-10a8-6422-265f53d96f06,NaN,NaN,NaN

In [21]:
multi_df = multi_df.set_index('id')

In [22]:
multi_df

,second_id,campaigncoop,dropin,lancoop,offlinecoop,offlinemax,onlinecoop,platform,splitscreen,checksum,offlinecoopmax,onlinecoopmax,onlinemax
id,,,,,,,,,,,,,
92273,9953,False,False,False,False,2.0,False,22.0,False,1b94d937-dc0c-c62d-10af-e58d42860bd8,NaN,NaN,NaN
7153,1832,True,True,False,True,0.0,False,12.0,False,2b09f64f-b8b9-6948-ad98-9ab9bede8e3b,2.0,0.0,0.0
57887,7987,False,False,False,True,2.0,False,49.0,False,56c9ee4c-aae3-ba3c-ead0-9e899e1c5267,0.0,0.0,0.0
46076,7,False,False,False,False,30.0,False,6.0,False,a41bcf9c-976d-8690-629f-4c2737f65bf1,NaN,NaN,NaN
31256,10207,False,False,False,False,NaN,False,82.0,False,788009fd-9e08-5826-577b-9844575ba2d9,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1585,697,True,True,False,True,0.0,False,12.0,False,044aa93c-5263-10c0-b583-8ab738379395,2.0,0.0,0.0
1475,1585,True,False,False,True,0.0,True,12.0,True,f51a407b-5956-9ae2-ccfc-26cd97943b2c,2.0,2.0,0.0
4271,10585,False,False,False,False,2.0,False,62.0,False,22f0a81c-c743-7bda-c32f-acdac9aa3edb,NaN,NaN,NaN
4438,1586,True,True,False,True,0.0,True,12.0,False,ff74b32b-6a52-af35-c6b7-e9f182d3ae61,2.0,2.0,0.0
45883,10587,False,False,False,False,2.0,False,30.0,False,8a524b0c-f084-10a8-6422-265f53d96f06,NaN,NaN,NaN

In [24]:
multi_play_df = pd.merge(df, multi_df, how = 'left', on="id")

In [25]:
multi_play_df.head()

,id,category,created_at,external_games,first_release_date,genres,name,platforms,release_dates,similar_games,slug,summary,tags,updated_at,url,checksum_x,age_ratings,cover,involved_companies,screenshots,game_modes,player_perspectives,themes,websites,alternative_names,artworks,game_engines,keywords,status,videos,rating,rating_count,storyline,total_rating,total_rating_count,version_parent,version_title,hypes,collection,franchises,follows,bundles,parent_game,franchise,aggregated_rating,aggregated_rating_count,multiplayer_modes,dlcs,ports,expansions,expanded_games,remakes,remasters,forks,standalone_expansions,second_id,campaigncoop,dropin,lancoop,offlinecoop,offlinemax,onlinecoop,platform,splitscreen,checksum_y,offlinecoopmax,onlinecoopmax,onlinemax
0,40104,0,1498435200,"[20127, 1988884]",5.364576e+08,[5],Dogou Souken,[52],[91007],"[12364, 27270, 43367, 103281, 103292, 103298, ...",dogou-souken,An overhead-view shoot'em up game.,[268435461],1604620800,https://www.igdb.com/games/dogou-souken,5e7446ff-58d9-e744-f0d3-5e10241304c1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,85031,0,1517392813,"[216805, 1969751, 2005770]",1.404346e+09,[9],City Mysteries,[37],[138333],"[10603, 19222, 25905, 41349, 86974, 87507, 885...",city-mysteries,"Search buildings, streets, landmarks as you se...",[268435465],1641425677,https://www.igdb.com/games/city-mysteries,87b342e7-b912-ca8d-4ffb-f91f9e4f1870,[37944],61466.0,"[130531, 130532]","[155025, 155026, 155027]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,99234,0,1524843905,"[603512, 1857496, 1917109]",1.527120e+09,"[31, 32]",Sword of the Black Stone,[6],[188385],"[25646, 29783, 68271, 80916, 96217, 105269, 10...",sword-of-the-black-stone,If your looking for action and adventure then ...,"[1, 268435487, 268435488]",1643857546,https://www.igdb.com/games/sword-of-the-black-...,0b575316-96dc-b056-86e0-c958c1c95efb,NaN,91582.0,"[155850, 155852]","[231528, 231529, 231530, 231531, 231532]",[1],[2],[1],[84617],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,148930,0,1621959514,"[2052375, 2057300]",NaN,"[13, 15, 31, 32]",Bok-Bok: A Chicken Dating Sim,NaN,NaN,"[25311, 26145, 28277, 33603, 51577, 65827, 791...",bok-bok-a-chicken-dating-sim,Have you ever pondered what the romantic life ...,"[268435469, 268435471, 268435487, 268435488]",1643850601,https://www.igdb.com/games/bok-bok-a-chicken-d...,9585e273-2606-970f-3088-60261ea77068,NaN,169077.0,NaN,"[463145, 463148, 463149, 463151, 463152]",NaN,NaN,NaN,[192858],[63465],[33736],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,139538,0,1602368467,[1966278],1.525910e+09,[32],sun machine,[82],[213594],"[11666, 13200, 13660, 17130, 25311, 28070, 348...",sun-machine,"a story of dark days, chronic fatigue, optimis...","[18, 268435488, 536896982]",1639609570,https://www.igdb.com/games/sun-machine,9986cb06-667c-bb20-d9cf-cb239d7020df,NaN,117024.0,[117090],"[403247, 403248]",[1],[3],[18],[156114],NaN,NaN,[837],[26070],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
multi_play_df.splitscreen.value_counts()

False    160737
True      38855
Name: splitscreen, dtype: int64

In [26]:
df.head()

,id,category,created_at,external_games,first_release_date,genres,name,platforms,release_dates,similar_games,slug,summary,tags,updated_at,url,checksum,age_ratings,cover,involved_companies,screenshots,game_modes,player_perspectives,themes,websites,alternative_names,artworks,game_engines,keywords,status,videos,rating,rating_count,storyline,total_rating,total_rating_count,version_parent,version_title,hypes,collection,franchises,follows,bundles,parent_game,franchise,aggregated_rating,aggregated_rating_count,multiplayer_modes,dlcs,ports,expansions,expanded_games,remakes,remasters,forks,standalone_expansions
0,40104,0,1498435200,"[20127, 1988884]",5.364576e+08,[5],Dogou Souken,[52],[91007],"[12364, 27270, 43367, 103281, 103292, 103298, ...",dogou-souken,An overhead-view shoot'em up game.,[268435461],1604620800,https://www.igdb.com/games/dogou-souken,5e7446ff-58d9-e744-f0d3-5e10241304c1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,85031,0,1517392813,"[216805, 1969751, 2005770]",1.404346e+09,[9],City Mysteries,[37],[138333],"[10603, 19222, 25905, 41349, 86974, 87507, 885...",city-mysteries,"Search buildings, streets, landmarks as you se...",[268435465],1641425677,https://www.igdb.com/games/city-mysteries,87b342e7-b912-ca8d-4ffb-f91f9e4f1870,[37944],61466.0,"[130531, 130532]","[155025, 155026, 155027]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,99234,0,1524843905,"[603512, 1857496, 1917109]",1.527120e+09,"[31, 32]",Sword of the Black Stone,[6],[188385],"[25646, 29783, 68271, 80916, 96217, 105269, 10...",sword-of-the-black-stone,If your looking for action and adventure then ...,"[1, 268435487, 268435488]",1643857546,https://www.igdb.com/games/sword-of-the-black-...,0b575316-96dc-b056-86e0-c958c1c95efb,NaN,91582.0,"[155850, 155852]","[231528, 231529, 231530, 231531, 231532]",[1],[2],[1],[84617],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,148930,0,1621959514,"[2052375, 2057300]",NaN,"[13, 15, 31, 32]",Bok-Bok: A Chicken Dating Sim,NaN,NaN,"[25311, 26145, 28277, 33603, 51577, 65827, 791...",bok-bok-a-chicken-dating-sim,Have you ever pondered what the romantic life ...,"[268435469, 268435471, 268435487, 268435488]",1643850601,https://www.igdb.com/games/bok-bok-a-chicken-d...,9585e273-2606-970f-3088-60261ea77068,NaN,169077.0,NaN,"[463145, 463148, 463149, 463151, 463152]",NaN,NaN,NaN,[192858],[63465],[33736],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,139538,0,1602368467,[1966278],1.525910e+09,[32],sun machine,[82],[213594],"[11666, 13200, 13660, 17130, 25311, 28070, 348...",sun-machine,"a story of dark days, chronic fatigue, optimis...","[18, 268435488, 536896982]",1639609570,https://www.igdb.com/games/sun-machine,9986cb06-667c-bb20-d9cf-cb239d7020df,NaN,117024.0,[117090],"[403247, 403248]",[1],[3],[18],[156114],NaN,NaN,[837],[26070],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#  Random Prepare

In [ ]:
#this is reading the csv
df = pd.read_csv('games.csv', index_col='Unnamed: 0')

In [ ]:
#callign out one game by the name
df[df.name == 'ESPN NFL 2K5']

In [ ]:
#dropping some collumns
df = df.drop(columns=['artworks', 'cover','screenshots', 'videos', 'checksum', 'alternative_names', 'rating_count', 'total_rating_count', 'version_parent', 'hypes', 'franchises', 'follows', 'aggregated_rating_count'])
df.shape

In [ ]:
#renaming some collumns 
df.rename(columns={'slug': 'lower_case_name', 'aggregated_rating': 'critic_rating'}, inplace=True)

### Random to datetime code i needed but prob dont need

In [ ]:
from datetime import datetime

In [ ]:
df['created_at'] = pd.to_datetime(df['created_at'],unit='s')

In [ ]:
#df['release_dates'] = pd.to_datetime(df['release_dates'],unit='s')