In [1]:
import requests
from env import Client_ID
from bs4 import BeautifulSoup
from igdb.wrapper import IGDBWrapper
import os
import pandas as pd
import json
import time
import env
from requests.models import Request, Response
from typing import Dict, List, Optional, Union, cast

## connect to api

In [2]:
def connect_api():   
    url = env.get_db_url()
    response = requests.post(url)
    data = response.json()
    access_token = data['access_token']
    return access_token

In [3]:
access_token = connect_api()

In [4]:
def run_wrapper():
    wrapper = IGDBWrapper(f'{Client_ID}', f'{access_token}')
    return wrapper

In [5]:
def connect_to_games():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; popularity;sort popularity desc;'
    r = requests.post('https://api.igdb.com/v4/games' ,data=data ,  headers=headers)
    return r

In [6]:
# function that puts response list object into a dataframe for each page
def get_game_library(wrapper):
    game_library = pd.DataFrame()
    for i in range (0, 409):
        games = wrapper.api_request('games', 'fields *; limit 500;' f'offset {i * 500};')
        y = json.loads(games)
        results_df =pd.DataFrame(y)
        game_library = pd.concat([game_library, results_df])
    return game_library

In [7]:
wrapper = run_wrapper()

In [8]:
wrapper

In [ ]:
tf = connect_to_games()

In [ ]:
tf

In [9]:
df = get_game_library(wrapper)

In [ ]:
# df = pd.read_csv('games.csv', index_col='Unnamed: 0')

In [ ]:
# pd.set_option('display.max_columns', None)
# df.head()

In [ ]:
# pd.set_option('display.max_columns', None)
# df.head()

## Extra work

In [ ]:
frames = [df, game_modes]

In [ ]:
result = pd.concat(frames)

In [ ]:
type(frames)

In [ ]:
type(game_modes)

In [ ]:
result.tail(10)

In [ ]:
result = pd.concat([df, game_modes], axis=1)

In [ ]:
result

In [ ]:
results = pd.merge(df, game_mode, how = 'left', on="game_modes")

In [ ]:
results

### Data frame work

In [ ]:
df.info()

In [ ]:
df.game_modes.value_counts()

In [ ]:
# Here i am making this a string with no brackets

In [ ]:
df["game_modes"] = df["game_modes"].str.replace("[\]\[]",'')

In [ ]:
df.game_modes.value_counts()

In [ ]:
#this is a merge that actually works
#but does not work when there is a list of numbers sadly 
#results = pd.merge(df, game_modes, how = 'left', on="game_modes")

In [ ]:
results.tail(20)

In [ ]:
results.info()

In [ ]:
def to_1D(series):
    return pd.Series([x for _list in series for x in _list])

In [ ]:
to_1D(df["game_modes"])

In [ ]:
type(game_modes)

In [ ]:

df["game_modes"].apply(pd.Series)

In [ ]:
df['game_modes'].replace([[1],['2'], ['3'], ['4']], [['Single player'], ['Multiplayer'], ['CO-op'], ['split screen']])

In [ ]:
L = ['Single player'], ['Multiplayer'], ['CO-op'], ['split screen']
    
for x in L:
    df.loc[df['column'].str.contains(x), "column"]= x
print (df)

In [ ]:
#df["game_modes"] = df["game_modes"].str.replace("[\]\[]",'')

In [ ]:
df['game_modes'].replace(['1'], ['Single player']).value_counts()

In [ ]:
#game_mode = game_mode.rename(columns={"game_mode_id": "game_modes"})

In [ ]:
df.tail()

In [ ]:
#df['game_modes'] = df['game_modes'].replace([['1,2'],['1,2,3']], [['Single player, multiplayer'], ['single player, Multiplayer, co-op']])

In [ ]:

# df['game_modes'] = df['game_modes'].fillna('7').apply(list)
# df.head()

In [ ]:
#df['game_modes'] = df['game_modes'].fillna(7)

# Aquiring diffrent data

# game modes

In [10]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/game_modes' ,data=data ,  headers=headers)

In [11]:
game_modes = wrapper.api_request('game_modes', 'fields *;limit 500;')

In [12]:
x = json.loads(game_modes)

In [13]:
game_mode =pd.DataFrame(x)

In [14]:
game_mode

,id,created_at,name,slug,updated_at,url,checksum
0,1,1298937600,Single player,single-player,1323216000,https://www.igdb.com/game_modes/single-player,a43b1688-f968-3541-0897-9735ffde1745
1,2,1298937600,Multiplayer,multiplayer,1323216000,https://www.igdb.com/game_modes/multiplayer,288b548c-11e4-d910-f037-21d4e6a33b38
2,3,1298937600,Co-operative,co-operative,1323216000,https://www.igdb.com/game_modes/co-operative,e8329d55-33e6-f7ae-ae09-2848cb7ccc90
3,4,1298937600,Split screen,split-screen,1323216000,https://www.igdb.com/game_modes/split-screen,98247b75-6f46-7c77-521f-0945c684d842
4,5,1298937600,Massively Multiplayer Online (MMO),massively-multiplayer-online-mmo,1323216000,https://www.igdb.com/game_modes/massively-mult...,307d1126-6e3b-9215-06f1-10c8ecce05b4
5,6,1588809600,Battle Royale,battle-royale,1588809600,https://www.igdb.com/game_modes/battle-royale,bfc388ac-0502-ba05-af25-3dcc94a0acf3

> the function

In [ ]:
# def get_game_modes():
#     headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
#     data = 'fields *; limit 500;'
#     r = requests.post('https://api.igdb.com/v4/game_modes' ,data=data ,  headers=headers)
#     game_modes = wrapper.api_request('game_modes', 'fields *;limit 500;')
#     x = json.loads(game_modes)
#     game_modes =pd.DataFrame(x)
#     return game_modes

In [ ]:
######## modelist ##########

In [15]:
modelist = game_mode[['id' , 'slug']].sort_values(by='id').reset_index(drop=True)

In [16]:
modelist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      6 non-null      int64
 1   slug    6 non-null      object
dtypes: int64(1), object(1)
memory usage: 224.0+ bytes

In [17]:
modelist

   id                              slug
0   1                     single-player
1   2                       multiplayer
2   3                      co-operative
3   4                      split-screen
4   5  massively-multiplayer-online-mmo
5   6                     battle-royale

In [ ]:
###### Mode dict ############

In [18]:
mode_dict = modelist.set_index('id').to_dict()['slug']

In [19]:
mode_dict

{1: 'single-player',
 2: 'multiplayer',
 3: 'co-operative',
 4: 'split-screen',
 5: 'massively-multiplayer-online-mmo',
 6: 'battle-royale'}

In [20]:
######### test function ########

In [21]:
def test_funct(random_list):
    if type(random_list) == list:
        return [mode_dict[i] for i in random_list]
    else:  
        return "Not available"

In [22]:
##### Merging ########

In [23]:
df['game_modes'] = pd.DataFrame(df.game_modes.apply(test_funct))
#ignore the error

In [24]:
df.head(3)

,id,category,created_at,external_games,first_release_date,genres,name,platforms,release_dates,similar_games,...,aggregated_rating_count,multiplayer_modes,remasters,remakes,dlcs,ports,expansions,expanded_games,forks,standalone_expansions
0,40104,0,1498435200,"[20127, 1988884]",5.364576e+08,[5],Dogou Souken,[52],[91007],"[12364, 27270, 43367, 103281, 103292, 103298, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,85031,0,1517392813,"[216805, 1969751, 2005770]",1.404346e+09,[9],City Mysteries,[37],[138333],"[10603, 19222, 25905, 41349, 86974, 87507, 885...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,99234,0,1524843905,"[603512, 1857496, 1917109]",1.527120e+09,"[31, 32]",Sword of the Black Stone,[6],[188385],"[25646, 29783, 68271, 80916, 96217, 105269, 10...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df.game_modes.value_counts()

Not available                                                                                  107228
[single-player]                                                                                 70744
[single-player, multiplayer]                                                                    10945
[single-player, multiplayer, co-operative]                                                       5214
[multiplayer]                                                                                    1940
[single-player, multiplayer, split-screen]                                                       1277
[single-player, co-operative]                                                                    1083
[single-player, split-screen]                                                                    1026
[massively-multiplayer-online-mmo]                                                               1021
[multiplayer, co-operative]                                                                       745
[multiplayer, massively-multiplayer-online-mmo]                                                   634
[single-player, multiplayer, co-operative, split-screen]                                          581
[single-player, multiplayer, co-operative, massively-multiplayer-online-mmo]                      461
[multiplayer, co-operative, massively-multiplayer-online-mmo]                                     366
[single-player, multiplayer, massively-multiplayer-online-mmo]                                    324
[single-player, co-operative, split-screen]                                                       143
[single-player, massively-multiplayer-online-mmo]                                                 121
[co-operative]                                                                                    107
[multiplayer, battle-royale]                                                                      103
[battle-royale]                                                                                    87
[multiplayer, co-operative, battle-royale]                                                         45
[multiplayer, split-screen]                                                                        42
[single-player, multiplayer, battle-royale]                                                        32
[multiplayer, co-operative, split-screen]                                                          27
[split-screen]                                                                                     27
[single-player, multiplayer, co-operative, battle-royale]                                          26
[co-operative, massively-multiplayer-online-mmo]                                                   18
[multiplayer, massively-multiplayer-online-mmo, battle-royale]                                     16
[single-player, co-operative, massively-multiplayer-online-mmo]                                    15
[single-player, multiplayer, co-operative, massively-multiplayer-online-mmo, battle-royale]        13
[multiplayer, co-operative, massively-multiplayer-online-mmo, battle-royale]                       12
[single-player, multiplayer, co-operative, split-screen, massively-multiplayer-online-mmo]         11
[single-player, multiplayer, split-screen, massively-multiplayer-online-mmo]                        9
[single-player, multiplayer, co-operative, split-screen, battle-royale]                             9
[co-operative, split-screen]                                                                        8
[massively-multiplayer-online-mmo, battle-royale]                                                   8
[single-player, multiplayer, split-screen, battle-royale]                                           6
[single-player, battle-royale]                                                                      6
[single-player, co-operative, battle-royale]                                                        5
[single-player, multiplayer, massively-multiplayer-online-mmo, battle-royale]                       4
[multiplayer, split-screen, battle-royale]                                                          3
[single-player, split-screen, massively-multiplayer-online-mmo]                                     2
[multiplayer, co-operative, split-screen, massively-multiplayer-online-mmo]                         1
[split-screen, battle-royale]                                                                       1
[single-player, massively-multiplayer-online-mmo, battle-royale]                                    1
[single-player, split-screen, battle-royale]                                                        1
[co-operative, battle-royale]                                                                       1
[multiplayer, split-screen, massively-multiplayer-online-mmo]                                       1
Name: game_modes, dtype: int64

# game_version (do not need this one)

In [ ]:
# headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
# data = 'fields *; limit 500;'
# r = requests.post('https://api.igdb.com/v4/game_versions' ,data=data ,  headers=headers)

In [ ]:
# game_versions = wrapper.api_request('game_versions', 'fields *;limit 500;')

In [ ]:
# x = json.loads(game_versions)

In [ ]:
# game_versions =pd.DataFrame(x)

In [ ]:
# game_versions

In [ ]:
# pd.set_option('display.max_columns', None)
# df.head()

In [ ]:
# df.version_parent.value_counts()

In [ ]:
# df.version_title.value_counts()

> ## the function

In [ ]:
# def get_game_version():
#     headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
#     data = 'fields *; limit 500;'
#     r = requests.post('https://api.igdb.com/v4/game_versions' ,data=data ,  headers=headers)
#     game_versions = wrapper.api_request('game_versions', 'fields *;limit 500;')
#     x = json.loads(game_versions)
#     game_versions =pd.DataFrame(x)
#     return game_version

In [ ]:
# def test_funct(random_list):
#     if type(random_list) == list:
#         return [mode_dict[i] for i in random_list]
#     else:  
#         return "Not available"

In [ ]:
# def get_game_version(wrapper):
#     get_game_version = pd.DataFrame()
#     for i in range(0,409):
#         game_versions = wrapper.api_request('game_versions', 'fields *;limit 500;')
#         y = json.loads(game_versions)
#         results_df =pd.DataFrame(y)
#         get_game_version = pd.concat([get_game_version, results_df])
#     return get_game_version

# game_version_features

In [26]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/game_version_features' ,data=data ,  headers=headers)

In [27]:
game_version_features = wrapper.api_request('game_version_features', 'fields *;limit 500;')

In [28]:
x = json.loads(game_version_features)

In [29]:
game_versions_features =pd.DataFrame(x)

In [30]:
game_versions_features

,id,category,description,position,title,values,checksum
0,337,0.0,Sharpens your aim with rifles and pistols. Alw...,1,DLC: The Sharpshooter Detective Suit,"[1385, 1386, 1387, 1388]",a10d3ebf-ae3a-f0cc-fc68-116b1545a9ac
1,347,0.0,NaN,0,"25 cm (10"") figurine of an Alb Mage","[1419, 1420]",2a42989b-4936-75bc-6331-0ce79abb225a
2,352,0.0,NaN,5,A making of DVD,"[1429, 1430]",bb46d55f-7145-0b5c-2f69-cea9dd2570d6
3,375,0.0,Double sided print of the in-game island,2,Collectible map,"[1519, 1520, 1521, 1522, 1523]",8a9ea6d0-b5f1-ece2-cd5d-61636d639ad0
4,382,0.0,"Exclusive to TESCO in the UK, it included thre...",9,Combat Strike Pack,"[1554, 1555, 1556, 1557, 1558]",263031ce-acb2-69a2-ab66-240dbaad4f4d
...,...,...,...,...,...,...,...
440,17,NaN,NaN,0,Season Pass,NaN,c27cf85d-4af5-9fc1-6f59-52a9624f9490
441,456,0.0,created in collaboration with Dark Horse Comic...,1,Full-color print comic book,"[1773, 1774, 1775, 1776]",218da9c1-cc23-cc6d-a50a-72ba78203f66
442,459,0.0,Full-color printed map of the world of Conan E...,4,World Map,"[1785, 1786, 1787, 1788]",3f282aa8-abeb-8fb8-2dc7-5277c451c0aa
443,555,0.0,NaN,0,Limited edition figurine,"[2154, 2155]",a655f38f-4322-fb48-6d4e-8bc71f3834c0
444,556,0.0,NaN,1,In-game unlockable code,"[2156, 2157]",323f6799-6718-6ffc-08d5-5164ba5a7f1d

In [31]:
game_vf_df = game_versions_features[['id','description', 'title']]

In [32]:
game_vf_df

,id,description,title
0,337,Sharpens your aim with rifles and pistols. Alw...,DLC: The Sharpshooter Detective Suit
1,347,NaN,"25 cm (10"") figurine of an Alb Mage"
2,352,NaN,A making of DVD
3,375,Double sided print of the in-game island,Collectible map
4,382,"Exclusive to TESCO in the UK, it included thre...",Combat Strike Pack
...,...,...,...
440,17,NaN,Season Pass
441,456,created in collaboration with Dark Horse Comic...,Full-color print comic book
442,459,Full-color printed map of the world of Conan E...,World Map
443,555,NaN,Limited edition figurine
444,556,NaN,In-game unlockable code

In [33]:
game_vf_df = game_vf_df.rename(columns={'description': 'version_description', 'title': 'title_version'})

In [34]:
game_vf_df

,id,version_description,title_version
0,337,Sharpens your aim with rifles and pistols. Alw...,DLC: The Sharpshooter Detective Suit
1,347,NaN,"25 cm (10"") figurine of an Alb Mage"
2,352,NaN,A making of DVD
3,375,Double sided print of the in-game island,Collectible map
4,382,"Exclusive to TESCO in the UK, it included thre...",Combat Strike Pack
...,...,...,...
440,17,NaN,Season Pass
441,456,created in collaboration with Dark Horse Comic...,Full-color print comic book
442,459,Full-color printed map of the world of Conan E...,World Map
443,555,NaN,Limited edition figurine
444,556,NaN,In-game unlockable code

> ## the function

In [ ]:
# def get_game_v_features():
#     headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
#     data = 'fields *; limit 500;'
#     r = requests.post('https://api.igdb.com/v4/game_version_features' ,data=data ,  headers=headers)
#     game_version_features = wrapper.api_request('game_version_features', 'fields *;limit 500;')
#     x = json.loads(game_version_features)
#     game_versions_features =pd.DataFrame(x)
#     return game_versions_features

In [ ]:
# def get_game_v_features(wrapper):
#     get_game_v_features =pd.DataFrame()
#     for i in range(0,409):
#         game_version_features = wrapper.api_request('game_version_features', 'fields *;limit 500;')
#         y = json.loads(game_version_features)
#         results_df =pd.DataFrame(y)
#         game_version_features = pd.concat([game_version_features,results_df])
#     return

# game_version_feature_values

In [35]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/game_version_feature_values' ,data=data ,  headers=headers)

In [36]:
game_version_feature_values = wrapper.api_request('game_version_feature_values', 'fields *;limit 500;')

In [37]:
x = json.loads(game_version_feature_values)

In [38]:
gamevfv_df=pd.DataFrame(x)

In [39]:
gamevfv_df

,id,game,game_feature,included_feature,checksum,note
0,1581,52617,391,0.0,1db62035-9135-3d01-25a5-9c194d8fbd8f,NaN
1,1590,52617,394,0.0,e2e097d5-c88d-d6ea-48cf-1f5288f6bbe2,NaN
2,591,39045,144,0.0,6ee07864-0f1b-d41f-e2a5-e7dc2731d9a0,NaN
3,1987,83886,503,2.0,612d4e1b-a3b2-60e4-680a-064c0837f71e,NaN
4,1600,19333,399,0.0,ba6dcc29-45c7-6412-ebce-da6731910fb9,NaN
...,...,...,...,...,...,...
495,1186,41637,298,0.0,6a2e38c1-1d55-4035-dd6e-1171c078f330,NaN
496,1188,28210,298,0.0,8d9fd115-84aa-2cc7-da8e-ed3de3bfa315,NaN
497,1194,9536,292,0.0,59cbc7b7-1ea2-2a93-1aed-5b1973175147,NaN
498,1192,9536,290,1.0,7eb1188a-13c2-b35e-d69e-1909438af148,NaN
499,1201,42941,299,0.0,f05efb80-16d7-4540-acdc-56b8669464c5,NaN

> ## the function

In [ ]:
# def get_version_features_values():
#     headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
#     data = 'fields *; limit 500;'
#     r = requests.post('https://api.igdb.com/v4/game_version_feature_values' ,data=data ,  headers=headers)
#     game_version_feature_values = wrapper.api_request('game_version_feature_values', 'fields *;limit 500;')
#     x = json.loads(game_version_feature_values)
#     game_versions_feature_values =pd.DataFrame(x)
#     return game_versions_feature_values

In [ ]:
# def get_value_feature_values(wrapper):
#     get_value_feature_values= pd.DataFrame()
#     for i in range (0, 409):
#         gvf_values = wrapper.api_request('game_feature', 'fields *; limit 500;' f'offset {i * 500};')
#         y = json.loads(gvf_values)
#         results_df =pd.DataFrame(y)
#         get_value_feature_values = pd.concat([vf_values, results_df])
#     return get_vf_values

In [ ]:
########### This needs a wrapper ##########

In [43]:
def vf_values(wrapper):
    vf_values= pd.DataFrame()
    for i in range (0, 409):
        gvf_values = wrapper.api_request('game_version_feature_values', 'fields *; limit 500;' f'offset {i * 500};')
        y = json.loads(gvf_values)
        results_df =pd.DataFrame(y)
        vf_values = pd.concat([vf_values, results_df])
    return vf_values

In [44]:
gamevfv_df = vf_values(wrapper)

In [45]:
gamevfv_df

,id,game,game_feature,included_feature,checksum,note
0,1581,52617,391,0.0,1db62035-9135-3d01-25a5-9c194d8fbd8f,NaN
1,1590,52617,394,0.0,e2e097d5-c88d-d6ea-48cf-1f5288f6bbe2,NaN
2,591,39045,144,0.0,6ee07864-0f1b-d41f-e2a5-e7dc2731d9a0,NaN
3,1987,83886,503,2.0,612d4e1b-a3b2-60e4-680a-064c0837f71e,NaN
4,1600,19333,399,0.0,ba6dcc29-45c7-6412-ebce-da6731910fb9,NaN
...,...,...,...,...,...,...
17,1983,53012,503,2.0,74eacd56-d0fa-62ab-a961-df386c4cd140,NaN
18,2155,193391,555,1.0,2eb547da-7c57-147e-1bdd-9d9b8dcc3eac,NaN
19,2154,5116,555,0.0,d257f647-5899-a6e0-fca6-516809965ba1,NaN
20,2156,5116,556,0.0,bc29ab0a-9945-f712-2de9-752bb23c3524,NaN
21,2157,193391,556,1.0,507e55ed-c9ac-19c6-da91-5000ce3e51cb,NaN

In [46]:
gamevfv_df = gamevfv_df[['game','game_feature']]

In [47]:
gamevfv_df

      game  game_feature
0    52617           391
1    52617           394
2    39045           144
3    83886           503
4    19333           399
..     ...           ...
17   53012           503
18  193391           555
19    5116           555
20    5116           556
21  193391           556

[1522 rows x 2 columns]

In [48]:
gamevfv_df = gamevfv_df.rename(columns={"game_feature": "id"})

In [49]:
gamevfv_df = gamevfv_df.set_index('id')

In [50]:
gamevfv_df

       game
id
391   52617
394   52617
144   39045
503   83886
399   19333
..      ...
503   53012
555  193391
555    5116
556    5116
556  193391

[1522 rows x 1 columns]

## Merging `game_verion_feature` & `game_version_feature_value` to the main dataframe

In [52]:
#merging the game_verion_feature & game_version_feature_value
results_df = pd.merge(gamevfv_df,  game_vf_df , how = 'left', on="id")

In [57]:
results_df

,id,game,version_description,title_version
0,391,52617,"Delve into the mystery of the Shining Lady, Ca...",Field Report with Removable Coin
1,394,52617,Show the world you've joined the siege with th...,Siege of Dragonspear Amulet
2,144,39045,NaN,Bayek’s Eagle Skull Amulet
3,503,83886,Doomsday Prepper Pack includes the prepper out...,Doomsday Prepper Pack
4,399,19333,Prospect Mask with a display base,Prospect Mask
...,...,...,...,...
1517,503,53012,Doomsday Prepper Pack includes the prepper out...,Doomsday Prepper Pack
1518,555,193391,NaN,Limited edition figurine
1519,555,5116,NaN,Limited edition figurine
1520,556,5116,NaN,In-game unlockable code
1521,556,193391,NaN,In-game unlockable code

In [61]:
results_df = results_df.rename(columns={'id': 'second','game': 'id' })

In [62]:
results_df

,second,id,version_description,title_version
0,391,52617,"Delve into the mystery of the Shining Lady, Ca...",Field Report with Removable Coin
1,394,52617,Show the world you've joined the siege with th...,Siege of Dragonspear Amulet
2,144,39045,NaN,Bayek’s Eagle Skull Amulet
3,503,83886,Doomsday Prepper Pack includes the prepper out...,Doomsday Prepper Pack
4,399,19333,Prospect Mask with a display base,Prospect Mask
...,...,...,...,...
1517,503,53012,Doomsday Prepper Pack includes the prepper out...,Doomsday Prepper Pack
1518,555,193391,NaN,Limited edition figurine
1519,555,5116,NaN,Limited edition figurine
1520,556,5116,NaN,In-game unlockable code
1521,556,193391,NaN,In-game unlockable code

In [63]:
results_df = results_df.set_index('id')

In [64]:
results_df

,second,version_description,title_version
id,,,
52617,391,"Delve into the mystery of the Shining Lady, Ca...",Field Report with Removable Coin
52617,394,Show the world you've joined the siege with th...,Siege of Dragonspear Amulet
39045,144,NaN,Bayek’s Eagle Skull Amulet
83886,503,Doomsday Prepper Pack includes the prepper out...,Doomsday Prepper Pack
19333,399,Prospect Mask with a display base,Prospect Mask
...,...,...,...
53012,503,Doomsday Prepper Pack includes the prepper out...,Doomsday Prepper Pack
193391,555,NaN,Limited edition figurine
5116,555,NaN,Limited edition figurine
5116,556,NaN,In-game unlockable code
193391,556,NaN,In-game unlockable code

In [65]:
#merging the to the main dataframe
merge_df = pd.merge(df, results_df, how = 'left', on="id")

In [67]:
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 205781 entries, 0 to 205780
Data columns (total 58 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       205781 non-null  int64
 1   category                 205781 non-null  int64
 2   created_at               205781 non-null  int64
 3   external_games           195535 non-null  object
 4   first_release_date       118951 non-null  float64
 5   genres                   160120 non-null  object
 6   name                     205781 non-null  object
 7   platforms                124096 non-null  object
 8   release_dates            123724 non-null  object
 9   similar_games            166482 non-null  object
 10  slug                     205781 non-null  object
 11  summary                  170870 non-null  object
 12  tags                     166506 non-null  object
 13  updated_at               205781 non-null  int64
 14  url                      205781 non-null  object
 15  checksum                 205781 non-null  object
 16  age_ratings              45140 non-null   object
 17  cover                    146751 non-null  float64
 18  involved_companies       85393 non-null   object
 19  screenshots              139365 non-null  object
 20  game_modes               205781 non-null  object
 21  player_perspectives      62158 non-null   object
 22  themes                   105698 non-null  object
 23  websites                 131283 non-null  object
 24  alternative_names        40033 non-null   object
 25  artworks                 68207 non-null   object
 26  game_engines             16776 non-null   object
 27  keywords                 80590 non-null   object
 28  status                   12465 non-null   float64
 29  videos                   42928 non-null   object
 30  rating                   28659 non-null   float64
 31  rating_count             28659 non-null   float64
 32  storyline                16771 non-null   object
 33  total_rating             33547 non-null   float64
 34  total_rating_count       33547 non-null   float64
 35  version_parent           5992 non-null    float64
 36  version_title            5813 non-null    object
 37  hypes                    8810 non-null    float64
 38  collection               33808 non-null   float64
 39  franchises               16508 non-null   object
 40  follows                  21919 non-null   float64
 41  bundles                  6346 non-null    object
 42  parent_game              20157 non-null   float64
 43  franchise                1564 non-null    float64
 44  aggregated_rating        14341 non-null   float64
 45  aggregated_rating_count  14341 non-null   float64
 46  multiplayer_modes        9208 non-null    object
 47  remasters                600 non-null     object
 48  remakes                  562 non-null     object
 49  dlcs                     2291 non-null    object
 50  ports                    2175 non-null    object
 51  expansions               604 non-null     object
 52  expanded_games           857 non-null     object
 53  forks                    34 non-null      object
 54  standalone_expansions    236 non-null     object
 55  second                   1433 non-null    float64
 56  version_description      585 non-null     object
 57  title_version            1433 non-null    object
dtypes: float64(16), int64(4), object(38)
memory usage: 92.6+ MB

# compayn (jarrid)

In [87]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/companies' ,data=data ,  headers=headers)

In [88]:
companies = wrapper.api_request('companies', 'fields *;limit 500;')

In [89]:
x = json.loads(companies)

In [90]:
companies =pd.DataFrame(x)

In [91]:
companies

,id,change_date_category,country,created_at,description,developed,logo,name,slug,start_date,start_date_category,updated_at,url,websites,checksum,published,change_date,changed_company_id,parent
0,13710,7,752.0,1508976000,Tomolo Games develope fun and simple mobile ga...,"[74974, 74975, 74977]",1396.0,Tomolo Games,tomolo-games,1.494634e+09,0,1508976000,https://www.igdb.com/companies/tomolo-games,[1089],656407de-863f-13bc-82c0-16079a13c964,NaN,NaN,NaN,NaN
1,15094,7,233.0,1520899200,NaN,[26472],NaN,ZA/UM,za-slash-um,NaN,7,1573948800,https://www.igdb.com/companies/za-slash-um,"[1944, 3431]",d32b01ce-2272-3bf2-e809-1f16cf5c86d9,[26472],NaN,NaN,NaN
2,17841,7,246.0,1548720000,NaN,[114715],NaN,Moido Games,moido-games,NaN,7,1548720000,https://www.igdb.com/companies/moido-games,[1683],e48ef63d-fdc0-35a2-bbc6-db61277e2c25,NaN,NaN,NaN,NaN
3,16305,7,208.0,1535673600,"PortaPlay is an independent developer, residin...",[107175],1748.0,PortaPlay,portaplay,1.181952e+09,0,1536019200,https://www.igdb.com/companies/portaplay,[1323],5d28752a-62f8-f617-f0d5-6ac59c0efa6e,NaN,NaN,NaN,NaN
4,4270,7,392.0,1418428800,T's Music (ティーズ ミュージック Tiizu Myuujikku) is a g...,NaN,3304.0,T's Music,ts-music,-6.213568e+10,2,1576627200,https://www.igdb.com/companies/ts-music,[3517],238c892a-7f60-78f2-415a-7f114ccda898,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,18887,7,NaN,1553644800,NaN,[58103],NaN,SkyReacher Entertainment,skyreacher-entertainment,NaN,7,1553644800,https://www.igdb.com/companies/skyreacher-ente...,NaN,36a09da3-68d7-64bc-52ad-cd4d1a610cfd,[58103],NaN,NaN,NaN
496,16598,7,NaN,1538438400,NaN,NaN,NaN,EAT & Co,eat-and-co,NaN,7,1538438400,https://www.igdb.com/companies/eat-and-co,NaN,07458447-4971-b4f2-567f-c624e72e3258,NaN,NaN,NaN,NaN
497,8689,7,276.0,1454889600,NaN,"[17399, 120395, 120695]",NaN,Mad Data,mad-data,NaN,7,1567728000,https://www.igdb.com/companies/mad-data,NaN,b433bd56-5781-39ec-bc34-259ef6307512,NaN,NaN,NaN,NaN
498,333,7,702.0,1303084800,NaN,[104],NaN,EA Singapore,ea-singapore,NaN,7,1562630400,https://www.igdb.com/companies/ea-singapore,NaN,b396607d-f8e2-7257-c4a0-5514107576f3,NaN,NaN,NaN,NaN
499,15436,7,NaN,1525392000,NaN,"[31859, 51730, 77667, 89495, 95608, 104862, 11...",1588.0,Petite Games,petite-games,NaN,7,1588204800,https://www.igdb.com/companies/petite-games,NaN,e1ba25c6-c618-6446-3a6a-bb1f04cefd5e,"[31859, 33328, 33802, 56139, 58252, 58602, 776...",NaN,NaN,NaN

> the function

In [ ]:
def get_company():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; limit 500;'
    r = requests.post('https://api.igdb.com/v4/companies' ,data=data ,  headers=headers)
    companies = wrapper.api_request('companies', 'fields *;limit 500;')
    x = json.loads(companies)
    companies =pd.DataFrame(x)
    return companies

> the wrapper function

In [92]:
def get_companies(wrapper):
    get_companies= pd.DataFrame()
    for i in range (0, 409):
        company = wrapper.api_request('companies', 'fields *; limit 500;' f'offset {i * 500};')
        y = json.loads(company)
        results_df =pd.DataFrame(y)
        get_companies = pd.concat([get_companies, results_df])
    return get_companies

In [93]:
get_companies(wrapper)

,id,change_date_category,country,created_at,description,developed,logo,name,slug,start_date,start_date_category,updated_at,url,websites,checksum,published,change_date,changed_company_id,parent
0,13710,7,752.0,1508976000,Tomolo Games develope fun and simple mobile ga...,"[74974, 74975, 74977]",1396.0,Tomolo Games,tomolo-games,1.494634e+09,0,1508976000,https://www.igdb.com/companies/tomolo-games,[1089],656407de-863f-13bc-82c0-16079a13c964,NaN,NaN,NaN,NaN
1,15094,7,233.0,1520899200,NaN,[26472],NaN,ZA/UM,za-slash-um,NaN,7,1573948800,https://www.igdb.com/companies/za-slash-um,"[1944, 3431]",d32b01ce-2272-3bf2-e809-1f16cf5c86d9,[26472],NaN,NaN,NaN
2,17841,7,246.0,1548720000,NaN,[114715],NaN,Moido Games,moido-games,NaN,7,1548720000,https://www.igdb.com/companies/moido-games,[1683],e48ef63d-fdc0-35a2-bbc6-db61277e2c25,NaN,NaN,NaN,NaN
3,16305,7,208.0,1535673600,"PortaPlay is an independent developer, residin...",[107175],1748.0,PortaPlay,portaplay,1.181952e+09,0,1536019200,https://www.igdb.com/companies/portaplay,[1323],5d28752a-62f8-f617-f0d5-6ac59c0efa6e,NaN,NaN,NaN,NaN
4,4270,7,392.0,1418428800,T's Music (ティーズ ミュージック Tiizu Myuujikku) is a g...,NaN,3304.0,T's Music,ts-music,-6.213568e+10,2,1576627200,https://www.igdb.com/companies/ts-music,[3517],238c892a-7f60-78f2-415a-7f114ccda898,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28,43205,7,NaN,1663132230,Wheat is a Aspiring game dev a TF2Classic deve...,[217612],6693.0,Wheat,wheat,NaN,7,1663137702,https://www.igdb.com/companies/wheat,[6266],ddba68cf-1bcc-db60-1ce7-a23858656ca7,NaN,NaN,NaN,NaN
29,43207,7,578.0,1663153197,Hello Bard A/S is an independent game developm...,[37019],NaN,Hello Bard,hello-bard,1.483142e+09,2,1663154687,https://www.igdb.com/companies/hello-bard,[6267],58cb7354-fa27-a025-ed0d-0e7dae37e356,[37019],NaN,NaN,NaN
30,34124,7,250.0,1621274945,NaN,NaN,6696.0,Nobilis Interactive,nobilis-interactive,1.199059e+09,2,1663154776,https://www.igdb.com/companies/nobilis-interac...,NaN,8a1256de-6ebd-5240-bbba-bb5782a29930,[148055],NaN,NaN,NaN
31,43209,7,40.0,1663171356,Graphic design & Animation Company,NaN,6698.0,JoonyTv,joonytv,1.647994e+09,0,1663179583,https://www.igdb.com/companies/joonytv,[6269],1a53e5a1-6488-09df-36a2-83decc22bb8a,NaN,NaN,NaN,NaN
32,43210,7,392.0,1663171571,Yuupon is a person who makes games.,[217633],6699.0,Yuupon,yuupon,NaN,7,1663179809,https://www.igdb.com/companies/yuupon,[6270],833e0ee0-dc4b-3bcd-0882-b7d1fd4fdab0,[217633],NaN,NaN,NaN

# involved_companies (jarrid)

In [94]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/involved_companies' ,data=data ,  headers=headers)

In [95]:
involved_companies = wrapper.api_request('involved_companies', 'fields *;limit 500;')

In [96]:
x = json.loads(involved_companies)

In [98]:
involved_companies =pd.DataFrame(x)

In [99]:
involved_companies

,id,company,created_at,developer,game,porting,publisher,supporting,updated_at,checksum
0,95000,14486,1585267200,True,131992,False,False,False,1585440000,43e91be1-592f-c3be-3e1d-447b3f17584c
1,78799,1250,1557532800,True,20689,False,False,False,1557532800,169b9e17-f2e5-ba93-4b58-97ec89978c68
2,20543,19,1419033600,True,602,False,True,False,1419033600,3058ba74-b6d7-f755-d603-1ff10337c15f
3,36564,10142,1466121600,True,19671,False,False,False,1466294400,d88519f6-e9bb-fd6b-40a9-c58ccad78312
4,66470,2888,1531440000,True,105048,False,False,False,1531440000,77bc32cf-a18b-ef18-8099-ed3edb7e4ca2
...,...,...,...,...,...,...,...,...,...,...
495,39015,4826,1472515200,True,23249,False,False,False,1472515200,e1b1cb42-40f2-2419-0974-34e939ac0219
496,39029,10811,1472601600,False,23276,False,True,False,1472601600,3319901d-f5ef-7b5b-8df1-8fbc13246ad8
497,6931,53,1375401600,False,2896,False,True,False,1375574400,9b731c11-2eda-814f-f2a3-680308f7c0e4
498,6930,1358,1375401600,False,2894,False,True,False,1375574400,fa179b65-5687-459f-9d10-8eef0c136dce
499,61931,832,1517616000,False,84769,False,True,False,1517616000,cb3f1fc9-7806-5a83-986a-a07390a7b427

> the function

In [ ]:
def get_inv_companies():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; limit 500;'
    r = requests.post('https://api.igdb.com/v4/involved_companies' ,data=data ,  headers=headers)
    involved_companies = wrapper.api_request('involved_companies', 'fields *;limit 500;')
    x = json.loads(involved_companies)
    return involved_companies

> the wrapper function

In [ ]:
def inv_companies(wrapper):
    inv_companies= pd.DataFrame()
    for i in range (0, 409):
        i_company = wrapper.api_request('companies', 'fields *; limit 500;' f'offset {i * 500};')
        y = json.loads(i_company)
        results_df =pd.DataFrame(y)
        inv_companies = pd.concat([get_companies, results_df])
    return get_companies

In [100]:
df.head()

,id,category,created_at,external_games,first_release_date,genres,name,platforms,release_dates,similar_games,...,aggregated_rating_count,multiplayer_modes,remasters,remakes,dlcs,ports,expansions,expanded_games,forks,standalone_expansions
0,40104,0,1498435200,"[20127, 1988884]",5.364576e+08,[5],Dogou Souken,[52],[91007],"[12364, 27270, 43367, 103281, 103292, 103298, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,85031,0,1517392813,"[216805, 1969751, 2005770]",1.404346e+09,[9],City Mysteries,[37],[138333],"[10603, 19222, 25905, 41349, 86974, 87507, 885...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,99234,0,1524843905,"[603512, 1857496, 1917109]",1.527120e+09,"[31, 32]",Sword of the Black Stone,[6],[188385],"[25646, 29783, 68271, 80916, 96217, 105269, 10...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,148930,0,1621959514,"[2052375, 2057300]",NaN,"[13, 15, 31, 32]",Bok-Bok: A Chicken Dating Sim,NaN,NaN,"[25311, 26145, 28277, 33603, 51577, 65827, 791...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,139538,0,1602368467,[1966278],1.525910e+09,[32],sun machine,[82],[213594],"[11666, 13200, 13660, 17130, 25311, 28070, 348...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Multi-Player Mode

In [ ]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/multiplayer_modes' ,data=data ,  headers=headers)

In [ ]:
multiplayer_modes = wrapper.api_request('multiplayer_modes', 'fields *;limit 500;')

In [ ]:
x = json.loads(multiplayer_modes)

In [ ]:
multiplayer_modes =pd.DataFrame(x)

In [ ]:
multiplayer_modes

> the function

In [ ]:
# def multi_player_mode():
#     headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
#     data = 'fields *; limit 500;'
#     r = requests.post('https://api.igdb.com/v4/multiplayer_modes' ,data=data ,  headers=headers)
#     multiplayer_modes = wrapper.api_request('multiplayer_modes', 'fields *;limit 500;')
#     x = json.loads(multiplayer_modes)
#     multiplayer_modes =pd.DataFrame(x)
#     return multiplayer_modes

In [72]:
def multi_play(wrapper):
    multi_play= pd.DataFrame()
    for i in range (0, 409):
        multi_values = wrapper.api_request('multiplayer_modes', 'fields *; limit 500;' f'offset {i * 500};')
        y = json.loads(multi_values)
        results_df =pd.DataFrame(y)
        multi_play = pd.concat([multi_play, results_df])
    return multi_play

In [74]:
multi_df = multi_play(wrapper)

In [75]:
multi_df

,id,campaigncoop,dropin,game,lancoop,offlinecoop,offlinemax,onlinecoop,platform,splitscreen,checksum,offlinecoopmax,onlinecoopmax,onlinemax
0,9953,False,False,92273,False,False,2.0,False,22.0,False,1b94d937-dc0c-c62d-10af-e58d42860bd8,NaN,NaN,NaN
1,1832,True,True,7153,False,True,0.0,False,12.0,False,2b09f64f-b8b9-6948-ad98-9ab9bede8e3b,2.0,0.0,0.0
2,7987,False,False,57887,False,True,2.0,False,49.0,False,56c9ee4c-aae3-ba3c-ead0-9e899e1c5267,0.0,0.0,0.0
3,7,False,False,46076,False,False,30.0,False,6.0,False,a41bcf9c-976d-8690-629f-4c2737f65bf1,NaN,NaN,NaN
4,10207,False,False,31256,False,False,NaN,False,82.0,False,788009fd-9e08-5826-577b-9844575ba2d9,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,20775,False,False,218204,False,False,NaN,False,6.0,False,2836d768-73f2-3700-840e-a63d86599f52,NaN,NaN,NaN
245,20774,False,False,218201,False,False,NaN,False,6.0,False,dc98c1d7-c02b-67af-44ca-c59d9d1c5a98,NaN,NaN,NaN
246,20782,False,False,201498,False,False,NaN,True,6.0,False,3d75a41b-69ba-4f72-1cf0-84ffa111092a,NaN,4.0,NaN
247,20784,False,True,218300,False,False,1.0,True,6.0,False,0066f411-3aed-d2db-7a62-214939a0b2fd,1.0,4.0,8.0
248,20786,False,False,218301,False,False,NaN,False,6.0,False,44c325ca-4099-76a6-338f-319445b5ebeb,NaN,4.0,99999.0

In [76]:
multi_df = multi_df.rename(columns={'multiplayer_modes': 'multiplayer_modes'})

In [77]:
multi_df

,multiplayer_modes,campaigncoop,dropin,game,lancoop,offlinecoop,offlinemax,onlinecoop,platform,splitscreen,checksum,offlinecoopmax,onlinecoopmax,onlinemax
0,9953,False,False,92273,False,False,2.0,False,22.0,False,1b94d937-dc0c-c62d-10af-e58d42860bd8,NaN,NaN,NaN
1,1832,True,True,7153,False,True,0.0,False,12.0,False,2b09f64f-b8b9-6948-ad98-9ab9bede8e3b,2.0,0.0,0.0
2,7987,False,False,57887,False,True,2.0,False,49.0,False,56c9ee4c-aae3-ba3c-ead0-9e899e1c5267,0.0,0.0,0.0
3,7,False,False,46076,False,False,30.0,False,6.0,False,a41bcf9c-976d-8690-629f-4c2737f65bf1,NaN,NaN,NaN
4,10207,False,False,31256,False,False,NaN,False,82.0,False,788009fd-9e08-5826-577b-9844575ba2d9,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,20775,False,False,218204,False,False,NaN,False,6.0,False,2836d768-73f2-3700-840e-a63d86599f52,NaN,NaN,NaN
245,20774,False,False,218201,False,False,NaN,False,6.0,False,dc98c1d7-c02b-67af-44ca-c59d9d1c5a98,NaN,NaN,NaN
246,20782,False,False,201498,False,False,NaN,True,6.0,False,3d75a41b-69ba-4f72-1cf0-84ffa111092a,NaN,4.0,NaN
247,20784,False,True,218300,False,False,1.0,True,6.0,False,0066f411-3aed-d2db-7a62-214939a0b2fd,1.0,4.0,8.0
248,20786,False,False,218301,False,False,NaN,False,6.0,False,44c325ca-4099-76a6-338f-319445b5ebeb,NaN,4.0,99999.0

In [78]:
multi_df = multi_df.set_index('multiplayer_modes')

In [79]:
multi_df

,campaigncoop,dropin,game,lancoop,offlinecoop,offlinemax,onlinecoop,platform,splitscreen,checksum,offlinecoopmax,onlinecoopmax,onlinemax
multiplayer_modes,,,,,,,,,,,,,
9953,False,False,92273,False,False,2.0,False,22.0,False,1b94d937-dc0c-c62d-10af-e58d42860bd8,NaN,NaN,NaN
1832,True,True,7153,False,True,0.0,False,12.0,False,2b09f64f-b8b9-6948-ad98-9ab9bede8e3b,2.0,0.0,0.0
7987,False,False,57887,False,True,2.0,False,49.0,False,56c9ee4c-aae3-ba3c-ead0-9e899e1c5267,0.0,0.0,0.0
7,False,False,46076,False,False,30.0,False,6.0,False,a41bcf9c-976d-8690-629f-4c2737f65bf1,NaN,NaN,NaN
10207,False,False,31256,False,False,NaN,False,82.0,False,788009fd-9e08-5826-577b-9844575ba2d9,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20775,False,False,218204,False,False,NaN,False,6.0,False,2836d768-73f2-3700-840e-a63d86599f52,NaN,NaN,NaN
20774,False,False,218201,False,False,NaN,False,6.0,False,dc98c1d7-c02b-67af-44ca-c59d9d1c5a98,NaN,NaN,NaN
20782,False,False,201498,False,False,NaN,True,6.0,False,3d75a41b-69ba-4f72-1cf0-84ffa111092a,NaN,4.0,NaN
20784,False,True,218300,False,False,1.0,True,6.0,False,0066f411-3aed-d2db-7a62-214939a0b2fd,1.0,4.0,8.0
20786,False,False,218301,False,False,NaN,False,6.0,False,44c325ca-4099-76a6-338f-319445b5ebeb,NaN,4.0,99999.0

In [86]:
#marging this together with the main df
multi_play_df = pd.concat(df, multi_df)

/var/folders/f1/8blv52r50y1cffy2qpp05b5c0000gn/T/ipykernel_43426/131070102.py:2: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  multi_play_df = pd.concat(df, multi_df)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

In [ ]:
multi_play_df.head()

In [ ]:
multi_play_df.splitscreen.value_counts()

In [101]:
pd.set_option('display.max_columns', None)
df.head()

,id,category,created_at,external_games,first_release_date,genres,name,platforms,release_dates,similar_games,slug,summary,tags,updated_at,url,checksum,age_ratings,cover,involved_companies,screenshots,game_modes,player_perspectives,themes,websites,alternative_names,artworks,game_engines,keywords,status,videos,rating,rating_count,storyline,total_rating,total_rating_count,version_parent,version_title,hypes,collection,franchises,follows,bundles,parent_game,franchise,aggregated_rating,aggregated_rating_count,multiplayer_modes,remasters,remakes,dlcs,ports,expansions,expanded_games,forks,standalone_expansions
0,40104,0,1498435200,"[20127, 1988884]",5.364576e+08,[5],Dogou Souken,[52],[91007],"[12364, 27270, 43367, 103281, 103292, 103298, ...",dogou-souken,An overhead-view shoot'em up game.,[268435461],1604620800,https://www.igdb.com/games/dogou-souken,5e7446ff-58d9-e744-f0d3-5e10241304c1,NaN,NaN,NaN,NaN,Not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,85031,0,1517392813,"[216805, 1969751, 2005770]",1.404346e+09,[9],City Mysteries,[37],[138333],"[10603, 19222, 25905, 41349, 86974, 87507, 885...",city-mysteries,"Search buildings, streets, landmarks as you se...",[268435465],1641425677,https://www.igdb.com/games/city-mysteries,87b342e7-b912-ca8d-4ffb-f91f9e4f1870,[37944],61466.0,"[130531, 130532]","[155025, 155026, 155027]",Not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,99234,0,1524843905,"[603512, 1857496, 1917109]",1.527120e+09,"[31, 32]",Sword of the Black Stone,[6],[188385],"[25646, 29783, 68271, 80916, 96217, 105269, 10...",sword-of-the-black-stone,If your looking for action and adventure then ...,"[1, 268435487, 268435488]",1643857546,https://www.igdb.com/games/sword-of-the-black-...,0b575316-96dc-b056-86e0-c958c1c95efb,NaN,91582.0,"[155850, 155852]","[231528, 231529, 231530, 231531, 231532]",[single-player],[2],[1],[84617],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,148930,0,1621959514,"[2052375, 2057300]",NaN,"[13, 15, 31, 32]",Bok-Bok: A Chicken Dating Sim,NaN,NaN,"[25311, 26145, 28277, 33603, 51577, 65827, 791...",bok-bok-a-chicken-dating-sim,Have you ever pondered what the romantic life ...,"[268435469, 268435471, 268435487, 268435488]",1643850601,https://www.igdb.com/games/bok-bok-a-chicken-d...,9585e273-2606-970f-3088-60261ea77068,NaN,169077.0,NaN,"[463145, 463148, 463149, 463151, 463152]",Not available,NaN,NaN,[192858],[63465],[33736],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,139538,0,1602368467,[1966278],1.525910e+09,[32],sun machine,[82],[213594],"[11666, 13200, 13660, 17130, 25311, 28070, 348...",sun-machine,"a story of dark days, chronic fatigue, optimis...","[18, 268435488, 536896982]",1639609570,https://www.igdb.com/games/sun-machine,9986cb06-667c-bb20-d9cf-cb239d7020df,NaN,117024.0,[117090],"[403247, 403248]",[single-player],[3],[18],[156114],NaN,NaN,[837],[26070],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:


df.multiplayer_modes.value_counts()

[17642, 17643, 17644]    2
[8942]                   1
[5017, 8323]             1
[17124]                  1
[7022, 7023]             1
                        ..
[12339, 12340]           1
[9032]                   1
[19546]                  1
[19543, 19544]           1
[4038, 8195, 20042]      1
Name: multiplayer_modes, Length: 8973, dtype: int64

#  Random Prepare

In [ ]:
#this is reading the csv
df = pd.read_csv('games.csv', index_col='Unnamed: 0')

In [ ]:
#callign out one game by the name
df[df.name == 'ESPN NFL 2K5']

In [ ]:
#dropping some collumns
df = df.drop(columns=['artworks', 'cover','screenshots', 'videos', 'checksum', 'alternative_names', 'rating_count', 'total_rating_count', 'version_parent', 'hypes', 'franchises', 'follows', 'aggregated_rating_count'])
df.shape

In [ ]:
#renaming some collumns 
df.rename(columns={'slug': 'lower_case_name', 'aggregated_rating': 'critic_rating'}, inplace=True)

### Random to datetime code i needed but prob dont need

In [ ]:
from datetime import datetime

In [ ]:
df['created_at'] = pd.to_datetime(df['created_at'],unit='s')

In [ ]:
#df['release_dates'] = pd.to_datetime(df['release_dates'],unit='s')