In [1]:
import requests
import env
from requests.models import Request, Response
from env import Client_ID
import pandas as pd
from igdb.igdbapi_pb2 import GameResult
from typing import Dict, List, Optional, Union, cast
from bs4 import BeautifulSoup
import acquire
import json

### Connect to API and scrape the data needed
#### get the access token and 200 response

In [2]:
def get_api():   
    url = env.get_db_url()
    response = requests.post(url)
    data = response.json()
    access_token = data['access_token']
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *;'
    r = requests.post('https://api.igdb.com/v4/games', data=data, headers=headers)
    return access_token, r

In [3]:
access_token = acquire.connect_api()

In [4]:
access_token

'y3qhnrosvjmeaijr723yfyw1pgoqqk'

In [5]:
tf = acquire.connect_to_games()

In [6]:
tf

In [7]:
wrapper = acquire.run_wrapper()

In [8]:
wrapper

In [9]:
df = acquire.get_game_library(wrapper)
df.head()

KeyboardInterrupt:

In [ ]:
from igdb.wrapper import IGDBWrapper
wrapper = IGDBWrapper(f'{Client_ID}', f'Bearer {access_token}')

In [ ]:
games = wrapper.api_request('games', 'fields *; limit 500;' f'offset {0 * 409};')

In [ ]:
url = 'https://api.igdb.com/v4/age_ratings'
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'category,checksum,content_descriptions,rating,rating_cover_url,synopsis;'
response = requests.post(url, headers=headers, data = data)
print(response.text)

In [ ]:
testgames = []
for i in range(0, 409):
    games = wrapper.api_request('games', 'fields *; limit 500;' f'offset {i * 409};')
    testgames.append(games)

In [ ]:
len(testgames)

In [ ]:
soup = BeautifulSoup(r.content, 'html.parser')

In [ ]:
test = soup.select('div', class_= 'toc-wrapper')
test

## scraping endpoints
### scrape the end points of each category

In [ ]:
access_token

### platform_families

In [10]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; '
r = requests.post('https://api.igdb.com/v4/platform_families' ,data=data ,  headers=headers)

platform_families = wrapper.api_request('platform_families', 'fields *;limit 500;')

In [11]:
x = json.loads(platform_families)

platform_families =pd.DataFrame(x)

In [12]:
platform_families.head()

   id         name         slug                              checksum
0   5     Nintendo     nintendo  398e5c87-f7db-6265-6da6-433441385208
1   4        Linux        linux  be8b89fa-823c-790a-1d5a-7e74315c1b27
2   2         Xbox         xbox  5bb9bcec-4aa7-45b8-129b-a6f88932942e
3   3         Sega         sega  bd1a9cc4-3632-33b0-ff4b-feab8cd15001
4   1  PlayStation  playstation  eadc0208-7972-9364-88b9-d2a9de75a998

In [ ]:
platform_families.shape

In [13]:
def get_platform_families():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; '
    r = requests.post('https://api.igdb.com/v4/platform_families' ,data=data ,  headers=headers)
    platform_families = wrapper.api_request('platform_families', 'fields *;limit 500;')
    x = json.loads(platform_families)
    platform_families =pd.DataFrame(x)
    return platform_families

In [14]:
platform_families = get_platform_families()
platform_families.head()

   id         name         slug                              checksum
0   5     Nintendo     nintendo  398e5c87-f7db-6265-6da6-433441385208
1   4        Linux        linux  be8b89fa-823c-790a-1d5a-7e74315c1b27
2   2         Xbox         xbox  5bb9bcec-4aa7-45b8-129b-a6f88932942e
3   3         Sega         sega  bd1a9cc4-3632-33b0-ff4b-feab8cd15001
4   1  PlayStation  playstation  eadc0208-7972-9364-88b9-d2a9de75a998

In [ ]:
df.head()

In [ ]:
df.columns

### platform_version_release_dates

In [ ]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; '
r = requests.post('https://api.igdb.com/v4/platform_version_release_dates' ,data=data ,  headers=headers)

platform_version_release_dates = wrapper.api_request('platform_version_release_dates', 'fields *;limit 500;')

In [ ]:
x = json.loads(platform_version_release_dates)

platform_version_release_dates =pd.DataFrame(x)

In [ ]:
platform_version_release_dates.head()

In [ ]:
platform_version_release_dates.shape

In [15]:
def get_platform_version_release():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; '
    r = requests.post('https://api.igdb.com/v4/platform_version_release_dates' ,data=data ,  headers=headers)
    platform_version_release_dates = wrapper.api_request('platform_version_release_dates', 'fields *;limit 500;')
    x = json.loads(platform_version_release_dates)
    platform_version_release_dates =pd.DataFrame(x)
    return platform_version_release_dates

In [16]:
platform_version_release_dates = get_platform_version_release()
platform_version_release_dates

,id,category,date,human,m,region,y,checksum,updated_at
0,555,2,567907200,1987,12,8,1987,186c07ec-0d93-dc0f-6c4a-5fdb5a6138fa,NaN
1,338,0,1189555200,"Sep 12, 2007",9,3,2007,15e5b0aa-5bb6-ef30-ee85-0ef94cb3581f,NaN
2,334,0,1125532800,"Sep 01, 2005",9,7,2005,a4c921d5-1894-9a40-d20f-05959cd69a38,NaN
3,331,0,1415923200,"Nov 14, 2014",11,3,2014,3ebb8dc8-b8fa-f11a-b729-228b9dac35c4,NaN
4,333,0,1389830400,"Jan 16, 2014",1,7,2014,a15ecea5-cb71-916f-5bec-66ad7f571b19,NaN
...,...,...,...,...,...,...,...,...,...
391,660,0,1547942400,"Jan 20, 2019",1,7,2019,29210c4c-26c6-212c-e0ec-c0d6bdd23be9,1.660316e+09
392,659,0,1413763200,"Oct 20, 2014",10,2,2014,ddac84c3-8f5a-8372-fee3-5e05cc9517f5,1.660316e+09
393,661,2,725760000,1992,12,8,1992,d6cb796b-0679-d99b-30d8-decdf573187d,1.660320e+09
394,662,0,945043200,"Dec 13, 1999",12,5,1999,6fa54af0-85f8-088f-294c-d95dbbbb2a70,1.660322e+09
395,663,2,851990400,1996,12,2,1996,86254855-ee73-231a-6fab-9317893d2b30,1.660323e+09

### platform_version_companies

In [ ]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; '
r = requests.post('https://api.igdb.com/v4/platform_version_companies' ,data=data ,  headers=headers)

platform_version_companies = wrapper.api_request('platform_version_companies', 'fields *;limit 500;')

In [ ]:
x = json.loads(platform_version_companies)

platform_version_companies =pd.DataFrame(x)
platform_version_companies.head()

In [ ]:
platform_version_companies.shape

In [17]:
def get_platform_version_companies():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; '
    r = requests.post('https://api.igdb.com/v4/platform_version_companies' ,data=data ,  headers=headers)
    platform_version_companies = wrapper.api_request('platform_version_companies', 'fields *;limit 500;')
    x = json.loads(platform_version_companies)
    platform_version_companies =pd.DataFrame(x)
    return platform_version_companies

In [18]:
platform_version_companies=get_platform_version_companies()
platform_version_companies.head()

,id,company,developer,manufacturer,checksum,comment
0,286,11986,True,True,e5035f31-713a-1036-2968-dd353b74db3b,NaN
1,283,10922,False,True,6cd3e57c-2757-cc07-94a6-35ff7085e4c9,NaN
2,282,14429,False,True,172b6f24-a49c-c304-6fb3-78f6bf120a19,NaN
3,281,12385,True,False,d6051460-e7dc-4e77-80ca-e5df378cd304,NaN
4,280,19831,True,True,2f509e1b-75d2-36db-4129-4bf89d50343b,NaN

### platforms

In [ ]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; '
r = requests.post('https://api.igdb.com/v4/platforms' ,data=data ,  headers=headers)

platforms = wrapper.api_request('platforms', 'fields *;limit 500;')

In [ ]:
x = json.loads(platforms)

platforms =pd.DataFrame(x)
platforms.head()

In [ ]:
platforms

In [95]:
def get_platforms():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; '
    r = requests.post('https://api.igdb.com/v4/platforms' ,data=data ,  headers=headers)
    platforms = wrapper.api_request('platforms', 'fields *;limit 500;')
    x = json.loads(platforms)
    platforms =pd.DataFrame(x)
    return platforms

In [96]:
platform = get_platforms()
platform.shape

(195, 16)

In [97]:
platform.head()

    id                alternative_name  category  created_at              name  platform_logo            slug  updated_at                                            url   versions websites                              checksum  generation  platform_family abbreviation summary
0  158  Commodore Dynamic Total Vision       6.0  1510012800    Commodore CDTV          292.0  commodore-cdtv  1522972800  https://www.igdb.com/platforms/commodore-cdtv      [223]     [26]  5d48648e-283c-e2df-df7d-6d3cbc7e0a58         NaN              NaN          NaN     NaN
1  339              Kids Computer Pico       1.0  1595808000         Sega Pico            NaN       sega-pico  1595808000       https://www.igdb.com/platforms/sega-pico      [456]      NaN  6e867a5b-a071-fc7b-945b-a0622f64a4bc         4.0              3.0          NaN     NaN
2    8                             PS2       1.0  1297555200     PlayStation 2          254.0             ps2  1414972800             https://www.igdb.com/platforms/ps2  [58, 114]      NaN  be3e025c-d4ed-b795-443c-a8cb55fbfe17         6.0              1.0          PS2     NaN
3   39                             NaN       4.0  1317686400               iOS          248.0             ios  1391644800             https://www.igdb.com/platforms/ios       [43]      NaN  fefe4a2b-7c90-0e89-e811-902ea1cf2b58         NaN              NaN          iOS     NaN
4   94                             NaN       6.0  1414195200  Commodore Plus/4          310.0        c-plus-4  1468454400        https://www.igdb.com/platforms/c-plus-4      [108]      NaN  ea138789-6bbe-bcca-dff5-7e20e762f65a         NaN              NaN          C+4     NaN

In [ ]:

platforms.loc[platforms['id'] == 52]

In [98]:
platform = platform.drop(columns=['alternative_name', 'category', 'created_at', 'platform_logo', 'updated_at', 'url', 'checksum', 'versions', 'websites', 'generation', 'platform_family', 'abbreviation', 'summary'])
platform.head()

    id              name            slug
0  158    Commodore CDTV  commodore-cdtv
1  339         Sega Pico       sega-pico
2    8     PlayStation 2             ps2
3   39               iOS             ios
4   94  Commodore Plus/4        c-plus-4

In [85]:
print(platform.get('name', "Not found"))

0                    Commodore CDTV
1                         Sega Pico
2                     PlayStation 2
3                               iOS
4                  Commodore Plus/4
                   ...
190            Mega Duck/Cougar Boy
191                 Atari Jaguar CD
192    Watara/QuickShot Supervision
193                          LeapTV
194                        Leapster
Name: name, Length: 195, dtype: object

In [99]:
df['platforms'] = df['platforms'].fillna(0)
df.head()

       id artworks  category     cover  created_at              external_games            genres                                    name  parent_game                                        screenshots                                      similar_games                                 slug                                            summary                                          tags themes  updated_at                                                url   videos          websites                              checksum  first_release_date platforms release_dates age_ratings involved_companies game_modes player_perspectives alternative_names game_engines keywords  status  rating  rating_count storyline  total_rating  total_rating_count  version_parent version_title  hypes  collection franchises  follows bundles  franchise  aggregated_rating  aggregated_rating_count multiplayer_modes dlcs ports expansions remakes expanded_games remasters forks standalone_expansions
0  202489  [77476]         1  224545.0  1653310572          [2442147, 2443444]          [15, 16]  Panzer Corps 2: Axis Operations - 1943      27716.0  [798986, 798987, 798988, 798989, 798990, 79899...  [13196, 18623, 28244, 32510, 36258, 55036, 791...  panzer-corps-2-axis-operations-1943  The critical hour where the fate of Germany on...                    [22, 268435471, 268435472]   [22]  1654096076  https://www.igdb.com/games/panzer-corps-2-axis...  [68880]  [285491, 286755]  2992a43b-4d59-7ab8-e500-71a352404759                 NaN         0           NaN         NaN                NaN        NaN                 NaN               NaN          NaN      NaN     NaN     NaN           NaN       NaN           NaN                 NaN             NaN           NaN    NaN         NaN        NaN      NaN     NaN        NaN                NaN                      NaN               NaN  NaN   NaN        NaN     NaN            NaN       NaN   NaN                   NaN
1   40104      NaN         0       NaN  1498435200            [20127, 1988884]               [5]                            Dogou Souken          NaN                                                NaN  [12364, 27270, 43367, 103281, 103292, 103298, ...                         dogou-souken                 An overhead-view shoot'em up game.                                   [268435461]    NaN  1604620800            https://www.igdb.com/games/dogou-souken      NaN               NaN  5e7446ff-58d9-e744-f0d3-5e10241304c1        5.364576e+08      [52]       [91007]         NaN                NaN        NaN                 NaN               NaN          NaN      NaN     NaN     NaN           NaN       NaN           NaN                 NaN             NaN           NaN    NaN         NaN        NaN      NaN     NaN        NaN                NaN                      NaN               NaN  NaN   NaN        NaN     NaN            NaN       NaN   NaN                   NaN
2   85031      NaN         0   61466.0  1517392813  [216805, 1969751, 2005770]               [9]                          City Mysteries          NaN                           [155025, 155026, 155027]  [10603, 19222, 25905, 41349, 86974, 87507, 885...                       city-mysteries  Search buildings, streets, landmarks as you se...                                   [268435465]    NaN  1641425677          https://www.igdb.com/games/city-mysteries      NaN               NaN  87b342e7-b912-ca8d-4ffb-f91f9e4f1870        1.404346e+09      [37]      [138333]     [37944]   [130531, 130532]        NaN                 NaN               NaN          NaN      NaN     NaN     NaN           NaN       NaN           NaN                 NaN             NaN           NaN    NaN         NaN        NaN      NaN     NaN        NaN                NaN                      NaN               NaN  NaN   NaN        NaN     NaN            NaN       NaN   NaN                   NaN
3   99234      NaN         0   91582.0  1524843905  [603512, 1857496, 1917109]          [31, 32]                Sword of the Black Stone          NaN           [231528, 231529, 231530, 231531, 231532]  [25646, 29783, 68271, 80916, 96217, 105269, 10...             sword-of-the-black-stone  If your looking for action and adventure then ...                     [1, 268435487, 268435488]    [1]  1643857546  https://www.igdb.com/games/sword-of-the-black-...      NaN           [84617]  0b575316-96dc-b056-86e0-c958c1c95efb        1.527120e+09       [6]      [188385]         NaN   [155850, 155852]        [1]                 [2]               NaN          NaN      NaN     NaN     NaN           NaN       NaN           NaN                 NaN             NaN           NaN    NaN         NaN        NaN      NaN     NaN        NaN                NaN                      NaN               NaN  NaN   NaN        NaN     NaN            NaN       NaN   NaN                   NaN
4  148930  [33736]         0  169077.0  1621959514          [2052375, 2057300]  [13, 15, 31, 32]           Bok-Bok: A Chicken Dating Sim          NaN           [463145, 463148, 463149, 463151, 463152]  [25311, 26145, 28277, 33603, 51577, 65827, 791...         bok-bok-a-chicken-dating-sim  Have you ever pondered what the romantic life ...  [268435469, 268435471, 268435487, 268435488]    NaN  1643850601  https://www.igdb.com/games/bok-bok-a-chicken-d...      NaN          [192858]  9585e273-2606-970f-3088-60261ea77068                 NaN         0           NaN         NaN                NaN        NaN                 NaN           [63465]          NaN      NaN     NaN     NaN           NaN       NaN           NaN                 NaN             NaN           NaN    NaN         NaN        NaN      NaN     NaN        NaN                NaN                      NaN               NaN  NaN   NaN        NaN     NaN            NaN       NaN   NaN                   NaN

In [100]:
df['platforms'].values.tolist()
df.head()

       id artworks  category     cover  created_at              external_games            genres                                    name  parent_game                                        screenshots                                      similar_games                                 slug                                            summary                                          tags themes  updated_at                                                url   videos          websites                              checksum  first_release_date platforms release_dates age_ratings involved_companies game_modes player_perspectives alternative_names game_engines keywords  status  rating  rating_count storyline  total_rating  total_rating_count  version_parent version_title  hypes  collection franchises  follows bundles  franchise  aggregated_rating  aggregated_rating_count multiplayer_modes dlcs ports expansions remakes expanded_games remasters forks standalone_expansions
0  202489  [77476]         1  224545.0  1653310572          [2442147, 2443444]          [15, 16]  Panzer Corps 2: Axis Operations - 1943      27716.0  [798986, 798987, 798988, 798989, 798990, 79899...  [13196, 18623, 28244, 32510, 36258, 55036, 791...  panzer-corps-2-axis-operations-1943  The critical hour where the fate of Germany on...                    [22, 268435471, 268435472]   [22]  1654096076  https://www.igdb.com/games/panzer-corps-2-axis...  [68880]  [285491, 286755]  2992a43b-4d59-7ab8-e500-71a352404759                 NaN         0           NaN         NaN                NaN        NaN                 NaN               NaN          NaN      NaN     NaN     NaN           NaN       NaN           NaN                 NaN             NaN           NaN    NaN         NaN        NaN      NaN     NaN        NaN                NaN                      NaN               NaN  NaN   NaN        NaN     NaN            NaN       NaN   NaN                   NaN
1   40104      NaN         0       NaN  1498435200            [20127, 1988884]               [5]                            Dogou Souken          NaN                                                NaN  [12364, 27270, 43367, 103281, 103292, 103298, ...                         dogou-souken                 An overhead-view shoot'em up game.                                   [268435461]    NaN  1604620800            https://www.igdb.com/games/dogou-souken      NaN               NaN  5e7446ff-58d9-e744-f0d3-5e10241304c1        5.364576e+08      [52]       [91007]         NaN                NaN        NaN                 NaN               NaN          NaN      NaN     NaN     NaN           NaN       NaN           NaN                 NaN             NaN           NaN    NaN         NaN        NaN      NaN     NaN        NaN                NaN                      NaN               NaN  NaN   NaN        NaN     NaN            NaN       NaN   NaN                   NaN
2   85031      NaN         0   61466.0  1517392813  [216805, 1969751, 2005770]               [9]                          City Mysteries          NaN                           [155025, 155026, 155027]  [10603, 19222, 25905, 41349, 86974, 87507, 885...                       city-mysteries  Search buildings, streets, landmarks as you se...                                   [268435465]    NaN  1641425677          https://www.igdb.com/games/city-mysteries      NaN               NaN  87b342e7-b912-ca8d-4ffb-f91f9e4f1870        1.404346e+09      [37]      [138333]     [37944]   [130531, 130532]        NaN                 NaN               NaN          NaN      NaN     NaN     NaN           NaN       NaN           NaN                 NaN             NaN           NaN    NaN         NaN        NaN      NaN     NaN        NaN                NaN                      NaN               NaN  NaN   NaN        NaN     NaN            NaN       NaN   NaN                   NaN
3   99234      NaN         0   91582.0  1524843905  [603512, 1857496, 1917109]          [31, 32]                Sword of the Black Stone          NaN           [231528, 231529, 231530, 231531, 231532]  [25646, 29783, 68271, 80916, 96217, 105269, 10...             sword-of-the-black-stone  If your looking for action and adventure then ...                     [1, 268435487, 268435488]    [1]  1643857546  https://www.igdb.com/games/sword-of-the-black-...      NaN           [84617]  0b575316-96dc-b056-86e0-c958c1c95efb        1.527120e+09       [6]      [188385]         NaN   [155850, 155852]        [1]                 [2]               NaN          NaN      NaN     NaN     NaN           NaN       NaN           NaN                 NaN             NaN           NaN    NaN         NaN        NaN      NaN     NaN        NaN                NaN                      NaN               NaN  NaN   NaN        NaN     NaN            NaN       NaN   NaN                   NaN
4  148930  [33736]         0  169077.0  1621959514          [2052375, 2057300]  [13, 15, 31, 32]           Bok-Bok: A Chicken Dating Sim          NaN           [463145, 463148, 463149, 463151, 463152]  [25311, 26145, 28277, 33603, 51577, 65827, 791...         bok-bok-a-chicken-dating-sim  Have you ever pondered what the romantic life ...  [268435469, 268435471, 268435487, 268435488]    NaN  1643850601  https://www.igdb.com/games/bok-bok-a-chicken-d...      NaN          [192858]  9585e273-2606-970f-3088-60261ea77068                 NaN         0           NaN         NaN                NaN        NaN                 NaN           [63465]          NaN      NaN     NaN     NaN           NaN       NaN           NaN                 NaN             NaN           NaN    NaN         NaN        NaN      NaN     NaN        NaN                NaN                      NaN               NaN  NaN   NaN        NaN     NaN            NaN       NaN   NaN                   NaN

In [36]:
platformlist = platform[['id' , 'name']].sort_values(by='id').reset_index(drop=True)

In [37]:
platform_dict = platformlist.set_index('id').to_dict()['name']

In [59]:
platform_dict

{3: 'Linux',
 4: 'Nintendo 64',
 5: 'Wii',
 6: 'PC (Microsoft Windows)',
 7: 'PlayStation',
 8: 'PlayStation 2',
 9: 'PlayStation 3',
 11: 'Xbox',
 12: 'Xbox 360',
 13: 'DOS',
 14: 'Mac',
 15: 'Commodore C64/128/MAX',
 16: 'Amiga',
 18: 'Nintendo Entertainment System',
 19: 'Super Nintendo Entertainment System',
 20: 'Nintendo DS',
 21: 'Nintendo GameCube',
 22: 'Game Boy Color',
 23: 'Dreamcast',
 24: 'Game Boy Advance',
 25: 'Amstrad CPC',
 26: 'ZX Spectrum',
 27: 'MSX',
 29: 'Sega Mega Drive/Genesis',
 30: 'Sega 32X',
 32: 'Sega Saturn',
 33: 'Game Boy',
 34: 'Android',
 35: 'Sega Game Gear',
 37: 'Nintendo 3DS',
 38: 'PlayStation Portable',
 39: 'iOS',
 41: 'Wii U',
 42: 'N-Gage',
 44: 'Tapwave Zodiac',
 46: 'PlayStation Vita',
 47: 'Virtual Console (Nintendo)',
 48: 'PlayStation 4',
 49: 'Xbox One',
 50: '3DO Interactive Multiplayer',
 51: 'Family Computer Disk System',
 52: 'Arcade',
 53: 'MSX2',
 55: 'Legacy Mobile Device',
 57: 'WonderSwan',
 58: 'Super Famicom',
 59: 'Atari 2600',
 60: 'Atari 7800',
 61: 'Atari Lynx',
 62: 'Atari Jaguar',
 63: 'Atari ST/STE',
 64: 'Sega Master System/Mark III',
 65: 'Atari 8-bit',
 66: 'Atari 5200',
 67: 'Intellivision',
 68: 'ColecoVision',
 69: 'BBC Microcomputer System',
 70: 'Vectrex',
 71: 'Commodore VIC-20',
 72: 'Ouya',
 73: 'BlackBerry OS',
 74: 'Windows Phone',
 75: 'Apple II',
 77: 'Sharp X1',
 78: 'Sega CD',
 79: 'Neo Geo MVS',
 80: 'Neo Geo AES',
 82: 'Web browser',
 84: 'SG-1000',
 85: 'Donner Model 30',
 86: 'TurboGrafx-16/PC Engine',
 87: 'Virtual Boy',
 88: 'Odyssey',
 89: 'Microvision',
 90: 'Commodore PET',
 91: 'Bally Astrocade',
 93: 'Commodore 16',
 94: 'Commodore Plus/4',
 95: 'PDP-1',
 96: 'PDP-10',
 97: 'PDP-8',
 98: 'DEC GT40',
 99: 'Family Computer',
 100: 'Analogue electronics',
 101: 'Ferranti Nimrod Computer',
 102: 'EDSAC',
 103: 'PDP-7',
 104: 'HP 2100',
 105: 'HP 3000',
 106: 'SDS Sigma 7',
 107: 'Call-A-Computer time-shared mainframe computer system',
 108: 'PDP-11',
 109: 'CDC Cyber 70',
 110: 'PLATO',
 111: 'Imlac PDS-1',
 112: 'Microcomputer',
 113: 'OnLive Game System',
 114: 'Amiga CD32',
 115: 'Apple IIGS',
 116: 'Acorn Archimedes',
 117: 'Philips CD-i',
 118: 'FM Towns',
 119: 'Neo Geo Pocket',
 120: 'Neo Geo Pocket Color',
 121: 'Sharp X68000',
 122: 'Nuon',
 123: 'WonderSwan Color',
 124: 'SwanCrystal',
 125: 'PC-8801',
 126: 'TRS-80',
 127: 'Fairchild Channel F',
 128: 'PC Engine SuperGrafx',
 129: 'Texas Instruments TI-99',
 130: 'Nintendo Switch',
 131: 'Nintendo PlayStation',
 132: 'Amazon Fire TV',
 133: 'Philips Videopac G7000',
 134: 'Acorn Electron',
 135: 'Hyper Neo Geo 64',
 136: 'Neo Geo CD',
 137: 'New Nintendo 3DS',
 138: 'VC 4000',
 139: '1292 Advanced Programmable Video System',
 140: 'AY-3-8500',
 141: 'AY-3-8610',
 142: 'PC-50X Family',
 143: 'AY-3-8760',
 144: 'AY-3-8710',
 145: 'AY-3-8603',
 146: 'AY-3-8605',
 147: 'AY-3-8606',
 148: 'AY-3-8607',
 149: 'PC-98',
 150: 'Turbografx-16/PC Engine CD',
 151: 'TRS-80 Color Computer',
 152: 'FM-7',
 153: 'Dragon 32/64',
 154: 'Amstrad PCW',
 155: 'Tatung Einstein',
 156: 'Thomson MO5',
 157: 'NEC PC-6000 Series',
 158: 'Commodore CDTV',
 159: 'Nintendo DSi',
 161: 'Windows Mixed Reality',
 162: 'Oculus VR',
 163: 'SteamVR',
 164: 'Daydream',
 165: 'PlayStation VR',
 166: 'Pokémon mini',
 167: 'PlayStation 5',
 169: 'Xbox Series X|S',
 170: 'Google Stadia',
 203: 'DUPLICATE Stadia',
 236: 'Exidy Sorcerer',
 237: 'Sol-20',
 238: 'DVD Player',
 239: 'Blu-ray Player',
 240: 'Zeebo',
 274: 'PC-FX',
 306: 'Satellaview',
 307: 'Game & Watch',
 308: 'Playdia',
 309: 'Evercade',
 339: 'Sega Pico',
 372: 'OOParts',
 373: 'Sinclair ZX81',
 374: 'Sharp MZ-2200',
 375: 'Epoch Cassette Vision',
 376: 'Epoch Super Cassette Vision',
 377: 'Plug & Play',
 378: 'Gamate',
 379: 'Game.com',
 380: 'Casio Loopy',
 381: 'Playdate',
 382: 'Intellivision Amico',
 384: 'Oculus Quest',
 385: 'Oculus Rift',
 386: 'Oculus Quest 2',
 387: 'Oculus Go',
 388: 'Gear VR',
 389: 'AirConsole',
 390: 'PlayStation VR2',
 405: 'Windows Mobile',
 406: 'Sinclair QL',
 407: 'HyperScan',
 408: 'Mega Duck/Cougar Boy',
 409: 'Legacy Computer',
 410: 'Atari Jaguar CD',
 411: 'Handheld Electronic LCD',
 412: 'Leapster',
 413: 'Leapster Explorer/LeadPad Explorer',
 414: 'LeapTV',
 415: 'Watara/QuickShot Supervision',
 416: 'Nintendo 64DD',
 417: 'Palm OS'}

In [73]:
df.platforms.describe

<bound method NDFrame.describe of 0                               0
1                            [52]
2                            [37]
3                             [6]
4                               0
                  ...
495    [6, 48, 49, 167, 169, 170]
496       [3, 6, 14, 48, 49, 130]
497                       [6, 49]
498                          [49]
499                  [6, 39, 130]
Name: platforms, Length: 204500, dtype: object>

In [63]:
import numpy as np
platform.head()

    id              name            slug
0  158    Commodore CDTV  commodore-cdtv
1  339         Sega Pico       sega-pico
2    8     PlayStation 2             ps2
3   39               iOS             ios
4   94  Commodore Plus/4        c-plus-4

In [69]:
def test_funct(random_list):
    new_list = [platform_dict[i] for i in random_list]
    return new_list

In [93]:
platform.update({'id': 0}, index=0)
platform.head()

TypeError: update() got an unexpected keyword argument 'index'

In [101]:
platform.head()

    id              name            slug
0  158    Commodore CDTV  commodore-cdtv
1  339         Sega Pico       sega-pico
2    8     PlayStation 2             ps2
3   39               iOS             ios
4   94  Commodore Plus/4        c-plus-4

In [91]:
print(platform.get('id', "Not found"))

0        0.0
1      339.0
2        8.0
3       39.0
4       94.0
       ...
190    408.0
191    410.0
192    415.0
193    414.0
194    412.0
Name: id, Length: 195, dtype: float64

In [70]:
df['platforms'] = df.platforms.apply(test_funct)
df.head()

TypeError: 'int' object is not iterable

In [55]:
df.head()

       id artworks  category     cover  created_at              external_games            genres                                    name  parent_game                                        screenshots                                      similar_games                                 slug                                            summary                                          tags themes  updated_at                                                url   videos          websites                              checksum  first_release_date platforms release_dates age_ratings involved_companies game_modes player_perspectives alternative_names game_engines keywords  status  rating  rating_count storyline  total_rating  total_rating_count  version_parent version_title  hypes  collection franchises  follows bundles  franchise  aggregated_rating  aggregated_rating_count multiplayer_modes dlcs ports expansions remakes expanded_games remasters forks standalone_expansions
0  202489  [77476]         1  224545.0  1653310572          [2442147, 2443444]          [15, 16]  Panzer Corps 2: Axis Operations - 1943      27716.0  [798986, 798987, 798988, 798989, 798990, 79899...  [13196, 18623, 28244, 32510, 36258, 55036, 791...  panzer-corps-2-axis-operations-1943  The critical hour where the fate of Germany on...                    [22, 268435471, 268435472]   [22]  1654096076  https://www.igdb.com/games/panzer-corps-2-axis...  [68880]  [285491, 286755]  2992a43b-4d59-7ab8-e500-71a352404759                 NaN       NaN           NaN         NaN                NaN        NaN                 NaN               NaN          NaN      NaN     NaN     NaN           NaN       NaN           NaN                 NaN             NaN           NaN    NaN         NaN        NaN      NaN     NaN        NaN                NaN                      NaN               NaN  NaN   NaN        NaN     NaN            NaN       NaN   NaN                   NaN
1   40104      NaN         0       NaN  1498435200            [20127, 1988884]               [5]                            Dogou Souken          NaN                                                NaN  [12364, 27270, 43367, 103281, 103292, 103298, ...                         dogou-souken                 An overhead-view shoot'em up game.                                   [268435461]    NaN  1604620800            https://www.igdb.com/games/dogou-souken      NaN               NaN  5e7446ff-58d9-e744-f0d3-5e10241304c1        5.364576e+08      [52]       [91007]         NaN                NaN        NaN                 NaN               NaN          NaN      NaN     NaN     NaN           NaN       NaN           NaN                 NaN             NaN           NaN    NaN         NaN        NaN      NaN     NaN        NaN                NaN                      NaN               NaN  NaN   NaN        NaN     NaN            NaN       NaN   NaN                   NaN
2   85031      NaN         0   61466.0  1517392813  [216805, 1969751, 2005770]               [9]                          City Mysteries          NaN                           [155025, 155026, 155027]  [10603, 19222, 25905, 41349, 86974, 87507, 885...                       city-mysteries  Search buildings, streets, landmarks as you se...                                   [268435465]    NaN  1641425677          https://www.igdb.com/games/city-mysteries      NaN               NaN  87b342e7-b912-ca8d-4ffb-f91f9e4f1870        1.404346e+09      [37]      [138333]     [37944]   [130531, 130532]        NaN                 NaN               NaN          NaN      NaN     NaN     NaN           NaN       NaN           NaN                 NaN             NaN           NaN    NaN         NaN        NaN      NaN     NaN        NaN                NaN                      NaN               NaN  NaN   NaN        NaN     NaN            NaN       NaN   NaN                   NaN
3   99234      NaN         0   91582.0  1524843905  [603512, 1857496, 1917109]          [31, 32]                Sword of the Black Stone          NaN           [231528, 231529, 231530, 231531, 231532]  [25646, 29783, 68271, 80916, 96217, 105269, 10...             sword-of-the-black-stone  If your looking for action and adventure then ...                     [1, 268435487, 268435488]    [1]  1643857546  https://www.igdb.com/games/sword-of-the-black-...      NaN           [84617]  0b575316-96dc-b056-86e0-c958c1c95efb        1.527120e+09       [6]      [188385]         NaN   [155850, 155852]        [1]                 [2]               NaN          NaN      NaN     NaN     NaN           NaN       NaN           NaN                 NaN             NaN           NaN    NaN         NaN        NaN      NaN     NaN        NaN                NaN                      NaN               NaN  NaN   NaN        NaN     NaN            NaN       NaN   NaN                   NaN
4  148930  [33736]         0  169077.0  1621959514          [2052375, 2057300]  [13, 15, 31, 32]           Bok-Bok: A Chicken Dating Sim          NaN           [463145, 463148, 463149, 463151, 463152]  [25311, 26145, 28277, 33603, 51577, 65827, 791...         bok-bok-a-chicken-dating-sim  Have you ever pondered what the romantic life ...  [268435469, 268435471, 268435487, 268435488]    NaN  1643850601  https://www.igdb.com/games/bok-bok-a-chicken-d...      NaN          [192858]  9585e273-2606-970f-3088-60261ea77068                 NaN       NaN           NaN         NaN                NaN        NaN                 NaN           [63465]          NaN      NaN     NaN     NaN           NaN       NaN           NaN                 NaN             NaN           NaN    NaN         NaN        NaN      NaN     NaN        NaN                NaN                      NaN               NaN  NaN   NaN        NaN     NaN            NaN       NaN   NaN                   NaN

In [ ]:
results = pd.merge(df, platforms, how = 'left', on="platforms")
results.tail()

In [ ]:
results.tail()

In [ ]:
df.loc[df['platforms'] == 5, 'platforms'] = 'windows'

In [ ]:
df.head(10)

In [ ]:
platform.info()

In [ ]:
for i, l in enumerate(df["platforms"]):
    print("list",i,"is",type(l))

In [ ]:
platforms.head()

In [ ]:
df.loc[df['platforms'] == '3ds']

In [ ]:

def platform_names(x):
# define list
    #l = [52, 37, 6]
  
    for i in range(len(l)):
        # replace 52
        if l[i] == 52:
            l[i] = 'arcade'
  
        # replace 37
        if l[i] == 37:
            l[i] = '3ds'
        
        # replace 6
        if l[i] == 6:
            l[i] = 'windows'
    return x

In [ ]:
platform['id'] = platform['id'].astype(str)

In [ ]:
df["platforms"] = platform["id"].map(platform["name"])

In [ ]:
df.loc[df['platforms'].notnull()]

### release_dates

In [ ]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; '
r = requests.post('https://api.igdb.com/v4/release_dates' ,data=data ,  headers=headers)

release_dates = wrapper.api_request('release_dates', 'fields *;limit 500;')

In [ ]:
x = json.loads(release_dates)

release_dates =pd.DataFrame(x)
release_dates.head()

In [ ]:
release_dates.shape

In [21]:
def get_release_dates():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; '
    r = requests.post('https://api.igdb.com/v4/release_dates' ,data=data ,  headers=headers)
    release_dates = wrapper.api_request('release_dates', 'fields *;limit 500;')
    x = json.loads(release_dates)
    release_dates =pd.DataFrame(x)
    return release_dates

In [22]:
release_dates = get_release_dates()
release_dates.shape

(500, 12)

### platform_versions

In [ ]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; '
r = requests.post('https://api.igdb.com/v4/platform_versions' ,data=data ,  headers=headers)

platform_versions = wrapper.api_request('platform_versions', 'fields *;limit 500;')

In [ ]:
x = json.loads(platform_versions)

platform_versions=pd.DataFrame(x)
platform_versions.head()

In [23]:
def get_platform_versions():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; '
    r = requests.post('https://api.igdb.com/v4/platform_versions' ,data=data ,  headers=headers)
    platform_versions = wrapper.api_request('platform_versions', 'fields *;limit 500;')
    x = json.loads(platform_versions)
    platform_versions=pd.DataFrame(x)
    return platform_versions

In [24]:
platform_versions = get_platform_versions()
platform_versions.shape

(312, 21)

### player_perspectives

In [ ]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; '
r = requests.post('https://api.igdb.com/v4/player_perspectives' ,data=data ,  headers=headers)

player_perspectives = wrapper.api_request('player_perspectives', 'fields *;limit 500;')

In [ ]:
x = json.loads(player_perspectives)

player_perspectives=pd.DataFrame(x)
player_perspectives.head()

In [25]:
def get_player_perspectives():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; '
    r = requests.post('https://api.igdb.com/v4/player_perspectives' ,data=data ,  headers=headers)
    player_perspectives = wrapper.api_request('player_perspectives', 'fields *;limit 500;')
    x = json.loads(player_perspectives)
    player_perspectives=pd.DataFrame(x)
    return player_perspectives

In [26]:
player_perspectives = get_player_perspectives()
player_perspectives.shape

(7, 7)

### themes

In [ ]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; '
r = requests.post('https://api.igdb.com/v4/themes' ,data=data ,  headers=headers)

themes = wrapper.api_request('themes', 'fields *;limit 500;')

In [ ]:
x = json.loads(themes)

themes=pd.DataFrame(x)
themes.head()

In [27]:
def get_themes():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; '
    r = requests.post('https://api.igdb.com/v4/themes' ,data=data ,  headers=headers)
    themes = wrapper.api_request('themes', 'fields *;limit 500;')
    x = json.loads(themes)
    themes=pd.DataFrame(x)
    return themes

In [28]:
themes = get_themes()
themes.shape

(22, 7)

In [ ]:
themes.head()

In [ ]:
result = pd.concat([df, themes], axis=0, join="inner")

### Read the CSV for games

In [31]:
df = pd.read_csv('games.csv', index_col='Unnamed: 0')
df.head()

/var/folders/nr/4dgzb75x0x5b5kl5610rvf340000gn/T/ipykernel_70786/3189555017.py:1: DtypeWarning: Columns (54) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('games.csv', index_col='Unnamed: 0')

,id,artworks,category,cover,created_at,external_games,genres,name,parent_game,screenshots,...,aggregated_rating_count,multiplayer_modes,dlcs,ports,expansions,remakes,expanded_games,remasters,forks,standalone_expansions
0,202489,[77476],1,224545.0,1653310572,"[2442147, 2443444]","[15, 16]",Panzer Corps 2: Axis Operations - 1943,27716.0,"[798986, 798987, 798988, 798989, 798990, 79899...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,40104,NaN,0,NaN,1498435200,"[20127, 1988884]",[5],Dogou Souken,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,85031,NaN,0,61466.0,1517392813,"[216805, 1969751, 2005770]",[9],City Mysteries,NaN,"[155025, 155026, 155027]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,99234,NaN,0,91582.0,1524843905,"[603512, 1857496, 1917109]","[31, 32]",Sword of the Black Stone,NaN,"[231528, 231529, 231530, 231531, 231532]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,148930,[33736],0,169077.0,1621959514,"[2052375, 2057300]","[13, 15, 31, 32]",Bok-Bok: A Chicken Dating Sim,NaN,"[463145, 463148, 463149, 463151, 463152]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
#pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
df.loc[df['franchises'].notnull()]

,id,artworks,category,cover,created_at,external_games,genres,name,parent_game,screenshots,similar_games,slug,summary,tags,themes,updated_at,url,videos,websites,checksum,first_release_date,platforms,release_dates,age_ratings,involved_companies,game_modes,player_perspectives,alternative_names,game_engines,keywords,status,rating,rating_count,storyline,total_rating,total_rating_count,version_parent,version_title,hypes,collection,franchises,follows,bundles,franchise,aggregated_rating,aggregated_rating_count,multiplayer_modes,dlcs,ports,expansions,remakes,expanded_games,remasters,forks,standalone_expansions
34,193329,NaN,0,212201.0,1646480216,[2288508],"[5, 15, 25]",Lego Hero Factory: Brain Attack,NaN,"[750543, 750544, 750545]","[19164, 34024, 68855, 95340, 103298, 103301, 1...",lego-hero-factory-brain-attack,NaN,"[1, 268435461, 268435471, 268435481]",[1],1646700870,https://www.igdb.com/games/lego-hero-factory-b...,[65156],[268717],80f1eb3d-bf71-28de-8256-3e0a9a03fe94,NaN,NaN,NaN,NaN,"[165035, 165036]",[1],[3],NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3015.0,[51],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,88912,[74270],9,93117.0,1519382760,"[224818, 1999311, 2414235]","[8, 33]",Sonic the Hedgehog Classic,3192.0,"[206783, 206784, 206785, 206786, 206787, 20678...","[25901, 28070, 43367, 51485, 55042, 56033, 816...",sonic-the-hedgehog-classic,A remastered port of Sonic the Hedgehog for mo...,"[1, 268435464, 268435489, 536872420, 536882346...",[1],1654793072,https://www.igdb.com/games/sonic-the-hedgehog-...,NaN,"[76549, 139109, 139110, 275708]",f307126e-0e1f-d216-cc9a-91ac6b740667,1.368576e+09,"[34, 39]","[189309, 193673, 193674]",NaN,"[171549, 171550]",[1],[4],[89032],[881],"[1508, 11434, 17940, 24797]",NaN,80.000000,1.0,NaN,80.000000,1.0,NaN,NaN,NaN,2156.0,[457],NaN,[131033],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,6499,NaN,0,206656.0,1398719345,"[39078, 134506, 1921285]",[13],Lego Creator: Knights' Kingdom,NaN,"[726473, 726474, 726475]","[422, 3941, 10667, 19005, 61632, 66631, 70479,...",lego-creator-knights-kingdom,Lego Creator: Knights' Kingdom is a constructi...,"[268435469, 536871017, 536871304, 536871322, 5...",NaN,1648689886,https://www.igdb.com/games/lego-creator-knight...,NaN,NaN,fdeeeac9-1257-98ce-0556-ba31765d2d7e,9.782208e+08,[6],[15714],[3696],"[15446, 15447]",[1],"[1, 2]",NaN,NaN,"[105, 392, 410, 2152, 4142, 4161, 4181, 4651, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3015.0,[51],1.0,NaN,51.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,87751,NaN,0,NaN,1518912000,[1975797],[5],Counter-Strike Avalon,NaN,NaN,"[27270, 38030, 43367, 103281, 103292, 103298, ...",counter-strike-avalon,He is a good game,"[1, 268435461]",[1],1604620800,https://www.igdb.com/games/counter-strike-avalon,NaN,NaN,1346b187-115b-1624-29c7-e831ced48c2c,1.170979e+09,[8],[147874],"[21030, 21031]",[62394],"[2, 3, 5]",NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58.0,[1216],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,56909,NaN,0,32199.0,1504529613,"[104099, 1925426]",[13],Kamen Rider Atsume,NaN,NaN,"[17130, 18623, 26950, 31515, 33153, 36346, 448...",kamen-rider-atsume,Hit-Point's follow-up to Neko Atsume has playe...,"[27, 268435469, 536870926, 536871262, 53687206...",[27],1653979388,https://www.igdb.com/games/kamen-rider-atsume,NaN,"[286560, 286561, 286562]",054e7210-e78b-7f3b-cf06-64aaeeabd8ae,1.459123e+09,"[34, 39]","[361900, 361909]",NaN,NaN,[1],[4],[89967],NaN,"[14, 350, 1148, 1682, 2387, 4134, 4142, 4377, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3146.0,[696],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487,136539,"[9371, 9372, 9373]",1,159599.0,1596977606,"[1997165, 1997205, 1997237, 1997470, 2018308, ...","[5, 33]",DOOM Eternal: The Ancient Gods - Part One,103298.0,"[398042, 398043]","[19164, 25901, 43367, 76263, 103298, 103301, 1...",doom-eternal-the-ancient-gods-part-one,The Ancient Gods picks up after the end of the...,"[1, 268435461, 268435489, 536871378, 536871436...",[1],1662907244,https://www.igdb.com/games/doom-eternal-the-an...,"[39286, 40084]","[158092, 158093, 158094, 158095, 158096, 15809...",6f5e997a-8828-c68a-5921-e7efd9cca2ab,1.603152e+09,"[6, 48, 49, 130, 170]","[208354, 208355, 208356, 208357, 290396]","[29795, 49289, 67381]","[139190, 139191]",[1],[1],[56928],NaN,"[466, 524, 1069, 1308, 3257]",NaN,79.983124,8.0,Your war is not over… slaying the Khan Maykr l...,79.991562,10.0,NaN,NaN,NaN,129.0,[798],2.0,[119888],NaN,80.000000,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
491,44632,"[85464, 85465]",0,241637.0,1499430915,"[52510, 114787, 1901275]",[10],Tokyo Xtreme Racer Drift,NaN,"[870267, 870268]","[21441, 27378, 27553, 40470, 44178, 49621, 551...",tokyo-xtreme-racer-drift,This fifth installment in the Tokyo Xtreme ser...,"[268435466, 536872590, 536875069, 536875194, 5...",NaN,1662601157,https://www.igdb.com/games/tokyo-xtreme-racer-...,"[74350, 74351, 74352]",[308407],8ff07147-03c7-abf2-5673-aee5f115b694,1.046304e+09,[8],"[121370, 129685]",[15511],"[186248, 186249]",NaN,NaN,"[99583, 99590]",NaN,"[1678, 4157, 4282, 5996, 24891, 34331]",NaN,NaN,NaN,"The player controls Hiroki Koukami, a wanderer...",NaN,NaN,NaN,NaN,NaN,8222.0,[3998],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
492,7268,[33967],0,126244.0,1402020880,"[9981, 56876, 78764, 78765, 78766, 117263, 246...","[12, 31]",Akiba's Trip: Undead & Undressed,NaN,"[11710, 11711, 11712, 11713, 11714]","[28010, 28168, 28309, 30245, 36198, 47823, 809...",akiba-s-trip-undead-undressed,Akiba's Trip: Undead & Undressed is an open-wo...,"[1, 268435468, 268435487, 536870990, 536871123...",[1],1657025904,https://www.igdb.com/games/akiba-s-trip-undead...,"[5032, 5033]","[46644, 46645, 166593, 166594]",8b217a37-322b-636b-74d6-fe6075a946bb,1.383782e+09,"[6, 9, 46, 48]","[18695, 25287, 25288, 25291, 25292, 25293, 107...","[5875, 32424]","[21046, 21047, 21048]",[1],[2],[67910],NaN,"[78, 211, 617, 1033, 1454, 1539, 2147, 3208, 4...",NaN,59.711466,19.0,NaN,61.927162,28.0,NaN,NaN,NaN,980.0,[1180],7.0,NaN,NaN,64.142857,9.0,NaN,[204503],NaN,NaN,NaN,NaN,[78472],NaN,NaN
493,7894,[52827],0,241639.0,1414452505,"[38951, 149064, 246350, 2125970]","[25, 31]",Blood Omen: Legacy of Kain,NaN,"[386333, 386334, 386335, 386336, 386337]","[660, 4122, 7893, 10388, 14394, 15718, 19133, ...",blood-omen-legacy-of-kain,Blood Omen: Legacy of Kain is a top-down actio...,"[1, 17, 19, 268435481, 268435487, 536870928, 5...","[1, 17, 19]",1662564163,https://www.igdb.com/games/blood-omen-legacy-o...,[74354],"[142060, 142061, 228538]",31e48e9b-4081-c89b-a578-55e9c0d6365f,8.468064e+08,"[6, 7, 9, 38]","[20952, 20953, 20954, 20955, 197731, 197732]",[56925],"[18459, 100303, 100304, 100305, 100306]",[1],[3],"[35440, 68828, 68829]",NaN,"[16, 129, 170, 205, 211, 226, 227, 296, 558, 1...",NaN,76.460994,38.0,"During a journey, the human nobleman Kain is a...",80.730497,39.0,NaN,NaN,NaN,632.0,[1885],25.0,NaN,NaN,85.000000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
495,37016,"[1213, 5039, 6007, 6376, 6377, 6378, 6379, 638...",0,71083.0,1497216279,"[50659, 80860, 102139, 1593410, 1706657, 17082...","[5, 31]",Metro Exodus,NaN,"[44199, 44200, 44201, 44202, 44203, 214208, 21...","[17379, 19561, 19564, 26192, 28168, 54842, 550...",metro-exodus,"Metro Exodus is an epic, story-driven first pe...","[1, 18, 19, 21, 268435461, 268435487, 53687098...","[1, 18, 19, 21]",1662910768,https://www.igdb.com/games/metro-exodus,"[14571, 17131, 20506, 20729, 21738, 24053, 243...","[39566, 39567, 39568, 39569, 66162, 66163, 811...",c142b442-9bbe-0cea-d317-821abc82581a,1.550189e+09,"[6, 48, 49, 167, 169, 170]","[191003, 191004, 191005, 191006, 297637, 297638]","[25552, 45824, 67305]","[170144, 170145]",[1],[1],"[49968, 49969]",[18],"[69, 208, 453, 1706, 4224, 4337, 4357, 4895, 4...",NaN,83.091874,331.0,The year is 2036. A quarter-century after nucl...,83.170937,346.0,NaN,NaN,110.0,82.0,[1344],236.0,"[95059, 109587, 136166, 147016, 154180]",NaN,83.250000,15.0,NaN,"[121753, 121756]",NaN,NaN,NaN,NaN,[143292],NaN,NaN

In [33]:
df.head()

       id artworks  category     cover  created_at              external_games            genres                                    name  parent_game                                        screenshots                                      similar_games                                 slug                                            summary                                          tags themes  updated_at                                                url   videos          websites                              checksum  first_release_date platforms release_dates age_ratings involved_companies game_modes player_perspectives alternative_names game_engines keywords  status  rating  rating_count storyline  total_rating  total_rating_count  version_parent version_title  hypes  collection franchises  follows bundles  franchise  aggregated_rating  aggregated_rating_count multiplayer_modes dlcs ports expansions remakes expanded_games remasters forks standalone_expansions
0  202489  [77476]         1  224545.0  1653310572          [2442147, 2443444]          [15, 16]  Panzer Corps 2: Axis Operations - 1943      27716.0  [798986, 798987, 798988, 798989, 798990, 79899...  [13196, 18623, 28244, 32510, 36258, 55036, 791...  panzer-corps-2-axis-operations-1943  The critical hour where the fate of Germany on...                    [22, 268435471, 268435472]   [22]  1654096076  https://www.igdb.com/games/panzer-corps-2-axis...  [68880]  [285491, 286755]  2992a43b-4d59-7ab8-e500-71a352404759                 NaN       NaN           NaN         NaN                NaN        NaN                 NaN               NaN          NaN      NaN     NaN     NaN           NaN       NaN           NaN                 NaN             NaN           NaN    NaN         NaN        NaN      NaN     NaN        NaN                NaN                      NaN               NaN  NaN   NaN        NaN     NaN            NaN       NaN   NaN                   NaN
1   40104      NaN         0       NaN  1498435200            [20127, 1988884]               [5]                            Dogou Souken          NaN                                                NaN  [12364, 27270, 43367, 103281, 103292, 103298, ...                         dogou-souken                 An overhead-view shoot'em up game.                                   [268435461]    NaN  1604620800            https://www.igdb.com/games/dogou-souken      NaN               NaN  5e7446ff-58d9-e744-f0d3-5e10241304c1        5.364576e+08      [52]       [91007]         NaN                NaN        NaN                 NaN               NaN          NaN      NaN     NaN     NaN           NaN       NaN           NaN                 NaN             NaN           NaN    NaN         NaN        NaN      NaN     NaN        NaN                NaN                      NaN               NaN  NaN   NaN        NaN     NaN            NaN       NaN   NaN                   NaN
2   85031      NaN         0   61466.0  1517392813  [216805, 1969751, 2005770]               [9]                          City Mysteries          NaN                           [155025, 155026, 155027]  [10603, 19222, 25905, 41349, 86974, 87507, 885...                       city-mysteries  Search buildings, streets, landmarks as you se...                                   [268435465]    NaN  1641425677          https://www.igdb.com/games/city-mysteries      NaN               NaN  87b342e7-b912-ca8d-4ffb-f91f9e4f1870        1.404346e+09      [37]      [138333]     [37944]   [130531, 130532]        NaN                 NaN               NaN          NaN      NaN     NaN     NaN           NaN       NaN           NaN                 NaN             NaN           NaN    NaN         NaN        NaN      NaN     NaN        NaN                NaN                      NaN               NaN  NaN   NaN        NaN     NaN            NaN       NaN   NaN                   NaN
3   99234      NaN         0   91582.0  1524843905  [603512, 1857496, 1917109]          [31, 32]                Sword of the Black Stone          NaN           [231528, 231529, 231530, 231531, 231532]  [25646, 29783, 68271, 80916, 96217, 105269, 10...             sword-of-the-black-stone  If your looking for action and adventure then ...                     [1, 268435487, 268435488]    [1]  1643857546  https://www.igdb.com/games/sword-of-the-black-...      NaN           [84617]  0b575316-96dc-b056-86e0-c958c1c95efb        1.527120e+09       [6]      [188385]         NaN   [155850, 155852]        [1]                 [2]               NaN          NaN      NaN     NaN     NaN           NaN       NaN           NaN                 NaN             NaN           NaN    NaN         NaN        NaN      NaN     NaN        NaN                NaN                      NaN               NaN  NaN   NaN        NaN     NaN            NaN       NaN   NaN                   NaN
4  148930  [33736]         0  169077.0  1621959514          [2052375, 2057300]  [13, 15, 31, 32]           Bok-Bok: A Chicken Dating Sim          NaN           [463145, 463148, 463149, 463151, 463152]  [25311, 26145, 28277, 33603, 51577, 65827, 791...         bok-bok-a-chicken-dating-sim  Have you ever pondered what the romantic life ...  [268435469, 268435471, 268435487, 268435488]    NaN  1643850601  https://www.igdb.com/games/bok-bok-a-chicken-d...      NaN          [192858]  9585e273-2606-970f-3088-60261ea77068                 NaN       NaN           NaN         NaN                NaN        NaN                 NaN           [63465]          NaN      NaN     NaN     NaN           NaN       NaN           NaN                 NaN             NaN           NaN    NaN         NaN        NaN      NaN     NaN        NaN                NaN                      NaN               NaN  NaN   NaN        NaN     NaN            NaN       NaN   NaN                   NaN

In [ ]:
df = df.drop(columns=['websites', 'created_at', 'updated_at', 'artworks', 'cover','screenshots', 'videos', 'checksum', 'alternative_names', 'rating_count', 'total_rating_count', 'version_parent', 'hypes', 'franchises', 'follows', 'aggregated_rating_count'])
df.shape

In [ ]:
df.columns

In [ ]:
df.rename(columns={'slug': 'lower_case_name', 'aggregated_rating': 'critic_rating'}, inplace=True)
df.head()

In [ ]:
df.rating.isnull().sum()

In [ ]:
df.loc[df['rating'].isnull()]

In [ ]:
df.release_dates.info()

In [ ]:
df.platforms.value_counts()

### Dataframe with ratings

In [ ]:
df2 = df[df['rating'].notnull()]
df2.head()

In [ ]:
df2.rating.isnull().sum()

### Dataframe with nulls in rating column

In [ ]:
df3 = df[df['rating'].isnull()]
df3.shape