In [4]:
import requests
import env
from requests.models import Request, Response
from env import Client_ID
import pandas as pd
from igdb.igdbapi_pb2 import GameResult
from typing import Dict, List, Optional, Union, cast
import acquire
import json
from igdb.wrapper import IGDBWrapper

### Connect to API and scrape the data needed
#### get the access token and 200 response

In [ ]:
def get_api():   
    url = env.get_db_url()
    response = requests.post(url)
    data = response.json()
    access_token = data['access_token']
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *;'
    r = requests.post('https://api.igdb.com/v4/games', data=data, headers=headers)
    return access_token, r

In [5]:
access_token = acquire.connect_api()

In [6]:
access_token

'05tplnkwvez3tdzpywhpyel3nacoye'

In [7]:
tf = acquire.connect_to_games()

In [8]:
tf

In [9]:
wrapper = acquire.run_wrapper()

In [ ]:
wrapper

In [10]:
game_library = acquire.get_game_library(wrapper)
game_library.head()

,id,category,created_at,external_games,first_release_date,genres,name,platforms,release_dates,similar_games,...,aggregated_rating_count,multiplayer_modes,remasters,remakes,dlcs,ports,expansions,expanded_games,forks,standalone_expansions
0,40104,0,1498435200,"[20127, 1988884]",5.364576e+08,[5],Dogou Souken,[52],[91007],"[12364, 27270, 43367, 103281, 103292, 103298, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,85031,0,1517392813,"[216805, 1969751, 2005770]",1.404346e+09,[9],City Mysteries,[37],[138333],"[10603, 19222, 25905, 41349, 86974, 87507, 885...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,99234,0,1524843905,"[603512, 1857496, 1917109]",1.527120e+09,"[31, 32]",Sword of the Black Stone,[6],[188385],"[25646, 29783, 68271, 80916, 96217, 105269, 10...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,148930,0,1621959514,"[2052375, 2057300]",NaN,"[13, 15, 31, 32]",Bok-Bok: A Chicken Dating Sim,NaN,NaN,"[25311, 26145, 28277, 33603, 51577, 65827, 791...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,139538,0,1602368467,[1966278],1.525910e+09,[32],sun machine,[82],[213594],"[11666, 13200, 13660, 17130, 25311, 28070, 348...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.platforms.tail(10).values[0]

NameError: name 'df' is not defined

## scraping endpoints
### scrape the end points of each category

In [ ]:
access_token

In [ ]:
df.head()

### platform_families

In [ ]:
def get_platform_families():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; '
    r = requests.post('https://api.igdb.com/v4/platform_families' ,data=data ,  headers=headers)
    platform_families = wrapper.api_request('platform_families', 'fields *;limit 500;')
    x = json.loads(platform_families)
    platform_families =pd.DataFrame(x)
    return platform_families

In [ ]:
platform_families = get_platform_families()
platform_families.head()

In [ ]:
df.columns

### platform_version_release_dates

In [ ]:
def get_platform_version_release():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; '
    r = requests.post('https://api.igdb.com/v4/platform_version_release_dates' ,data=data ,  headers=headers)
    platform_version_release_dates = wrapper.api_request('platform_version_release_dates', 'fields *;limit 500;')
    x = json.loads(platform_version_release_dates)
    platform_version_release_dates =pd.DataFrame(x)
    return platform_version_release_dates

In [ ]:
platform_version_release_dates = get_platform_version_release()
platform_version_release_dates

In [ ]:
# drop columns not needed
platform_version_release_dates = platform_version_release_dates.drop(columns=['category', 'date', 'm', 'y', 'region', 'updated_at', 'checksum', 'updated_at'])
platform_version_release_dates.head()

In [ ]:
df.head()

In [ ]:
version_dates_dict[9] = 'not_available'
version_dates_dict[384] = 'not_available'
version_dates_dict[386] = 'not_available'

In [ ]:
version_dates_list = platform_version_release_dates[['game' , 'human']].sort_values(by='game').reset_index(drop=True)
version_dates_dict = platform_version_release_dates.set_index('game').to_dict()['human']

In [ ]:
def test_funct3(random_list):
    if type(random_list) == list:
        return [version_dates_dict[i] for i in random_list]
    else:  
        return "Not available"

In [ ]:
platforms.set_index('Locality', inplace=True)
data.set_index('Locality', inplace=True)

In [ ]:
df['release_dates'] = df.release_dates.apply(test_funct3)
df.head()

In [ ]:
all_release_dates = pd.merge(release_dates, platform_version_release_dates, how = 'inner', on="human")

In [ ]:
#pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
df.head()

### platform_version_companies

In [ ]:
def get_platform_version_companies():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; '
    r = requests.post('https://api.igdb.com/v4/platform_version_companies' ,data=data ,  headers=headers)
    platform_version_companies = wrapper.api_request('platform_version_companies', 'fields *;limit 500;')
    x = json.loads(platform_version_companies)
    platform_version_companies =pd.DataFrame(x)
    return platform_version_companies

In [ ]:
platform_version_companies=get_platform_version_companies()
platform_version_companies.head()

### platforms (use this)

In [12]:
def get_platforms():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; '
    r = requests.post('https://api.igdb.com/v4/platforms' ,data=data ,  headers=headers)
    platforms = wrapper.api_request('platforms', 'fields *;limit 500;')
    x = json.loads(platforms)
    platforms =pd.DataFrame(x)
    return platforms

In [13]:
platform = get_platforms()
platform.shape

(197, 16)

In [ ]:
platform.head()

In [ ]:
# see if there is a number in id that matches the big df
platform.loc[platform['id'] == 5]

In [ ]:
platform = platform.drop(columns=['alternative_name', 'category', 'created_at', 'platform_logo', 'updated_at', 'url', 'checksum', 'versions', 'websites', 'generation', 'platform_family', 'abbreviation', 'summary'])
platform.head()

In [ ]:
# looking at the dictionary
print(df.get(92, "Not found"))

In [ ]:
df.platforms.iloc[2]

In [14]:
platformlist = platform[['id' , 'name']].sort_values(by='id').reset_index(drop=True)

In [15]:
platform_dict = platformlist.set_index('id').to_dict()['name']

In [18]:
platform_dict[92] = 'not_available'

In [ ]:
platform_dict['0'] = 'not_available'

In [ ]:
import numpy as np
platform.head()

In [ ]:
platform_dict

In [16]:
def test_funct(random_list):
    if type(random_list) == list:
        return [platform_dict[i] for i in random_list]
    else:  
        return "Not available"

In [ ]:
print(platform.get('id', "Not found"))

In [ ]:
df.platforms.info(10)

In [19]:
game_library['platforms'] = game_library.platforms.apply(test_funct)
game_library.head()

,id,category,created_at,external_games,first_release_date,genres,name,platforms,release_dates,similar_games,...,aggregated_rating_count,multiplayer_modes,remasters,remakes,dlcs,ports,expansions,expanded_games,forks,standalone_expansions
0,40104,0,1498435200,"[20127, 1988884]",5.364576e+08,[5],Dogou Souken,[Arcade],[91007],"[12364, 27270, 43367, 103281, 103292, 103298, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,85031,0,1517392813,"[216805, 1969751, 2005770]",1.404346e+09,[9],City Mysteries,[Nintendo 3DS],[138333],"[10603, 19222, 25905, 41349, 86974, 87507, 885...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,99234,0,1524843905,"[603512, 1857496, 1917109]",1.527120e+09,"[31, 32]",Sword of the Black Stone,[PC (Microsoft Windows)],[188385],"[25646, 29783, 68271, 80916, 96217, 105269, 10...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,148930,0,1621959514,"[2052375, 2057300]",NaN,"[13, 15, 31, 32]",Bok-Bok: A Chicken Dating Sim,Not available,NaN,"[25311, 26145, 28277, 33603, 51577, 65827, 791...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,139538,0,1602368467,[1966278],1.525910e+09,[32],sun machine,[Web browser],[213594],"[11666, 13200, 13660, 17130, 25311, 28070, 348...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.loc[df['platforms'] == '3ds']

In [ ]:
df.loc[df['platforms'].notnull()]

### release_dates

In [ ]:
def get_release_dates():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; '
    r = requests.post('https://api.igdb.com/v4/release_dates' ,data=data ,  headers=headers)
    release_dates = wrapper.api_request('release_dates', 'fields *;limit 500;')
    x = json.loads(release_dates)
    release_dates =pd.DataFrame(x)
    return release_dates

In [ ]:
release_dates = get_release_dates()
release_dates.shape

In [ ]:
release_dates = release_dates.drop(columns=['category', 'date', 'm', 'region', 'updated_at', 'y', 'checksum', 'created_at', 'platform'])
release_dates.head()

In [ ]:
release_dates

In [ ]:
# add to dictionary
release_dict[91007] = "not-available"
release_dict[138333] = "not-available"
release_dict[188385] = "not-available"
release_dict[213594] = "not-available"
release_dict[77755] = "not-available"

In [ ]:
releaselist = release_dates[['game' , 'human']].sort_values(by='game').reset_index(drop=True)
release_dict = releaselist.set_index('game').to_dict()['human']

In [ ]:
release_dates.head()

In [ ]:
def test_funct2(random_list):
    if type(random_list) == list:
        return [release_dict[i] for i in random_list]
    else:  
        return "Not available"

In [ ]:
release_dict

In [ ]:
df.release_dates.head()

In [ ]:
df['release_dates'] = pd.DataFrame(df.release_dates.apply(test_funct2))
df

In [ ]:
release_dict

In [ ]:
# add 0 and description to dictionary
release_dict["0"] = "not-available"

### platform_versions

In [ ]:
def get_platform_versions():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; '
    r = requests.post('https://api.igdb.com/v4/platform_versions' ,data=data ,  headers=headers)
    platform_versions = wrapper.api_request('platform_versions', 'fields *;limit 500;')
    x = json.loads(platform_versions)
    platform_versions=pd.DataFrame(x)
    return platform_versions

In [ ]:
platform_versions = get_platform_versions()
platform_versions.shape

In [ ]:
platform_versions.head()

In [ ]:
df.columns

### player_perspectives (use this)

In [20]:
def get_player_perspectives():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; '
    r = requests.post('https://api.igdb.com/v4/player_perspectives' ,data=data ,  headers=headers)
    player_perspectives = wrapper.api_request('player_perspectives', 'fields *;limit 500;')
    x = json.loads(player_perspectives)
    player_perspectives=pd.DataFrame(x)
    return player_perspectives

In [21]:
player_perspectives = get_player_perspectives()
player_perspectives.shape

(7, 7)

In [ ]:
player_perspectives.head()

In [ ]:
player_perspectives = player_perspectives.drop(columns=['created_at','updated_at', 'url', 'checksum'])
player_perspectives.head()

In [22]:
player_perspectives_list = player_perspectives[['id' , 'name']].sort_values(by='id').reset_index(drop=True)
player_perspectives_dict = player_perspectives.set_index('id').to_dict()['name']

In [23]:
def test_funct4(random_list):
    if type(random_list) == list:
        return [player_perspectives_dict[i] for i in random_list]
    else:  
        return "Not available"

In [24]:
game_library['player_perspectives'] = pd.DataFrame(game_library.player_perspectives.apply(test_funct4))
game_library.head()

,id,category,created_at,external_games,first_release_date,genres,name,platforms,release_dates,similar_games,...,aggregated_rating_count,multiplayer_modes,remasters,remakes,dlcs,ports,expansions,expanded_games,forks,standalone_expansions
0,40104,0,1498435200,"[20127, 1988884]",5.364576e+08,[5],Dogou Souken,[Arcade],[91007],"[12364, 27270, 43367, 103281, 103292, 103298, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,85031,0,1517392813,"[216805, 1969751, 2005770]",1.404346e+09,[9],City Mysteries,[Nintendo 3DS],[138333],"[10603, 19222, 25905, 41349, 86974, 87507, 885...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,99234,0,1524843905,"[603512, 1857496, 1917109]",1.527120e+09,"[31, 32]",Sword of the Black Stone,[PC (Microsoft Windows)],[188385],"[25646, 29783, 68271, 80916, 96217, 105269, 10...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,148930,0,1621959514,"[2052375, 2057300]",NaN,"[13, 15, 31, 32]",Bok-Bok: A Chicken Dating Sim,Not available,NaN,"[25311, 26145, 28277, 33603, 51577, 65827, 791...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,139538,0,1602368467,[1966278],1.525910e+09,[32],sun machine,[Web browser],[213594],"[11666, 13200, 13660, 17130, 25311, 28070, 348...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.columns

### themes (use this)

In [25]:
def get_themes():
    headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
    data = 'fields *; '
    r = requests.post('https://api.igdb.com/v4/themes' ,data=data ,  headers=headers)
    themes = wrapper.api_request('themes', 'fields *;limit 500;')
    x = json.loads(themes)
    themes=pd.DataFrame(x)
    return themes

In [26]:
themes = get_themes()
themes.shape

(22, 7)

In [ ]:
themes.head()

In [27]:
themes_list = themes[['id' , 'name']].sort_values(by='id').reset_index(drop=True)
themes_dict = themes.set_index('id').to_dict()['name']

In [28]:
def test_funct5(random_list):
    if type(random_list) == list:
        return [themes_dict[i] for i in random_list]
    else:  
        return "Not available"

In [29]:
game_library['themes'] = pd.DataFrame(game_library.themes.apply(test_funct5))
game_library.head()

,id,category,created_at,external_games,first_release_date,genres,name,platforms,release_dates,similar_games,...,aggregated_rating_count,multiplayer_modes,remasters,remakes,dlcs,ports,expansions,expanded_games,forks,standalone_expansions
0,40104,0,1498435200,"[20127, 1988884]",5.364576e+08,[5],Dogou Souken,[Arcade],[91007],"[12364, 27270, 43367, 103281, 103292, 103298, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,85031,0,1517392813,"[216805, 1969751, 2005770]",1.404346e+09,[9],City Mysteries,[Nintendo 3DS],[138333],"[10603, 19222, 25905, 41349, 86974, 87507, 885...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,99234,0,1524843905,"[603512, 1857496, 1917109]",1.527120e+09,"[31, 32]",Sword of the Black Stone,[PC (Microsoft Windows)],[188385],"[25646, 29783, 68271, 80916, 96217, 105269, 10...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,148930,0,1621959514,"[2052375, 2057300]",NaN,"[13, 15, 31, 32]",Bok-Bok: A Chicken Dating Sim,Not available,NaN,"[25311, 26145, 28277, 33603, 51577, 65827, 791...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,139538,0,1602368467,[1966278],1.525910e+09,[32],sun machine,[Web browser],[213594],"[11666, 13200, 13660, 17130, 25311, 28070, 348...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Genres (use this)

In [30]:
# function that puts response list object into a dataframe for each page
def get_genres(wrapper):
    genres = pd.DataFrame()
    for i in range (0, 409):
        genre = wrapper.api_request('genres', 'fields *; limit 500;')
        y = json.loads(genre)
        results_df =pd.DataFrame(y)
        genres = pd.concat([genres, results_df])
    return genres

In [31]:
genres = get_genres(wrapper)
genres.head()

,id,created_at,name,slug,updated_at,url,checksum
0,4,1297555200,Fighting,fighting,1323216000,https://www.igdb.com/genres/fighting,2ccc6572-bdde-6ed4-8843-25447ea40782
1,5,1297555200,Shooter,shooter,1323216000,https://www.igdb.com/genres/shooter,bb15fd3f-0f46-e5f3-2b40-d046cf9bd2ef
2,7,1297555200,Music,music,1323216000,https://www.igdb.com/genres/music,22d44a0d-89c7-580f-eef2-e06f178fdd47
3,8,1297555200,Platform,platform,1323216000,https://www.igdb.com/genres/platform,697fc5a4-b96f-a803-288a-498bd5dd1de1
4,9,1297555200,Puzzle,puzzle,1323216000,https://www.igdb.com/genres/puzzle,616de9c3-8a00-0232-9df9-00014cfac51b
...,...,...,...,...,...,...,...
18,34,1571788800,Visual Novel,visual-novel,1571788800,https://www.igdb.com/genres/visual-novel,137fe5c7-e4bc-1c30-4c7c-54596b47448f
19,32,1341360000,Indie,indie,1341360000,https://www.igdb.com/genres/indie,2522259f-2454-ec02-5dc0-84373e0508ed
20,35,1588809600,Card & Board Game,card-and-board-game,1588809600,https://www.igdb.com/genres/card-and-board-game,137bcfbe-be08-0b36-b66e-1bfef14ca49a
21,36,1588809600,MOBA,moba,1588809600,https://www.igdb.com/genres/moba,0f17b3a1-6d97-4c02-0997-850adf4dc624
22,2,1297555200,Point-and-click,point-and-click,1323302400,https://www.igdb.com/genres/point-and-click,ef2ff68a-f7bd-d2d0-76cb-c830bd6e3191

In [32]:
genreslist = genres[['id' , 'slug']].sort_values(by='id').reset_index(drop=True)
genres_dict = genreslist.set_index('id').to_dict()['slug']

In [33]:
def test_functg(random_list):
    if type(random_list) == list:
        return [genres_dict[i] for i in random_list]
    else:  
        return "Not available"

In [34]:
game_library['genres'] = pd.DataFrame(game_library.genres.apply(test_functg))
game_library.head()

,id,category,created_at,external_games,first_release_date,genres,name,platforms,release_dates,similar_games,...,aggregated_rating_count,multiplayer_modes,remasters,remakes,dlcs,ports,expansions,expanded_games,forks,standalone_expansions
0,40104,0,1498435200,"[20127, 1988884]",5.364576e+08,[shooter],Dogou Souken,[Arcade],[91007],"[12364, 27270, 43367, 103281, 103292, 103298, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,85031,0,1517392813,"[216805, 1969751, 2005770]",1.404346e+09,[puzzle],City Mysteries,[Nintendo 3DS],[138333],"[10603, 19222, 25905, 41349, 86974, 87507, 885...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,99234,0,1524843905,"[603512, 1857496, 1917109]",1.527120e+09,"[adventure, indie]",Sword of the Black Stone,[PC (Microsoft Windows)],[188385],"[25646, 29783, 68271, 80916, 96217, 105269, 10...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,148930,0,1621959514,"[2052375, 2057300]",NaN,"[simulator, strategy, adventure, indie]",Bok-Bok: A Chicken Dating Sim,Not available,NaN,"[25311, 26145, 28277, 33603, 51577, 65827, 791...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,139538,0,1602368467,[1966278],1.525910e+09,[indie],sun machine,[Web browser],[213594],"[11666, 13200, 13660, 17130, 25311, 28070, 348...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Game modes (use this)

In [41]:
def get_game_modes():
     headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
     data = 'fields *; limit 500;'
     r = requests.post('https://api.igdb.com/v4/game_modes' ,data=data ,  headers=headers)
     game_modes = wrapper.api_request('game_modes', 'fields *;limit 500;')
     x = json.loads(game_modes)
     game_modes =pd.DataFrame(x)
     return game_modes

In [45]:
game_mode = get_game_modes()

In [46]:
game_mode.head()

,id,created_at,name,slug,updated_at,url,checksum
0,1,1298937600,Single player,single-player,1323216000,https://www.igdb.com/game_modes/single-player,a43b1688-f968-3541-0897-9735ffde1745
1,2,1298937600,Multiplayer,multiplayer,1323216000,https://www.igdb.com/game_modes/multiplayer,288b548c-11e4-d910-f037-21d4e6a33b38
2,3,1298937600,Co-operative,co-operative,1323216000,https://www.igdb.com/game_modes/co-operative,e8329d55-33e6-f7ae-ae09-2848cb7ccc90
3,4,1298937600,Split screen,split-screen,1323216000,https://www.igdb.com/game_modes/split-screen,98247b75-6f46-7c77-521f-0945c684d842
4,5,1298937600,Massively Multiplayer Online (MMO),massively-multiplayer-online-mmo,1323216000,https://www.igdb.com/game_modes/massively-mult...,307d1126-6e3b-9215-06f1-10c8ecce05b4

In [47]:
modelist = game_mode[['id' , 'slug']].sort_values(by='id').reset_index(drop=True)
mode_dict = modelist.set_index('id').to_dict()['slug']

In [49]:
def test_functm(random_list):
    if type(random_list) == list:
        return [mode_dict[i] for i in random_list]
    else:  
        return "Not available"

In [50]:
game_library['game_modes'] = pd.DataFrame(game_library.game_modes.apply(test_functm))
game_library.head()

,id,category,external_games,first_release_date,genres,name,platforms,release_dates,similar_games,lower_case_name,...,critic_rating,multiplayer_modes,remasters,remakes,dlcs,ports,expansions,expanded_games,forks,standalone_expansions
0,40104,0,"[20127, 1988884]",5.364576e+08,[shooter],Dogou Souken,[Arcade],[91007],"[12364, 27270, 43367, 103281, 103292, 103298, ...",dogou-souken,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,85031,0,"[216805, 1969751, 2005770]",1.404346e+09,[puzzle],City Mysteries,[Nintendo 3DS],[138333],"[10603, 19222, 25905, 41349, 86974, 87507, 885...",city-mysteries,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,99234,0,"[603512, 1857496, 1917109]",1.527120e+09,"[adventure, indie]",Sword of the Black Stone,[PC (Microsoft Windows)],[188385],"[25646, 29783, 68271, 80916, 96217, 105269, 10...",sword-of-the-black-stone,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,148930,0,"[2052375, 2057300]",NaN,"[simulator, strategy, adventure, indie]",Bok-Bok: A Chicken Dating Sim,Not available,NaN,"[25311, 26145, 28277, 33603, 51577, 65827, 791...",bok-bok-a-chicken-dating-sim,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,139538,0,[1966278],1.525910e+09,[indie],sun machine,[Web browser],[213594],"[11666, 13200, 13660, 17130, 25311, 28070, 348...",sun-machine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
game_library.head()

       id  category              external_games  first_release_date                                   genres                           name                 platforms release_dates                                      similar_games               lower_case_name                                            summary                                          tags                                                url age_ratings involved_companies       game_modes      player_perspectives             themes game_engines keywords  status  rating storyline  total_rating version_title  collection bundles  parent_game  franchise  critic_rating multiplayer_modes remasters remakes dlcs ports expansions expanded_games forks standalone_expansions
0   40104         0            [20127, 1988884]        5.364576e+08                                [shooter]                   Dogou Souken                  [Arcade]       [91007]  [12364, 27270, 43367, 103281, 103292, 103298, ...                  dogou-souken                 An overhead-view shoot'em up game.                                   [268435461]            https://www.igdb.com/games/dogou-souken         NaN                NaN    Not available            Not available      Not available          NaN      NaN     NaN     NaN       NaN           NaN           NaN         NaN     NaN          NaN        NaN            NaN               NaN       NaN     NaN  NaN   NaN        NaN            NaN   NaN                   NaN
1   85031         0  [216805, 1969751, 2005770]        1.404346e+09                                 [puzzle]                 City Mysteries            [Nintendo 3DS]      [138333]  [10603, 19222, 25905, 41349, 86974, 87507, 885...                city-mysteries  Search buildings, streets, landmarks as you se...                                   [268435465]          https://www.igdb.com/games/city-mysteries     [37944]   [130531, 130532]    Not available            Not available      Not available          NaN      NaN     NaN     NaN       NaN           NaN           NaN         NaN     NaN          NaN        NaN            NaN               NaN       NaN     NaN  NaN   NaN        NaN            NaN   NaN                   NaN
2   99234         0  [603512, 1857496, 1917109]        1.527120e+09                       [adventure, indie]       Sword of the Black Stone  [PC (Microsoft Windows)]      [188385]  [25646, 29783, 68271, 80916, 96217, 105269, 10...      sword-of-the-black-stone  If your looking for action and adventure then ...                     [1, 268435487, 268435488]  https://www.igdb.com/games/sword-of-the-black-...         NaN   [155850, 155852]  [single-player]           [Third person]           [Action]          NaN      NaN     NaN     NaN       NaN           NaN           NaN         NaN     NaN          NaN        NaN            NaN               NaN       NaN     NaN  NaN   NaN        NaN            NaN   NaN                   NaN
3  148930         0          [2052375, 2057300]                 NaN  [simulator, strategy, adventure, indie]  Bok-Bok: A Chicken Dating Sim             Not available           NaN  [25311, 26145, 28277, 33603, 51577, 65827, 791...  bok-bok-a-chicken-dating-sim  Have you ever pondered what the romantic life ...  [268435469, 268435471, 268435487, 268435488]  https://www.igdb.com/games/bok-bok-a-chicken-d...         NaN                NaN    Not available            Not available      Not available          NaN      NaN     NaN     NaN       NaN           NaN           NaN         NaN     NaN          NaN        NaN            NaN               NaN       NaN     NaN  NaN   NaN        NaN            NaN   NaN                   NaN
4  139538         0                   [1966278]        1.525910e+09                                  [indie]                    sun machine             [Web browser]      [213594]  [11666, 13200, 13660, 17130, 25311, 28070, 348...                   sun-machine  a story of dark days, chronic fatigue, optimis...                    [18, 268435488, 536896982]             https://www.igdb.com/games/sun-machine         NaN           [117090]  [single-player]  [Bird view / Isometric]  [Science fiction]        [837]  [26070]     NaN     NaN       NaN           NaN           NaN         NaN     NaN          NaN        NaN            NaN               NaN       NaN     NaN  NaN   NaN        NaN            NaN   NaN                   NaN

## Game version features (use this)

In [53]:
def get_game_version_features(wrapper):
    game_version_features = pd.DataFrame()
    for i in range (0, 409):
        a_ratings = wrapper.api_request('game_version_features', 'fields *; limit 500;' f'offset {i * 500};')
        y = json.loads(a_ratings)
        results_df =pd.DataFrame(y)
        game_version_features = pd.concat([game_version_features, results_df])
    return game_version_features

In [54]:
game_version_features = get_game_version_features(wrapper)
game_version_features.head()

    id  category                                        description  position                                 title                          values                              checksum
0  337       0.0  Sharpens your aim with rifles and pistols. Alw...         1  DLC: The Sharpshooter Detective Suit        [1385, 1386, 1387, 1388]  a10d3ebf-ae3a-f0cc-fc68-116b1545a9ac
1  347       0.0                                                NaN         0   25 cm (10") figurine of an Alb Mage                    [1419, 1420]  2a42989b-4936-75bc-6331-0ce79abb225a
2  352       0.0                                                NaN         5                       A making of DVD                    [1429, 1430]  bb46d55f-7145-0b5c-2f69-cea9dd2570d6
3  375       0.0           Double sided print of the in-game island         2                       Collectible map  [1519, 1520, 1521, 1522, 1523]  8a9ea6d0-b5f1-ece2-cd5d-61636d639ad0
4  382       0.0  Exclusive to TESCO in the UK, it included thre...         9                    Combat Strike Pack  [1554, 1555, 1556, 1557, 1558]  263031ce-acb2-69a2-ab66-240dbaad4f4d

In [61]:
game_vf_df = game_version_features[['id','description', 'title']]
game_vf_df.head()

    id                                        description                                 title
0  337  Sharpens your aim with rifles and pistols. Alw...  DLC: The Sharpshooter Detective Suit
1  347                                                NaN   25 cm (10") figurine of an Alb Mage
2  352                                                NaN                       A making of DVD
3  375           Double sided print of the in-game island                       Collectible map
4  382  Exclusive to TESCO in the UK, it included thre...                    Combat Strike Pack

In [62]:
game_vf_df = game_vf_df.rename(columns={'description': 'version_description', 'title': 'title_version'})

## Game version feature values (use this)

In [58]:
def vf_values(wrapper):
    vf_values= pd.DataFrame()
    for i in range (0, 409):
        gvf_values = wrapper.api_request('game_version_feature_values', 'fields *; limit 500;' f'offset {i * 500};')
        y = json.loads(gvf_values)
        results_df =pd.DataFrame(y)
        vf_values = pd.concat([vf_values, results_df])
    return vf_values

In [67]:
gamevfv_df = vf_values(wrapper)
gamevfv_df.head()

     id   game  game_feature  included_feature                              checksum note
0  1581  52617           391               0.0  1db62035-9135-3d01-25a5-9c194d8fbd8f  NaN
1  1590  52617           394               0.0  e2e097d5-c88d-d6ea-48cf-1f5288f6bbe2  NaN
2   591  39045           144               0.0  6ee07864-0f1b-d41f-e2a5-e7dc2731d9a0  NaN
3  1987  83886           503               2.0  612d4e1b-a3b2-60e4-680a-064c0837f71e  NaN
4  1600  19333           399               0.0  ba6dcc29-45c7-6412-ebce-da6731910fb9  NaN

In [65]:
gamevfv_df.head()

     id   game   id  included_feature                              checksum note
0  1581  52617  391               0.0  1db62035-9135-3d01-25a5-9c194d8fbd8f  NaN
1  1590  52617  394               0.0  e2e097d5-c88d-d6ea-48cf-1f5288f6bbe2  NaN
2   591  39045  144               0.0  6ee07864-0f1b-d41f-e2a5-e7dc2731d9a0  NaN
3  1987  83886  503               2.0  612d4e1b-a3b2-60e4-680a-064c0837f71e  NaN
4  1600  19333  399               0.0  ba6dcc29-45c7-6412-ebce-da6731910fb9  NaN

In [68]:
gamevfv_df = gamevfv_df[['game','game_feature']]
gamevfv_df.head()

    game  game_feature
0  52617           391
1  52617           394
2  39045           144
3  83886           503
4  19333           399

In [69]:
gamevfv_df = gamevfv_df.rename(columns={"game_feature": "id"})

In [70]:
gamevfv_df = gamevfv_df.set_index('id')
gamevfv_df.head()

      game
id
391  52617
394  52617
144  39045
503  83886
399  19333

### Merging game feature version and game feature version values (use this)

In [77]:
results_df = pd.merge(gamevfv_df,  game_vf_df , how = 'left', on="id")
results_df.head()

    id   game                                version_description                     title_version
0  391  52617  Delve into the mystery of the Shining Lady, Ca...  Field Report with Removable Coin
1  394  52617  Show the world you've joined the siege with th...       Siege of Dragonspear Amulet
2  144  39045                                                NaN        Bayekâ€™s Eagle Skull Amulet
3  503  83886  Doomsday Prepper Pack includes the prepper out...             Doomsday Prepper Pack
4  399  19333                  Prospect Mask with a display base                     Prospect Mask

In [78]:
results_df = results_df.rename(columns={'id': 'second','game': 'id' })
results_df = results_df.set_index('id')
results_df.head()

       second                                version_description                     title_version
id
52617     391  Delve into the mystery of the Shining Lady, Ca...  Field Report with Removable Coin
52617     394  Show the world you've joined the siege with th...       Siege of Dragonspear Amulet
39045     144                                                NaN        Bayekâ€™s Eagle Skull Amulet
83886     503  Doomsday Prepper Pack includes the prepper out...             Doomsday Prepper Pack
19333     399                  Prospect Mask with a display base                     Prospect Mask

In [79]:
#merging the to the main dataframe
game_library = pd.merge(game_library, results_df, how = 'left', on="id")
game_library.head()

       id  category              external_games  first_release_date                                   genres                           name                 platforms release_dates                                      similar_games               lower_case_name                                            summary                                          tags                                                url age_ratings involved_companies       game_modes      player_perspectives             themes game_engines keywords  status  rating storyline  total_rating version_title  collection bundles  parent_game  franchise  critic_rating multiplayer_modes remasters remakes dlcs ports expansions expanded_games forks standalone_expansions  second version_description title_version
0   40104         0            [20127, 1988884]        5.364576e+08                                [shooter]                   Dogou Souken                  [Arcade]       [91007]  [12364, 27270, 43367, 103281, 103292, 103298, ...                  dogou-souken                 An overhead-view shoot'em up game.                                   [268435461]            https://www.igdb.com/games/dogou-souken         NaN                NaN    Not available            Not available      Not available          NaN      NaN     NaN     NaN       NaN           NaN           NaN         NaN     NaN          NaN        NaN            NaN               NaN       NaN     NaN  NaN   NaN        NaN            NaN   NaN                   NaN     NaN                 NaN           NaN
1   85031         0  [216805, 1969751, 2005770]        1.404346e+09                                 [puzzle]                 City Mysteries            [Nintendo 3DS]      [138333]  [10603, 19222, 25905, 41349, 86974, 87507, 885...                city-mysteries  Search buildings, streets, landmarks as you se...                                   [268435465]          https://www.igdb.com/games/city-mysteries     [37944]   [130531, 130532]    Not available            Not available      Not available          NaN      NaN     NaN     NaN       NaN           NaN           NaN         NaN     NaN          NaN        NaN            NaN               NaN       NaN     NaN  NaN   NaN        NaN            NaN   NaN                   NaN     NaN                 NaN           NaN
2   99234         0  [603512, 1857496, 1917109]        1.527120e+09                       [adventure, indie]       Sword of the Black Stone  [PC (Microsoft Windows)]      [188385]  [25646, 29783, 68271, 80916, 96217, 105269, 10...      sword-of-the-black-stone  If your looking for action and adventure then ...                     [1, 268435487, 268435488]  https://www.igdb.com/games/sword-of-the-black-...         NaN   [155850, 155852]  [single-player]           [Third person]           [Action]          NaN      NaN     NaN     NaN       NaN           NaN           NaN         NaN     NaN          NaN        NaN            NaN               NaN       NaN     NaN  NaN   NaN        NaN            NaN   NaN                   NaN     NaN                 NaN           NaN
3  148930         0          [2052375, 2057300]                 NaN  [simulator, strategy, adventure, indie]  Bok-Bok: A Chicken Dating Sim             Not available           NaN  [25311, 26145, 28277, 33603, 51577, 65827, 791...  bok-bok-a-chicken-dating-sim  Have you ever pondered what the romantic life ...  [268435469, 268435471, 268435487, 268435488]  https://www.igdb.com/games/bok-bok-a-chicken-d...         NaN                NaN    Not available            Not available      Not available          NaN      NaN     NaN     NaN       NaN           NaN           NaN         NaN     NaN          NaN        NaN            NaN               NaN       NaN     NaN  NaN   NaN        NaN            NaN   NaN                   NaN     NaN                 NaN           NaN
4  139538         0                   [1966278]        1.525910e+09                                  [indie]                    sun machine             [Web browser]      [213594]  [11666, 13200, 13660, 17130, 25311, 28070, 348...                   sun-machine  a story of dark days, chronic fatigue, optimis...                    [18, 268435488, 536896982]             https://www.igdb.com/games/sun-machine         NaN           [117090]  [single-player]  [Bird view / Isometric]  [Science fiction]        [837]  [26070]     NaN     NaN       NaN           NaN           NaN         NaN     NaN          NaN        NaN            NaN               NaN       NaN     NaN  NaN   NaN        NaN            NaN   NaN                   NaN     NaN                 NaN           NaN

In [81]:
game_library.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 205781 entries, 0 to 205780
Data columns (total 42 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     205781 non-null  int64
 1   category               205781 non-null  int64
 2   external_games         195546 non-null  object
 3   first_release_date     118958 non-null  float64
 4   genres                 205781 non-null  object
 5   name                   205781 non-null  object
 6   platforms              205781 non-null  object
 7   release_dates          123729 non-null  object
 8   similar_games          166495 non-null  object
 9   lower_case_name        205781 non-null  object
 10  summary                170882 non-null  object
 11  tags                   166519 non-null  object
 12  url                    205781 non-null  object
 13  age_ratings            45162 non-null   object
 14  involved_companies     85398 non-null   object
 15  game_modes             205781 non-null  object
 16  player_perspectives    205781 non-null  object
 17  themes                 205781 non-null  object
 18  game_engines           16777 non-null   object
 19  keywords               80603 non-null   object
 20  status                 12466 non-null   float64
 21  rating                 28674 non-null   float64
 22  storyline              16779 non-null   object
 23  total_rating           33566 non-null   float64
 24  version_title          5813 non-null    object
 25  collection             33811 non-null   float64
 26  bundles                6349 non-null    object
 27  parent_game            20153 non-null   float64
 28  franchise              1564 non-null    float64
 29  critic_rating          14357 non-null   float64
 30  multiplayer_modes      9212 non-null    object
 31  remasters              601 non-null     object
 32  remakes                562 non-null     object
 33  dlcs                   2291 non-null    object
 34  ports                  2172 non-null    object
 35  expansions             603 non-null     object
 36  expanded_games         857 non-null     object
 37  forks                  34 non-null      object
 38  standalone_expansions  236 non-null     object
 39  second                 1433 non-null    float64
 40  version_description    585 non-null     object
 41  title_version          1433 non-null    object
dtypes: float64(9), int64(2), object(31)
memory usage: 67.5+ MB

## Multi player mode (use this)

In [84]:
headers = {'Client-ID': f'{Client_ID}', 'Authorization': f'Bearer {access_token}'}
data = 'fields *; limit 500;'
r = requests.post('https://api.igdb.com/v4/multiplayer_modes' ,data=data ,  headers=headers)
multiplayer_modes = wrapper.api_request('multiplayer_modes', 'fields *;limit 500;')
x = json.loads(multiplayer_modes)
multiplayer_modes =pd.DataFrame(x)

In [85]:
multiplayer_modes.head()

      id  campaigncoop  dropin   game  lancoop  offlinecoop  offlinemax  onlinecoop  platform  splitscreen                              checksum  offlinecoopmax  onlinecoopmax  onlinemax
0   9953         False   False  92273    False        False         2.0       False      22.0        False  1b94d937-dc0c-c62d-10af-e58d42860bd8             NaN            NaN        NaN
1   1832          True    True   7153    False         True         0.0       False      12.0        False  2b09f64f-b8b9-6948-ad98-9ab9bede8e3b             2.0            0.0        0.0
2   7987         False   False  57887    False         True         2.0       False      49.0        False  56c9ee4c-aae3-ba3c-ead0-9e899e1c5267             0.0            0.0        0.0
3      7         False   False  46076    False        False        30.0       False       6.0        False  a41bcf9c-976d-8690-629f-4c2737f65bf1             NaN            NaN        NaN
4  10207         False   False  31256    False        False         NaN       False      82.0        False  788009fd-9e08-5826-577b-9844575ba2d9             NaN            NaN        NaN

In [86]:
def multi_play(wrapper):
    multi_play= pd.DataFrame()
    for i in range (0, 409):
        multi_values = wrapper.api_request('multiplayer_modes', 'fields *; limit 500;' f'offset {i * 500};')
        y = json.loads(multi_values)
        results_df =pd.DataFrame(y)
        multi_play = pd.concat([multi_play, multiplayer_modes])
    return multi_play

In [87]:
multi_df = multi_play(wrapper)

In [88]:
multi_df.head()

      id  campaigncoop  dropin   game  lancoop  offlinecoop  offlinemax  onlinecoop  platform  splitscreen                              checksum  offlinecoopmax  onlinecoopmax  onlinemax
0   9953         False   False  92273    False        False         2.0       False      22.0        False  1b94d937-dc0c-c62d-10af-e58d42860bd8             NaN            NaN        NaN
1   1832          True    True   7153    False         True         0.0       False      12.0        False  2b09f64f-b8b9-6948-ad98-9ab9bede8e3b             2.0            0.0        0.0
2   7987         False   False  57887    False         True         2.0       False      49.0        False  56c9ee4c-aae3-ba3c-ead0-9e899e1c5267             0.0            0.0        0.0
3      7         False   False  46076    False        False        30.0       False       6.0        False  a41bcf9c-976d-8690-629f-4c2737f65bf1             NaN            NaN        NaN
4  10207         False   False  31256    False        False         NaN       False      82.0        False  788009fd-9e08-5826-577b-9844575ba2d9             NaN            NaN        NaN

In [ ]:
def test_functg(random_list):
    if type(random_list) == list:
        return [genres_dict[i] for i in random_list]
    else:  
        return "Not available"

In [89]:
multi_df = multi_df.rename(columns={'game': 'id', 'id': 'second_id'})

In [90]:
multi_df = multi_df.set_index('id')

In [96]:
game_library.dropin.tail(30)

423254    False
423255    False
423256    False
423257    False
423258    False
423259    False
423260    False
423261    False
423262    False
423263    False
423264    False
423265    False
423266    False
423267    False
423268    False
423269    False
423270    False
423271    False
423272    False
423273    False
423274    False
423275    False
423276    False
423277    False
423278    False
423279    False
423280      NaN
423281      NaN
423282      NaN
423283      NaN
Name: dropin, dtype: object

In [93]:
game_library.columns

Index(['id', 'category', 'external_games', 'first_release_date', 'genres', 'name', 'platforms', 'release_dates', 'similar_games', 'lower_case_name', 'summary', 'tags', 'url', 'age_ratings', 'involved_companies', 'game_modes', 'player_perspectives', 'themes', 'game_engines', 'keywords', 'status', 'rating', 'storyline', 'total_rating', 'version_title', 'collection', 'bundles', 'parent_game', 'franchise', 'critic_rating', 'multiplayer_modes', 'remasters', 'remakes', 'dlcs', 'ports', 'expansions', 'expanded_games', 'forks', 'standalone_expansions', 'second', 'version_description', 'title_version', 'second_id', 'campaigncoop', 'dropin', 'lancoop', 'offlinecoop', 'offlinemax', 'onlinecoop', 'platform', 'splitscreen', 'checksum', 'offlinecoopmax', 'onlinecoopmax', 'onlinemax'], dtype='object')

In [92]:
game_library.splitscreen.value_counts()

False    179142
True      38855
Name: splitscreen, dtype: int64

In [91]:
#marging this together with the main df
game_library = pd.merge(game_library, multi_df, how = 'left', on="id")
game_library.head()

       id  category              external_games  first_release_date                                   genres                           name                 platforms release_dates                                      similar_games               lower_case_name                                            summary                                          tags                                                url age_ratings involved_companies       game_modes      player_perspectives             themes game_engines keywords  status  rating storyline  total_rating version_title  collection bundles  parent_game  franchise  critic_rating multiplayer_modes remasters remakes dlcs ports expansions expanded_games forks standalone_expansions  second version_description title_version  second_id campaigncoop dropin lancoop offlinecoop  offlinemax onlinecoop  platform splitscreen checksum  offlinecoopmax  onlinecoopmax  onlinemax
0   40104         0            [20127, 1988884]        5.364576e+08                                [shooter]                   Dogou Souken                  [Arcade]       [91007]  [12364, 27270, 43367, 103281, 103292, 103298, ...                  dogou-souken                 An overhead-view shoot'em up game.                                   [268435461]            https://www.igdb.com/games/dogou-souken         NaN                NaN    Not available            Not available      Not available          NaN      NaN     NaN     NaN       NaN           NaN           NaN         NaN     NaN          NaN        NaN            NaN               NaN       NaN     NaN  NaN   NaN        NaN            NaN   NaN                   NaN     NaN                 NaN           NaN        NaN          NaN    NaN     NaN         NaN         NaN        NaN       NaN         NaN      NaN             NaN            NaN        NaN
1   85031         0  [216805, 1969751, 2005770]        1.404346e+09                                 [puzzle]                 City Mysteries            [Nintendo 3DS]      [138333]  [10603, 19222, 25905, 41349, 86974, 87507, 885...                city-mysteries  Search buildings, streets, landmarks as you se...                                   [268435465]          https://www.igdb.com/games/city-mysteries     [37944]   [130531, 130532]    Not available            Not available      Not available          NaN      NaN     NaN     NaN       NaN           NaN           NaN         NaN     NaN          NaN        NaN            NaN               NaN       NaN     NaN  NaN   NaN        NaN            NaN   NaN                   NaN     NaN                 NaN           NaN        NaN          NaN    NaN     NaN         NaN         NaN        NaN       NaN         NaN      NaN             NaN            NaN        NaN
2   99234         0  [603512, 1857496, 1917109]        1.527120e+09                       [adventure, indie]       Sword of the Black Stone  [PC (Microsoft Windows)]      [188385]  [25646, 29783, 68271, 80916, 96217, 105269, 10...      sword-of-the-black-stone  If your looking for action and adventure then ...                     [1, 268435487, 268435488]  https://www.igdb.com/games/sword-of-the-black-...         NaN   [155850, 155852]  [single-player]           [Third person]           [Action]          NaN      NaN     NaN     NaN       NaN           NaN           NaN         NaN     NaN          NaN        NaN            NaN               NaN       NaN     NaN  NaN   NaN        NaN            NaN   NaN                   NaN     NaN                 NaN           NaN        NaN          NaN    NaN     NaN         NaN         NaN        NaN       NaN         NaN      NaN             NaN            NaN        NaN
3  148930         0          [2052375, 2057300]                 NaN  [simulator, strategy, adventure, indie]  Bok-Bok: A Chicken Dating Sim             Not available           NaN  [25311, 26145, 28277, 33603, 51577, 65827, 791...  bok-bok-a-chicken-dating-sim  Have you ever pondered what the romantic life ...  [268435469, 268435471, 268435487, 268435488]  https://www.igdb.com/games/bok-bok-a-chicken-d...         NaN                NaN    Not available            Not available      Not available          NaN      NaN     NaN     NaN       NaN           NaN           NaN         NaN     NaN          NaN        NaN            NaN               NaN       NaN     NaN  NaN   NaN        NaN            NaN   NaN                   NaN     NaN                 NaN           NaN        NaN          NaN    NaN     NaN         NaN         NaN        NaN       NaN         NaN      NaN             NaN            NaN        NaN
4  139538         0                   [1966278]        1.525910e+09                                  [indie]                    sun machine             [Web browser]      [213594]  [11666, 13200, 13660, 17130, 25311, 28070, 348...                   sun-machine  a story of dark days, chronic fatigue, optimis...                    [18, 268435488, 536896982]             https://www.igdb.com/games/sun-machine         NaN           [117090]  [single-player]  [Bird view / Isometric]  [Science fiction]        [837]  [26070]     NaN     NaN       NaN           NaN           NaN         NaN     NaN          NaN        NaN            NaN               NaN       NaN     NaN  NaN   NaN        NaN            NaN   NaN                   NaN     NaN                 NaN           NaN        NaN          NaN    NaN     NaN         NaN         NaN        NaN       NaN         NaN      NaN             NaN            NaN        NaN

### Read the CSV for games

In [51]:
#pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [35]:
game_library.shape

(204500, 55)

In [ ]:
game_library = game_library.drop(columns=['websites', 'created_at', 'updated_at', 'artworks', 'cover','screenshots', 'videos', 'checksum', 'alternative_names', 'rating_count', 'total_rating_count', 'version_parent', 'hypes', 'franchises', 'follows', 'aggregated_rating_count'])
game_library.shape

In [38]:
game_library.shape

(204500, 39)

In [40]:
game_library.rename(columns={'slug': 'lower_case_name', 'aggregated_rating': 'critic_rating'}, inplace=True)
game_library.head()

,id,category,external_games,first_release_date,genres,name,platforms,release_dates,similar_games,lower_case_name,...,critic_rating,multiplayer_modes,remasters,remakes,dlcs,ports,expansions,expanded_games,forks,standalone_expansions
0,40104,0,"[20127, 1988884]",5.364576e+08,[shooter],Dogou Souken,[Arcade],[91007],"[12364, 27270, 43367, 103281, 103292, 103298, ...",dogou-souken,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,85031,0,"[216805, 1969751, 2005770]",1.404346e+09,[puzzle],City Mysteries,[Nintendo 3DS],[138333],"[10603, 19222, 25905, 41349, 86974, 87507, 885...",city-mysteries,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,99234,0,"[603512, 1857496, 1917109]",1.527120e+09,"[adventure, indie]",Sword of the Black Stone,[PC (Microsoft Windows)],[188385],"[25646, 29783, 68271, 80916, 96217, 105269, 10...",sword-of-the-black-stone,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,148930,0,"[2052375, 2057300]",NaN,"[simulator, strategy, adventure, indie]",Bok-Bok: A Chicken Dating Sim,Not available,NaN,"[25311, 26145, 28277, 33603, 51577, 65827, 791...",bok-bok-a-chicken-dating-sim,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,139538,0,[1966278],1.525910e+09,[indie],sun machine,[Web browser],[213594],"[11666, 13200, 13660, 17130, 25311, 28070, 348...",sun-machine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Dataframe with ratings

In [ ]:
df2 = df[df['rating'].notnull()]
df2.head()

In [ ]:
df2.rating.isnull().sum()

### Dataframe with nulls in rating column

In [ ]:
df3 = df[df['rating'].isnull()]
df3.shape